In [ ]:
# https://www.hurun.net/en-US/Rank/HsRankDetailsList?num=GJD3WF1Q&search=&offset=0&limit=200

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("darkgrid")

In [3]:
import requests as req

In [4]:
import json

In [23]:
url = 'https://www.hurun.net/en-US/Rank/HsRankDetailsList?num=GJD3WF1Q&search=&offset=0&limit=200'
data_orig = req.get(url).json()

In [25]:
import copy

In [29]:
data = copy.deepcopy(data_orig)

In [42]:
data['total']

3381

In [7]:
data.keys()

dict_keys(['rows', 'total'])

In [9]:
data['rows'][0].keys()

dict_keys(['hs_Character', 'hs_Rank_Global_Nationality', 'hs_Rank_Global_NativePlace_Cn', 'hs_Rank_Global_NativePlace_En', 'hs_Rank_Global_BirthPlace_Cn', 'hs_Rank_Global_BirthPlace_En', 'hs_Rank_Global_Permanent_Cn', 'hs_Rank_Global_Permanent_En', 'hs_Rank_Global_Photo', 'hs_Rank_Global_Age', 'hs_Rank_Global_Gender', 'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En', 'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En', 'hs_Rank_Global_Year', 'hs_Rank_Global_Relations', 'hs_Rank_Global_MTime', 'hs_Rank_Global_ID', 'hs_Rank_Global_ListID', 'hs_Rank_Global_Ranking', 'hs_Rank_Global_Ranking_Change', 'hs_Rank_Global_Wealth', 'hs_Rank_Global_Wealth_USD', 'hs_Rank_Global_Wealth_Change', 'hs_Rank_Global_ChaName_Cn', 'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_Cha_ID', 'hs_Rank_Global_ComName_Cn', 'hs_Rank_Global_ComName_En', 'hs_Rank_Global_ComHeadquarters_Cn', 'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_Industry_Cn', 'hs_Rank_Global_Industry_En', 'hs_Rank_Global_Com_ID', 'hs_GlobalAndCha'])

In [11]:
data['rows'][0]

{'hs_Character': [{'hs_Character_Gender': '先生',
   'hs_Character_Birthday': '1971-06-28',
   'hs_Character_Age': '51',
   'hs_Character_MTime': '1905-06-30 12:00:00',
   'hs_Character_Gender_Lang': 'Male',
   'hs_Character_ID': 2200,
   'hs_Character_Fullname_Cn': '埃隆·马斯克',
   'hs_Character_Fullname_En': 'Elon Musk',
   'hs_Character_Surname_Cn': '',
   'hs_Character_Name_Cn': '',
   'hs_Character_Surname_En': '',
   'hs_Character_Name_En': '',
   'hs_Character_Photo': 'https://res.hurun.cn/photo/002200_Elon_Musk.jpg',
   'hs_Character_Nationality': 123,
   'hs_Character_NativePlace_Cn': '',
   'hs_Character_NativePlace_En': '',
   'hs_Character_BirthPlace_Cn': '',
   'hs_Character_BirthPlace_En': '',
   'hs_Character_Permanent_Cn': '美国-加利福尼亚-洛杉矶',
   'hs_Character_Permanent_En': 'United States-California-Los Angeles',
   'hs_Character_Education_Cn': '本科',
   'hs_Character_Education_En': 'Graduation',
   'hs_Character_School_Cn': '宾夕法尼亚大学',
   'hs_Character_School_En': '',
   'hs_Character_Major_Cn': 'University of Pennsylvania',
   'hs_Character_Major_En': '应用物理与材料科学'}],
 'hs_Rank_Global_Nationality': None,
 'hs_Rank_Global_NativePlace_Cn': None,
 'hs_Rank_Global_NativePlace_En': None,
 'hs_Rank_Global_BirthPlace_Cn': None,
 'hs_Rank_Global_BirthPlace_En': None,
 'hs_Rank_Global_Permanent_Cn': None,
 'hs_Rank_Global_Permanent_En': None,
 'hs_Rank_Global_Photo': None,
 'hs_Rank_Global_Age': None,
 'hs_Rank_Global_Gender': None,
 'hs_Rank_Global_Education_Cn': None,
 'hs_Rank_Global_Education_En': None,
 'hs_Rank_Global_School_Cn': None,
 'hs_Rank_Global_School_En': None,
 'hs_Rank_Global_Year': '2022-03-17',
 'hs_Rank_Global_Relations': '未知',
 'hs_Rank_Global_MTime': '2022-03-17 12:00:00',
 'hs_Rank_Global_ID': 8516,
 'hs_Rank_Global_ListID': 46,
 'hs_Rank_Global_Ranking': 1,
 'hs_Rank_Global_Ranking_Change': '0',
 'hs_Rank_Global_Wealth': 12900.0,
 'hs_Rank_Global_Wealth_USD': 205.0,
 'hs_Rank_Global_Wealth_Change': '4%',
 'hs_Rank_Global_ChaName_Cn': '埃隆·马斯克',
 'hs_Rank_Global_ChaName_En': 'Elon Musk',
 'hs_Rank_Global_Cha_ID': '2200',
 'hs_Rank_Global_ComName_Cn': '特斯拉',
 'hs_Rank_Global_ComName_En': 'Tesla ',
 'hs_Rank_Global_ComHeadquarters_Cn': '美国-洛杉矶',
 'hs_Rank_Global_ComHeadquarters_En': 'USA-Los Angeles',
 'hs_Rank_Global_Industry_Cn': '新能源汽车',
 'hs_Rank_Global_Industry_En': 'E-Cars',
 'hs_Rank_Global_Com_ID': '0',
 'hs_GlobalAndCha': None}

In [14]:
# use hs_Character_Permanent_En for geo

In [33]:
def create_record(r):
    row = copy.deepcopy(r)
    record = pd.DataFrame.from_records(row.pop('hs_Character'))
    for k, v in row.items():
        record[k] = v
    return record

In [35]:
create_record(data['rows'][13])

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_ChaName_En,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha
0,先生,1984-05-14,38,1905-06-30 12:00:00,Male,2178,马克·扎克伯格,Mark Zuckerberg,,,...,Mark Zuckerberg,2178,Meta,Meta,美国-帕罗奥图,USA-Palo Alto,媒体,Media,0,None

In [36]:
recs = [create_record(x) for x in data['rows']]

recs = pd.concat(recs, ignore_index=True)

In [40]:
recs = recs.set_index('hs_Character_ID')

In [41]:
recs

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,hs_Character_Surname_En,...,hs_Rank_Global_ChaName_En,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha
hs_Character_ID,,,,,,,,,,,,,,,,,,,,,
2200,先生,1971-06-28,51,1905-06-30 12:00:00,Male,埃隆·马斯克,Elon Musk,,,,...,Elon Musk,2200,特斯拉,Tesla,美国-洛杉矶,USA-Los Angeles,新能源汽车,E-Cars,0,None
2174,先生,1964-01-12,58,1905-06-30 12:00:00,Male,杰夫·贝佐斯,Jeff Bezos,,,,...,Jeff Bezos,2174,亚马逊,Amazon,美国-西雅图,USA-Seattle,电子商务,E-Commerce,0,None
2177,先生,1949-05-03,73,1905-06-30 12:00:00,Male,伯纳德·阿诺特,Bernard Arnault,,,,...,Bernard Arnault,2177,酩悦·轩尼诗-路易·威登,LVMH,法国-巴黎,France-Paris,奢侈品,Luxury Goods,0,None
2175,先生,1955-10-28,67,1905-06-30 12:00:00,Male,比尔·盖茨,Bill Gates,,,,...,Bill Gates,2175,微软,Microsoft,美国-麦地那,USA-Medina,软件与服务,Software & Services,0,None
2176,先生,1930-08-30,92,1905-06-30 12:00:00,Male,沃伦·巴菲特,Warren Buffett,,,,...,Warren Buffett,2176,伯克希尔·哈撒韦,Berkshire Hathaway,美国-奥马哈,USA-Omaha,投资,Investments,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,先生,1964-03-01,58,1905-06-30 12:00:00,Male,王玉锁,Wang Yusuo,王,玉锁,Wang,...,Wang Yusuo & Zhao Baoju,37、1827,新奥,ENN,中国-廊坊,China-Langfang,石油与天然气,Oil & Gas,0,None
1827,女士,1965-07-01,57,1905-06-30 12:00:00,Female,赵宝菊,Zhao Baoju,赵,宝菊,Zhao,...,Wang Yusuo & Zhao Baoju,37、1827,新奥,ENN,中国-廊坊,China-Langfang,石油与天然气,Oil & Gas,0,None
2320,先生,1952-11-29,70,1905-06-30 12:00:00,Male,安德鲁·比尔,Andrew Beal,,,,...,Andrew Beal,2320,Beal Bank,Beal Bank,美国-达拉斯,USA-Dallas,银行业,Banking,0,None
2978,先生,1990-08-06,32,1905-06-30 12:00:00,Male,约翰·科里森,John Collison,,,,...,John Collison,2978,Stripe,Stripe,美国-旧金山,USA-San Francisco,支付,Financial Services,0,None
2989,先生,1988-09-09,34,1905-06-30 12:00:00,Male,帕特里克·科里森,Patrick Collison,,,,...,Patrick Collison,2989,Stripe,Stripe,美国-旧金山,USA-San Francisco,支付,Financial Services,0,None

In [43]:
data['total']

3381

In [45]:
offsets = list(range(0, 3381, 200))

In [47]:
jsons = []
url_tmpl = 'https://www.hurun.net/en-US/Rank/HsRankDetailsList?num=GJD3WF1Q&search=&offset={}&limit=200'

def download():
    for o in offsets:
        print(o)
        url = url_tmpl.format(o)
        jsons.append(req.get(url).json())

In [48]:
download()

0
200
400
600
800
1000
1200
1400
1600
1800
2000
2200
2400
2600
2800
3000
3200

In [49]:
recs = []

for j in jsons:
    for r in j['rows']:
        recs.append(create_record(r))

In [50]:
recs = pd.concat(recs, ignore_index=True)

In [51]:
recs

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_ChaName_En,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha
0,先生,1971-06-28,51,1905-06-30 12:00:00,Male,2200,埃隆·马斯克,Elon Musk,,,...,Elon Musk,2200,特斯拉,Tesla,美国-洛杉矶,USA-Los Angeles,新能源汽车,E-Cars,0,None
1,先生,1964-01-12,58,1905-06-30 12:00:00,Male,2174,杰夫·贝佐斯,Jeff Bezos,,,...,Jeff Bezos,2174,亚马逊,Amazon,美国-西雅图,USA-Seattle,电子商务,E-Commerce,0,None
2,先生,1949-05-03,73,1905-06-30 12:00:00,Male,2177,伯纳德·阿诺特,Bernard Arnault,,,...,Bernard Arnault,2177,酩悦·轩尼诗-路易·威登,LVMH,法国-巴黎,France-Paris,奢侈品,Luxury Goods,0,None
3,先生,1955-10-28,67,1905-06-30 12:00:00,Male,2175,比尔·盖茨,Bill Gates,,,...,Bill Gates,2175,微软,Microsoft,美国-麦地那,USA-Medina,软件与服务,Software & Services,0,None
4,先生,1930-08-30,92,1905-06-30 12:00:00,Male,2176,沃伦·巴菲特,Warren Buffett,,,...,Warren Buffett,2176,伯克希尔·哈撒韦,Berkshire Hathaway,美国-奥马哈,USA-Omaha,投资,Investments,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3593,先生,1966-01-01,56,2021-03-02 12:00:00,Male,6225,Lloyd D Frink,Lloyd D Frink,,,...,Lloyd D Frink,6225,Zillow,Zillow,美国-华盛顿,USA-Seattle,在线市场,Online Marketplace,0,None
3594,先生,1963-04-01,59,1905-06-30 12:00:00,Male,327,涂建华,Tu Jianhua,涂,建华,...,Tu Jianhua,327,广联达,Glodon,中国-北京,China-Beijing,建筑,Productivity software,0,None
3595,女士,1900-01-01,未知,1905-06-30 12:00:00,Female,3363,海伦娜·雷沃雷多,Helena Revoredo,,,...,Helena Revoredo,3363,Prosegur,Prosegur,西班牙-马德里,Spain-Madrid,安全软件,Technology Services,0,None
3596,先生,1933-01-01,89,2020-08-13 12:00:00,Male,5118,Vardis Vardinoyannis,Vardis Vardinoyannis,,,...,Vardis Vardinoyannis,5118,Motor Oil Hellas,Motor Oil Hellas,希腊-雅典,Greece-Athens,贸易,Commodities,0,None
3597,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,4090,冯国纶,William Fung Kwok-lun,,,...,William Fung Kwok-lun,4090,利丰,Li & Fung,中国-香港,China-Hong Kong,物流,Logistics,0,None

In [55]:
recs['year'] = 2022

In [57]:
recs.to_csv('../source/hurun_2022.csv', index=False)

In [52]:
# above is for 2022

In [ ]:
# for 2019-2021

In [62]:
urlnum = {
    2022: 'GJD3WF1Q',
    2021: 'IH8GTUI9',
    2020: 'PYSXN53E',
    2019: 'Q9TGQF1L'
}

In [55]:
url_tmpl = 'https://www.hurun.net/en-US/Rank/HsRankDetailsList?num={}&search=&offset={}&limit=200'

def download(y):
    jsons = []
    for o in offsets:
        print(o)
        url = url_tmpl.format(urlnum[y], o)
        jsons.append(req.get(url).json())
    return jsons

In [58]:
num = '8407ACFCBC85'
u = url_tmpl.format(num, 0)
jsons = req.get(u).json()

JSONDecodeError: [Errno Expecting value] : 0

In [74]:
year = 2019
jsons = download(year)

0
200
400
600
800
1000
1200
1400
1600
1800
2000
2200
2400
2600
2800
3000
3200

In [75]:
recs = []

for j in jsons:
    for r in j['rows']:
        recs.append(create_record(r))

In [76]:
recs = pd.concat(recs, ignore_index=True)

In [77]:
recs['year'] = year

In [78]:
recs.to_csv('../source/hurun_{}.csv'.format(year), index=False)

In [ ]:
# earlier: use web archive 
# https://web.archive.org/web/20180905115823/http://hurun.net/EN/HuList/Index?num=HoBeMiGGfk

# TODO

In [8]:
other_urls = dict([[2018, "http://web.archive.org/web/20180905120110/http://hurun.net/EN/HuList/ListJson/14"],
                  [2017, "http://web.archive.org/web/20180905120110/http://hurun.net/EN/HuList/ListJson/2"]]
                 )

In [9]:
js = req.get('http://web.archive.org/web/20180905120110/http://hurun.net/EN/HuList/ListJson/14')

In [10]:
j = js.json()

In [11]:
j[0]

{'ID': 13849,
 'Ranking': 1,
 'NameEn': 'Jeff Bezos',
 'Wealth': '123',
 'Birthday': '1964',
 'CNameEn': 'Amazon',
 'IndustryEn': 'Online Retail'}

In [14]:
pd.DataFrame.from_records(j).set_index('ID')

,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn
ID,,,,,,
13849,1,Jeff Bezos,123,1964,Amazon,Online Retail
13850,2,Warren Buffett,102,1931,Berkshire Hathaway,Investments
13851,3,Bill Gates,90,1956,Microsoft,Investments
13852,4,Mark Zuckerberg,79,1985,Facebook,Technology
13853,5,Bernard Arnault,78,1950,LVMH,Single Brand Retailing
...,...,...,...,...,...,...
16538,2690,Zhang Yuxiang & Zhu Xuelian,1,1964,Nanji,Clothing
16539,2691,Zhang Zhiyong & Zhang Min,1,1963、1967,Zhang Zhiyong & Zhang Min,Telecom
16540,2692,Zhao Kai,1,/,Chengdu International Exhibition & Convention ...,Real estate
16541,2693,Zhou Ruxin,1,1963,Zhou Ruxin,Satellite navigating equipment
16542,2694,Zhu Yaowen,1,1964,Jiu Wu,"Investments, Real estate"

In [15]:
def download_json(year):
    url = other_urls[year]
    js = req.get(url).json()
    res = pd.DataFrame.from_records(js).set_index('ID')
    res['year'] = year
    return res

In [12]:
hurun_list = dict()

In [16]:
hurun_list[2018] = download_json(2018)

In [17]:
hurun_list[2017] = download_json(2017)

In [18]:
hurun_list[2017]

,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year
ID,,,,,,,
2057,1,Bill Gates,81,1956,Microsoft,Investments,2017
2058,2,Warren Buffett,78,1931,Berkshire Hathaway,Investments,2017
2059,3,Jeff Bezos,72,1964,Amazon,Online Retail,2017
2060,4,Amancio Ortega,69,1937,Inditex,Single Brand Retailing,2017
2061,5,Mark Zuckerberg,58,1985,Facebook,Technology,2017
...,...,...,...,...,...,...,...
4309,2114,Zeng Baobao,1,1971,Fantasia,Real estate,2017
4310,2114,Zhang Desheng,1,1949,Wanma,TMT,2017
4311,2114,Zhu Min & Xu Yuqing,1,1948、1949,Cybernaut,Investments,2017
4312,2114,Zhuo Jun,1,1966,Kingwong,Electric,2017
4313,2114,Zuo Hongbo & Zhe Shuxia,1,1965、1963,Aurora,Manufacturing,2017

In [19]:
hurun_list[2018]

,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year
ID,,,,,,,
13849,1,Jeff Bezos,123,1964,Amazon,Online Retail,2018
13850,2,Warren Buffett,102,1931,Berkshire Hathaway,Investments,2018
13851,3,Bill Gates,90,1956,Microsoft,Investments,2018
13852,4,Mark Zuckerberg,79,1985,Facebook,Technology,2018
13853,5,Bernard Arnault,78,1950,LVMH,Single Brand Retailing,2018
...,...,...,...,...,...,...,...
16538,2690,Zhang Yuxiang & Zhu Xuelian,1,1964,Nanji,Clothing,2018
16539,2691,Zhang Zhiyong & Zhang Min,1,1963、1967,Zhang Zhiyong & Zhang Min,Telecom,2018
16540,2692,Zhao Kai,1,/,Chengdu International Exhibition & Convention ...,Real estate,2018
16541,2693,Zhou Ruxin,1,1963,Zhou Ruxin,Satellite navigating equipment,2018
16542,2694,Zhu Yaowen,1,1964,Jiu Wu,"Investments, Real estate",2018

In [20]:
# from above we can see the ID is different in different years. Don't use it for index.

In [21]:
hurun_list[2018].to_csv('../source/hurun_2018.csv')
hurun_list[2017].to_csv('../source/hurun_2017.csv')

In [22]:
# 2012-2016

In [23]:
df = pd.read_csv('/home/semio/tmp/tmpshare/2016.csv')

In [24]:
df

,Rank,Wealth(US$),Name,Sex,Birth,Companies,Industry
0,1,$ 80000 M,Bill Gates,Male,1956,Microsoft,Investments
1,2,$ 68000 M,Warren Buffett brothers,Male,1931,Berkshire Hathaway,Investments
2,3,$ 64000 M,Amancio Ortega brothers,Male,1937,Inditex,Single Brand Retailing
3,4,$ 53000 M,Jeff Bezos,Male,1964,Amazon,Online Retail
4,5,$ 50000 M,Carlos Slim Helu family,Male,1940,America Movil,Telecom
...,...,...,...,...,...,...,...
95,91,$ 11000 M,Khalif bin zayed an Nahyas,Male,1948,SBK Holdings,/
96,91,$ 11000 M,Hans Rausing,Male,1925,Tetra Pak,Packaging
97,91,$ 11000 M,Andrew Beal,Male,1953,Beal Bank,Investments
98,91,$ 11000 M,Jack Taylor family,Male,1922,Enterprise Rent A Car,Logistics
99,91,$ 11000 M,Steve Cohen,Male,1956,Sac Capital,Hedge Funds

In [16]:
def download_older(year):
    df = pd.read_csv(f'/home/semio/tmp/tmpshare/{year}.csv')
    df['year'] = year
    return df

In [30]:
download_older(2012)

,Rank,Wealth,Name,Sex,Birth,Companies,Industry,year
0,1,$ 55000 Million,Carlos Slim Helu family,Male,1940,America Movil,Telecom,2012
1,2,$ 50000 Million,Bill Gates,Male,1956,Microsoft,Investments,2012
2,3,$ 48000 Million,Warren Buffett brothers,Male,1931,Berkshire Hathaway,Investments,2012
3,4,$ 42000 Million,Bernard Arnault,Male,1950,LVMH,Single Brand Retailing,2012
4,5,$ 37000 Million,Larry Ellison,Male,1945,Oracle,Technology,2012
...,...,...,...,...,...,...,...,...
78,78,$ 10500 Million,Zong Qinghou family,Male,1945,Wahaha,Drinks,2012
79,78,$ 10500 Million,Klaus-Michael Kuhne,Male,1937,Kuehne & Nagel,Shipping,2012
80,78,$ 10500 Million,Hans Rausing,Male,1925,Tetra Pack,Packaging,2012
81,82,$ 10000 Million,Ernesto Bertarelli family,Male,1965,Serono,Pharmaceuticals,2012
82,82,$ 10000 Million,Gerald Cavendish Grosvenor family,Male,1951,Grosvenor,Real Estate,2012

In [27]:
hurun_list[2016] = download_older(2016)
hurun_list[2015] = download_older(2015)
hurun_list[2014] = download_older(2014)
hurun_list[2013] = download_older(2013)
hurun_list[2012] = download_older(2012)

In [33]:
for i in range(2012, 2017):
    print(i)
    hurun_list[i].to_csv(f'../source/hurun_{i}.csv', index=False)

2012
2013
2014
2015
2016

In [34]:
# next: combine all hurun list to a big list, create population by geo, year

In [9]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.sandbox.regression.predstd import wls_prediction_std

In [10]:
rates = [1.548,1.565,1.553,1.517,1.464,1.445,1.417,1.369,1.347,1.346,1.357,1.337,1.289,1.262,1.252,1.198,1.126,1.088,1.070,1.065,1.041,1.032,1.022,1.000,0.974,0.963,0.948,0.954,0.955,0.937,0.895,0.876,0.859,0.82,0.77]
years = list(range(1988, 2023))
rs = pd.Series(rates, index=years)
rs.index.name = 'year'
rs.name = 'rate'

In [11]:
X = rs.index.values
Y = rs.values
X = sm.add_constant(X)

model = sm.OLS(Y, X)
modelres = model.fit()

In [12]:
b, a = modelres.params

In [13]:
def get_inflation_rate(y):
    if y in rs.index:
        return rs.loc[y]
    else:
        return a * y + b

In [15]:
get_inflation_rate(2011)

1.0

In [6]:
!ls ../source | grep hurun

hurun_2012.csv
hurun_2013.csv
hurun_2014.csv
hurun_2015.csv
hurun_2016.csv
hurun_2017.csv
hurun_2018.csv
hurun_2019.csv
hurun_2020.csv
hurun_2021.csv
hurun_2022.csv

In [7]:
hurun_data = dict()
for i in range(2012, 2023):
    hurun_data[i] = pd.read_csv(f'../source/hurun_{i}.csv')

In [40]:
hurun_data[2019]

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year
0,先生,1964-01-12,55,1905-06-30 12:00:00,Male,2174,杰夫·贝佐斯,Jeff Bezos,NaN,NaN,...,2174,亚马逊,Amazon,NaN,NaN,在线零售,Online Retail,0,NaN,2019
1,先生,1955-10-28,64,1905-06-30 12:00:00,Male,2175,比尔·盖茨,Bill Gates,NaN,NaN,...,2175,微软,Microsoft,NaN,NaN,投资,Investments,0,NaN,2019
2,先生,1930-08-30,89,1905-06-30 12:00:00,Male,2176,沃伦·巴菲特,Warren Buffett,NaN,NaN,...,2176,伯克希尔·哈撒韦,Berkshire Hathaway,NaN,NaN,投资,Investments,0,NaN,2019
3,先生,1949-05-03,70,1905-06-30 12:00:00,Male,2177,伯纳德·阿诺特,Bernard Arnault,NaN,NaN,...,2177,酩悦·轩尼诗-路易·威登,LVMH,NaN,NaN,单一品牌零售,Single Brand Retailing,0,NaN,2019
4,先生,1984-05-14,35,1905-06-30 12:00:00,Male,2178,马克·扎克伯格,Mark Zuckerberg,NaN,NaN,...,2178,Facebook,Facebook,NaN,NaN,科技,Technology,0,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2599,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,617,曾令山,Zeng Lingshan,曾,令山,...,617,科瑞,Creat,北京-北京,Beijing-Beijing,生物制药、投资,"Pharmaceuticals, investments",0,NaN,2019
2600,先生,1964-01-01,55,1905-06-30 12:00:00,Male,618,张利钿,Zhang Litian,张,利钿,...,618,雅士利,Yashily,广东-潮州,Guangdong-Chaozhou,乳业,Milk powder,0,NaN,2019
2601,先生,1962-01-01,57,1905-06-30 12:00:00,Male,568,张思民,Zhang Simin,张,思民,...,568、1934,海王,Neptunus,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019
2602,女士,1900-01-01,未知,1905-06-30 12:00:00,Female,1934,王劲松,Wang Jinsong,王,劲松,...,568、1934,海王,Neptunus,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019
2603,先生,1961-01-01,58,1905-06-30 12:00:00,Male,784,周云杰,Zhou Yunjie,周,云杰,...,784,奥瑞金,ORG Packaging,北京-北京,Beijing-Beijing,包装,Packaging,0,NaN,2019

In [96]:
hurun_data[2018]

,ID,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year
0,13849,1,Jeff Bezos,123.0,1964,Amazon,Online Retail,2018
1,13850,2,Warren Buffett,102.0,1931,Berkshire Hathaway,Investments,2018
2,13851,3,Bill Gates,90.0,1956,Microsoft,Investments,2018
3,13852,4,Mark Zuckerberg,79.0,1985,Facebook,Technology,2018
4,13853,5,Bernard Arnault,78.0,1950,LVMH,Single Brand Retailing,2018
...,...,...,...,...,...,...,...,...
2689,16538,2690,Zhang Yuxiang & Zhu Xuelian,1.0,1964,Nanji,Clothing,2018
2690,16539,2691,Zhang Zhiyong & Zhang Min,1.0,1963、1967,Zhang Zhiyong & Zhang Min,Telecom,2018
2691,16540,2692,Zhao Kai,1.0,/,Chengdu International Exhibition & Convention ...,Real estate,2018
2692,16541,2693,Zhou Ruxin,1.0,1963,Zhou Ruxin,Satellite navigating equipment,2018
2693,16542,2694,Zhu Yaowen,1.0,1964,Jiu Wu,"Investments, Real estate",2018

In [94]:
hurun_data[2012]

,Rank,Wealth,Name,Sex,Birth,Companies,Industry,year
0,1,$ 55000 Million,Carlos Slim Helu family,Male,1940,America Movil,Telecom,2012
1,2,$ 50000 Million,Bill Gates,Male,1956,Microsoft,Investments,2012
2,3,$ 48000 Million,Warren Buffett brothers,Male,1931,Berkshire Hathaway,Investments,2012
3,4,$ 42000 Million,Bernard Arnault,Male,1950,LVMH,Single Brand Retailing,2012
4,5,$ 37000 Million,Larry Ellison,Male,1945,Oracle,Technology,2012
...,...,...,...,...,...,...,...,...
78,78,$ 10500 Million,Zong Qinghou family,Male,1945,Wahaha,Drinks,2012
79,78,$ 10500 Million,Klaus-Michael Kuhne,Male,1937,Kuehne & Nagel,Shipping,2012
80,78,$ 10500 Million,Hans Rausing,Male,1925,Tetra Pack,Packaging,2012
81,82,$ 10000 Million,Ernesto Bertarelli family,Male,1965,Serono,Pharmaceuticals,2012
82,82,$ 10000 Million,Gerald Cavendish Grosvenor family,Male,1951,Grosvenor,Real Estate,2012

In [60]:
# Big Issue:
# no country info... for year < 2019
# we can:
# - try to find the name in 2019 data
# - try to find the name in forbes data

In [61]:
df7 = hurun_data[2017].copy()
df9 = hurun_data[2019].copy()
dff = forbes_person.copy()

In [68]:
df9[df9['hs_Character_Fullname_En'].str.contains('Bill Gates')]['hs_Character_Permanent_En']

1    United States-Washington State-Medina
Name: hs_Character_Permanent_En, dtype: object

In [85]:
def search_name(name_input):
    if 'family' in name_input:
        name = name_input.replace('family', '').strip()
    else:
        name = name_input
    if '&' in name:
        name = name.split('&')[0].strip()
    result = df9[df9['hs_Character_Fullname_En'] == name]['hs_Character_Permanent_En']
    if len(result) > 1:
        print("multiple match: ", name_input)
        return result
    if len(result) == 0:
        print("no match found: ", name_input)
        return result
        
    return result.iloc[0]

In [86]:
matches = [search_name(x) for x in df7['NameEn'].values]

no match found:  Liliane Bettencourt
no match found:  Ingvar Kamprad & family
no match found:  Jack Ma Yun & family
no match found:  James & Arthur Irving
no match found:  Pony Ma
no match found:  Paul Allen
no match found:  Khalifa bin Zayed Al Nahyan & family
no match found:  Serge Dassault & family
no match found:  Henry Cheng & family
no match found:  Joseph Lau
no match found:  Pallonji Mistry
no match found:  Charlene Carvalho
no match found:  Samuel Newhouse Jr
no match found:  Klaus-Michael Kuhne
no match found:  Peter Woo & Pao Pui Yung
no match found:  Henry Sy & family
no match found:  Lucas Walton
no match found:  Lorenzo Mendoza
no match found:  Mohammed bin Rashid Al Maktoum
no match found:  August von Finck
no match found:  Lu Guanqiu & family
no match found:  Joseph Tsai Chung-Hsin
no match found:  Eka Tjipta Widjaja & family
no match found:  Lin Yu-Lin & family
no match found:  Barry Sherman
no match found:  Leise Maersk McKinney Moller & family
no match found:  Pauline MacMillan Keinath
no match found:  Whitney MacMillan
no match found:  Terry Guo Tai-Ming
no match found:  Michael & Marian Ilitch & family
no match found:  Elisio Alexandre Soares dos Santos & family
no match found:  Yuan Yafei
no match found:  Adam Kwok & family
no match found:  Jia Yueting
no match found:  Antonia Ax:son Johnson & family
no match found:  Merlin Swire & family
no match found:  Americo Amorim
no match found:  Philip & Tina Green
no match found:  Denis O'Brien
no match found:  Karl-Heinz Kipp
no match found:  Pansy Ho
no match found:  Pollyanna Chu
no match found:  Yuri Milner
multiple match:  Jim Davis & family
no match found:  Desh Bandhu Gupta
no match found:  Frederik Paulson
no match found:  Kirk Kristiansen
no match found:  Richard LeFrak & family
no match found:  Gianfelice Mario Rocca
no match found:  Leandro Rizzuto
no match found:  Paolo Mario Rocca
no match found:  Richard DeVos
no match found:  Tom & Judy Love
no match found:  John  L Morris
no match found:  Savitri Jindal & family
no match found:  Katsuhito Yamauchi
no match found:  Sergei Popov
no match found:  Zhou Xiaoguang & Yu Yunxin
no match found:  Alexandre Ricard & family
no match found:  Andy von Bechtolsheim
no match found:  Stewart & Lynda Resnick
no match found:  Keichiro Takahara & family
no match found:  Jeremy Jacobs, Sr
no match found:  Tsai Hong-Tu Brothers & family
no match found:  Xiao Wen'ge
no match found:  Henry Ross Perot Sr
no match found:  Indu Jain
no match found:  Andrei Guriev
no match found:  Filaret Galchev
no match found:  Samwer Brothers
no match found:  Sumiko Nagamori
no match found:  Yang Kai
no match found:  Daisy Igel & family
no match found:  David Consunji
no match found:  Phorntep Phornprapha
no match found:  Roger Wang Hung
no match found:  Walter Kwok & family
no match found:  Wang Guangxi & Guo Tianshu
no match found:  Chamnong Bhirombhakdi & family
no match found:  Ursula Engelhorn
no match found:  Fred & Ron Mannix
no match found:  George Lindemann Sr
no match found:  Hans-Adam von & zu Liechtenstein
no match found:  Jin Sook & Do Won Chang
no match found:  Lin Wenjing
no match found:  Siegfried Meister
no match found:  Silas Chou
no match found:  Francis Choi Chee Ming
multiple match:  Zhang Jin
no match found:  Andrew taylor
no match found:  Jo Ann Taylor
no match found:  Ashwin Dani
no match found:  Bennett Dorrance
no match found:  Edward DeBartolo Jr
no match found:  Michael Ying
no match found:  Albert Frere
no match found:  Barry Lin Bai-Li
no match found:  Denise York
no match found:  Dorothea Steinbruch & family
no match found:  George Ty & family
no match found:  Jason Chang C.S. & family
no match found:  Luca Rovati & family
no match found:  Marc Ladreit de Lacharriere
no match found:  Michael Platt
no match found:  William P. Lauder
multiple match:  Li Li & Li Tan
no match found:  Peter Peterson
no match found:  Rafael del Pino Calvo-Sotelo
no match found:  Vichai Srivaddhanaprabha
no match found:  Wang Wenbiao
no match found:  Erich Kellerhals
no match found:  Francesco Aquilini
no match found:  John Paul DeJoria
no match found:  Robert McNair
no match found:  Robert Wood Johnson IV
no match found:  Vijay Chauhan & family
no match found:  Bruce Halle
no match found:  Clemmie Spangler Jr
no match found:  Denise DeBartolo York
no match found:  Joan Tisch
no match found:  Kushal Pal Singh
no match found:  Sarik Tara
no match found:  Shah Karim Al Hussaini
no match found:  Vivek Chaand Sehgal
no match found:  Xie Shihuang
no match found:  Adam Neuman
no match found:  Guo Wengui & family
no match found:  Lawrence Ho
no match found:  Roberto Bonatti
no match found:  Alwin Lehner & family
no match found:  Daniel Jaeggi
no match found:  Fernando Augusto Zobel
no match found:  Jamie Augusto Zobel
no match found:  Juan Coneo Solari & family
no match found:  Marco Dunand
no match found:  Michael Wu & family
no match found:  Samuel Yin Yan-Liang
no match found:  Sit Kwong Lam
no match found:  Tsai Chen-Yu
no match found:  Wu Gang
no match found:  Andre Hoffman
no match found:  Antonio Dell Valle Ruiz
no match found:  Jerrold Perenchio
no match found:  Liu Yuhua & Zhao Yan
no match found:  Maja Hoffman
no match found:  Paul Demarais & family
no match found:  Tom Benson
no match found:  Vera Michalski Hoffman
no match found:  Aloysio de Andrade Faria
no match found:  Ashwin Choksi
no match found:  Dulce Pugliese de Godoy Bueno
no match found:  Edson de Godoy Bueno & family
no match found:  Erivan Haub & family
no match found:  Hasmukh Chudgar & family
no match found:  Jing Baifu
no match found:  Johan Johannson
no match found:  Smitha V Crishna
no match found:  Su Weizhong
no match found:  Vyacheslav Kantor
no match found:  Alexander Spanos & family
no match found:  Craig McCaw
no match found:  Jacques Saade & family
no match found:  Lin Tianfu
no match found:  Carlo Benetton
no match found:  Chase Coleman, III
no match found:  Chen Yung-Tai
no match found:  Daniel D'Aniello
no match found:  Danil Khachaturov
no match found:  Gilberto Benetton
no match found:  Irene Lee & family
no match found:  Li Yong
no match found:  Pearse Lyons
no match found:  Scott Farquhar
no match found:  Shuai Fangwen & Cao Zaiyun
no match found:  Wang Chaoyong & Li Yifei
no match found:  Yeoh Tiong Lay & family
no match found:  Duncan MacMillan
no match found:  Fu Mingkang & family
no match found:  H Wayne Huizenga
no match found:  Ma Hong & Huang Xiaoxuan
no match found:  Ni Zhaoxing & family
no match found:  Que Wenbin
no match found:  Stephen Hilbert
no match found:  Barry Charles Diller
no match found:  Ding Shizhong
no match found:  Huang Xiaojie
no match found:  Leitner Wolfgang
no match found:  Liao Long-Shing
no match found:  Lin Shu-Hung
no match found:  Liu Baolin
no match found:  Mannalal B Agarwal & family
no match found:  Manoj Bhargava
no match found:  Michael & Rainer Schmidt-Ruthenbeck
no match found:  Mukund Rungta
no match found:  Shao Zhongyi
no match found:  Yang Shuping & family
no match found:  Ali Wakrim & family
no match found:  August Oetker Jr
no match found:  Aziz Akhannouch & family
no match found:  Donald Hall
no match found:  Eduardo Belmont
no match found:  He Simo
no match found:  Hedda Brahm Droege
no match found:  Hiroko Takei & family
no match found:  Hsu Cheng & family
no match found:  Jurgen Bickle
no match found:  Kim Bum-Soo
multiple match:  Kommer Damen
no match found:  Lee Hwa Kyung & family
no match found:  Mahdi al-Tajir
no match found:  Mikhail Balakin
no match found:  Tseng Shin- Yi
no match found:  Wu Daohong
no match found:  Bo Shijiu & Li Guiping
no match found:  Cao Dewang
no match found:  Chin Jong-Hwa
no match found:  Cui Lijie
no match found:  Dai Weili
no match found:  David & Vicky Teoh
no match found:  Farhad Akhmedov
no match found:  Frank McCourt
no match found:  Henry Hillman
no match found:  Huo Qinghua & family
no match found:  Kunio Busujima
no match found:  Lin Ming-Hsiung
no match found:  Mikhail Gutseriev
no match found:  Peter Alfond
no match found:  Stanley Perron
no match found:  Wang Wenliang
no match found:  Zhou Liangzhang & family
no match found:  Alexei Ananyev
no match found:  Alicia & Tannetta Fentener van Vlissingen
no match found:  Charles Dunstone
no match found:  Dato Sri Tahir
no match found:  Dimitry Ananyev
no match found:  Fred Chang
no match found:  Huang Zhuangmian
no match found:  James Richardson
no match found:  Louis Le Duff
no match found:  Mallika Srinivasan
no match found:  Nandlal Rungta
no match found:  Per & Winnie Enevoldsen
no match found:  Sol & Eddie Zakay
no match found:  Sun Hongbing
no match found:  Sun Shangchuan & Liu Wei
no match found:  Wilbur Ross Jr
no match found:  Yao Xinyi
no match found:  Zhang Wanzheng
no match found:  Zhong Yu
no match found:  Zhuang Min
no match found:  Ana Maria Marcondes Penido Sant'Anna
no match found:  Chen Qixing
no match found:  David Rockefeller Sr
no match found:  He Yamin & family
no match found:  Herbert Allen, Jr & family
no match found:  Ihor Kolomoyskyy
no match found:  J.K. Rowling
no match found:  Koos van Oord & family
no match found:  Maxim Nogotkov
no match found:  Neal Patterson
no match found:  Randal Kirk
no match found:  Regina de Camargo Pires Oliveira Dias
no match found:  Renata de Camargo Nascimento
no match found:  Robert Coyuito jr
no match found:  Rosana Camargo de Arruda Botelho
no match found:  Slavica Ecclestone
no match found:  Susanne Zimmermann von Siefart
no match found:  Tom Persson
no match found:  Wim van der Leegte
no match found:  Zhou Weijian & Wang Manli
no match found:  Andrew Buckeridge
no match found:  Angela leong on-ki
no match found:  Barbara Agnes Ferrari Bengolea & Amalia Amoedo
no match found:  Cai Wensheng & family
no match found:  Chau Cheok Wa
no match found:  Deng Wei
no match found:  Drayton McLane
no match found:  Huang Wenji
no match found:  Jim McColl
no match found:  John Kapoor
no match found:  Jose & Francisco Jose Calderon Rojas
no match found:  Kang Qiao
no match found:  Lin Ming-Cheng
no match found:  Liu Xiaodong
no match found:  Lu Zhaoxi
no match found:  Marie-Jeanne Meyer
no match found:  Mehmet Sinan Tara
no match found:  Monique Roosmale Nepveu
no match found:  Nobutada Saji
no match found:  NR Narayana Murthy
no match found:  Peng Lei
no match found:  Peter Nygard
no match found:  Qi Jinxing & Qi Jiaqi
no match found:  Red McCombs
no match found:  Rodolphe Marchais
no match found:  Sam Buckeridge
no match found:  Sergio Lins Andrade & family
no match found:  Suhon LIn
no match found:  Thomas Lau
no match found:  Tu Guoshen
no match found:  Vincent Lo
no match found:  Wei Ing-Chou
no match found:  William Fung
no match found:  William Macaulay
no match found:  Wu Qiang
no match found:  Xu Jiangang & Xu Feijun
no match found:  Xu Xiong
no match found:  Xu Ziquan & Kang Ning
no match found:  Yao Xinquan
no match found:  Zhou Liwu & Han Xiaofang
no match found:  Zhu Yicai & Wu Xueqin
no match found:  Carol Jenkins Barnett
no match found:  Carolus Nolet & family
no match found:  Charles Munger
no match found:  Chung Mong Jin
no match found:  Fayez Sarofim
no match found:  Gregorio Perez Companc
no match found:  Guo Donglin
no match found:  Hary Tanoesoedibjo
no match found:  Huang Bingwen & family
no match found:  Jithendra Virwani
no match found:  Johanathan Gray
no match found:  John de Mol
no match found:  Keeree Kanjanapa
no match found:  Kerr Neilson & family
no match found:  Lens Ainsworth
no match found:  Lev Kvetnoi
no match found:  Li Jun
no match found:  Liu Bing
no match found:  Liu Jianmin & Wang Aiqin
no match found:  Marc Coucke
no match found:  Maria de Lourdes Egydio Villela
no match found:  Miguel McKelvey
no match found:  Rajesh Mehta
no match found:  Robert Citrone
no match found:  Ryoichi Jinnai
no match found:  Salman & Ahmed Rahman
no match found:  Silvio Santos
no match found:  Stephen Saad
no match found:  Takashi Tada
no match found:  Wei Ying-chiao
no match found:  Wei Yin-heng
no match found:  Xiao Chunhong
no match found:  Zadik Bino
no match found:  Zhang Zhirong & family
no match found:  Zhou Furen
no match found:  Zhu Jiman & Bai Lihui
no match found:  Allan Gray
no match found:  Anders & Soren Westermann
no match found:  Anne Gittinger
no match found:  Belmiro de Azevedo
no match found:  Boonchai Bencharongkul
no match found:  Bruno Steinhoff
no match found:  Cargill MacMillan, III.
no match found:  Charlotte Colket Weber
no match found:  Cho Yang Rai
no match found:  Danny Tan Chee Sing
no match found:  Edward Stack
no match found:  Eric Sprott
no match found:  Feng Huanpei & Fan Zhaoxia
no match found:  Fu MeiCheng
no match found:  Haim Saban
no match found:  Han Tao
no match found:  Henadiy Boholyubov
no match found:  Hui Sai Fun
no match found:  J. Tomilson Hill
no match found:  James Wu & family
no match found:  Jerry Reinsdorf
no match found:  John MacMillan
no match found:  Jonathan Harmsworth & family
no match found:  Jose Llado Fernandez Urrutia
no match found:  Jose Mendes Nogueira & family
no match found:  Kazuo Inamori & family
no match found:  Konstantin Grigorishin
no match found:  Lan Huasheng
no match found:  Laurent Burelle
no match found:  Leopoldo del Pino y Calvo Sotelo
no match found:  Li Denghai
no match found:  Liu Jianjun
no match found:  Liu Ruopeng
no match found:  Liu Zhengguo
no match found:  Martha MacMillan
no match found:  Nirav Modi
no match found:  Peter Sondakh
no match found:  Pierre Papillaud
no match found:  Ramesh Genomal & family
no match found:  Ranjith & Beljinder Boparan
no match found:  Sanjay S Lalbhai
no match found:  Sudhir Ruparelia
no match found:  Suzan Sabanci Dincer
no match found:  Syed Mokhtar AlBukhary

no match found:  Valerie & family
no match found:  Wang Chunsheng & Lyu Li
no match found:  Wang Xuexin
no match found:  Wang Zhongjun
no match found:  Wei Yin-chun
no match found:  William MacMillan
no match found:  Wilma Tisch
no match found:  Xiao Fen
no match found:  Xiao Keng & family
no match found:  Yoshikazu Tanaka
no match found:  Zhang Xinghai & Yan Min
no match found:  Zheng Jianjiang & He Yiju
no match found:  Ahsen Ozokur
no match found:  Archbold D. van Beuren & family
no match found:  Ayman Asfari
no match found:  Benedicta Chamberlain & family
no match found:  Benjamin de Rothschild & family
no match found:  Bruce Cheng Chung-Hua
no match found:  Cai Xiaoru
no match found:  Cao Kejian
no match found:  Chatri Sophonpanich
no match found:  Chen Baozhen
no match found:  Chen Dakui & family
no match found:  Chen Jiangtao
no match found:  Chen Tei-Fu
no match found:  Cheng Xianfeng
no match found:  Cho Chang-Gul
no match found:  Ding Xinxin & Zhang Xingjuan
no match found:  Ding Yuhua
no match found:  Gao Jisheng & Gao Jinna
no match found:  Gao Yugen
no match found:  Gary Burrel
no match found:  GV Prasad
no match found:  Han Xu  & Zhang Renhua
no match found:  Hua Yong
no match found:  Huang Nubo
no match found:  Imogene Powers Johnson
no match found:  Johnson Ko
no match found:  Jon Ramon Aboitiz & family
no match found:  Koo Bon Moo
no match found:  Kris Gopalakrishnan
no match found:  Lim Chap Huat
no match found:  Lin Qi
no match found:  Lin Rongxin
no match found:  Liu Fuhai
no match found:  Lu Chuping & Peng Hui
no match found:  Luca Garavoglia,
no match found:  Maddalena Garavoglia
no match found:  Mofatraj Munot
no match found:  Mohammed Al Issa & family
no match found:  Niklas Herlin
no match found:  Pawan Kant Munjal
no match found:  Peng Xing
no match found:  Sanford Diller
no match found:  Sevket Sabanci
no match found:  Shi Yonglei&family
no match found:  Suman Kant Munjal
no match found:  Sunil Kant Munjal
no match found:  Thomas Kaplan
no match found:  Vladimir Bogdanov
no match found:  Wang Chou-Hsiong
no match found:  Wang Haipeng
no match found:  Wang Yonghong
no match found:  Wang Zhentao & Wang Chen
no match found:  William Ackman
no match found:  Xu Pengming
no match found:  Zhang Anqiang
no match found:  Zhao Xiaoqiang
no match found:  Zhou Chuanyou
no match found:  Zhou Mingjie & Xu Su
no match found:  Achal Anil Bakeri & family
no match found:  Ai Lihua & family
no match found:  Alexander Lebedev
no match found:  Ana Lucia de Mattos Barretto Villela
no match found:  Analjit Singh
no match found:  Andreas E.Rihs & family
no match found:  Antonio Luiz Seabra
no match found:  Ao Xiaoqiang
no match found:  Azad Moopen
no match found:  Ceasar Beltrao De Almeida & family
no match found:  Chen Yansheng & Chen Dongqiong
no match found:  Chizuko & Michio Matsui
no match found:  Cui Weixing
no match found:  Dinesh Nandwana
no match found:  Dona Bertarelli
no match found:  Donald R Sobey
no match found:  Douglas Hsu Hsu-Tung
no match found:  Francisco Deusmar de Queiros
no match found:  Howard  Jenkins
no match found:  Howard Marks
no match found:  Huang Hongsheng & Lin Weiping
no match found:  Jeffrey Katzenberg
no match found:  Jiang Xipei
no match found:  Jon Huntsman & family
no match found:  Joop van den Ende
no match found:  Joy Alukkas
no match found:  K Satish Reddy
no match found:  Kang Jingwei
no match found:  Kim Nam-Jung
no match found:  Kirill Shamalov
no match found:  Koh Wee Meng
no match found:  Lachman Das Mittal
no match found:  Lee Hae-Jin
no match found:  Li Binlan
no match found:  Li Fuchen & family
no match found:  Li Weiwei
no match found:  Liu Shaobai & Huang Xiaofen
no match found:  Liu Zaiwang & Fu Haixia
no match found:  Lu Feng
no match found:  Lu Yonghua & Mao Caihong
no match found:  Massimo Moratty
no match found:  Paul Foster
no match found:  Rajeev Juneja
no match found:  Ramesh Juneja
no match found:  Rana Kapoor
no match found:  Robert Tsao Hsing-Cheng
no match found:  Ru Jiyong & family
no match found:  Sergei Kislov
no match found:  Shen Huayuan
no match found:  Soichiro Fukutake
no match found:  Su Yen-Hui & family
no match found:  Summerfield Johnston Jr
no match found:  Takao Yasuda
no match found:  Tang Jian & Liu Cuiying
no match found:  TS Kalyanaraman
no match found:  Victor Fung & family
no match found:  Vidya Chhabria & family
no match found:  Vito Rodriguez Rodriguez
no match found:  Vivian Que Azcona & family
no match found:  Wan Lianbu & family
no match found:  Wang Mingxiang & Zhou Yifeng
no match found:  Wu Chung-Yi
no match found:  Yang Xuegang & Lu Xiaomei
no match found:  Yu Peidi & Yu Li
no match found:  Zang Jianjun
no match found:  Zhang Desheng
no match found:  Zuo Hongbo & Zhe Shuxia

In [92]:
df9[df9['hs_Character_Fullname_En'].str.contains('Andre')][['hs_Character_Fullname_En', 'hs_Character_Permanent_En']]

      hs_Character_Fullname_En             hs_Character_Permanent_En
114         Andrey Melnichenko                         Russia-Moscow
181                Andrew Beal            United States-Texas-Dallas
428                     Andrew  United States-California-Los Angeles
463               Andrei Skoch                         Russia-Moscow
502         Andreas Strungmann                     Germany-Tegernsee
532             Andrew Forrest                       Australia-Perth
580              Andrei Guryev                         Russia-Moscow
664              Andrew Currie                     Switzerland-Rolle
665          Andrew W. Houston           United States-San Francisco
721            Andrei Kozitsyn              Russia-Verkhniaya Pyshma
830      Andreas Santo Domingo       United States-New York-New York
885               Andrej Babis                 Czech Republic-Prague
906          Andreas Halvorsen      United States-Connecticut-Darien
1007            Andre Hoffmann                     Switzerland-Basel
1100              Andreas Oeri                     Switzerland-Basel
1101             Andrew Taylor       United States-Missouri-St louis
1349             Andre Esteves                 United Kingdom-London
1409            Andrei Bokarev                         Russia-Moscow
1571        Alexandra Andresen                           Norway-Oslo
1572                Andrew Tan                    Philippines-Quezon
1605        Katherina Andresen                 Netherlands-Amsterdam
1901            Andrei Kosogov                         Russia-Moscow
2268  Andrea Reimann-Ciardelli   United States-New Hampshire-Hanover
2441        Andrea Della Valle            Italy-Marche-Casette D’ete

In [87]:
forbes_person[forbes_person['name'] == 'Liliane Bettencourt']

,person,name,age,gender,country,source,industry
2009,liliane_bettencourt,Liliane Bettencourt,99.0,F,France,L'Oreal,Pharmaceuticals; Manufacturing; Consumer Produ...

In [5]:
data = pd.read_csv('../source/hurun_2022.csv')

In [6]:
data.columns

Index(['hs_Character_Gender', 'hs_Character_Birthday', 'hs_Character_Age',
       'hs_Character_MTime', 'hs_Character_Gender_Lang', 'hs_Character_ID',
       'hs_Character_Fullname_Cn', 'hs_Character_Fullname_En',
       'hs_Character_Surname_Cn', 'hs_Character_Name_Cn',
       'hs_Character_Surname_En', 'hs_Character_Name_En', 'hs_Character_Photo',
       'hs_Character_Nationality', 'hs_Character_NativePlace_Cn',
       'hs_Character_NativePlace_En', 'hs_Character_BirthPlace_Cn',
       'hs_Character_BirthPlace_En', 'hs_Character_Permanent_Cn',
       'hs_Character_Permanent_En', 'hs_Character_Education_Cn',
       'hs_Character_Education_En', 'hs_Character_School_Cn',
       'hs_Character_School_En', 'hs_Character_Major_Cn',
       'hs_Character_Major_En', 'hs_Rank_Global_Nationality',
       'hs_Rank_Global_NativePlace_Cn', 'hs_Rank_Global_NativePlace_En',
       'hs_Rank_Global_BirthPlace_Cn', 'hs_Rank_Global_BirthPlace_En',
       'hs_Rank_Global_Permanent_Cn', 'hs_Rank_Global_Permanent_En',
       'hs_Rank_Global_Photo', 'hs_Rank_Global_Age', 'hs_Rank_Global_Gender',
       'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En',
       'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En',
       'hs_Rank_Global_Year', 'hs_Rank_Global_Relations',
       'hs_Rank_Global_MTime', 'hs_Rank_Global_ID', 'hs_Rank_Global_ListID',
       'hs_Rank_Global_Ranking', 'hs_Rank_Global_Ranking_Change',
       'hs_Rank_Global_Wealth', 'hs_Rank_Global_Wealth_USD',
       'hs_Rank_Global_Wealth_Change', 'hs_Rank_Global_ChaName_Cn',
       'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_Cha_ID',
       'hs_Rank_Global_ComName_Cn', 'hs_Rank_Global_ComName_En',
       'hs_Rank_Global_ComHeadquarters_Cn',
       'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_Industry_Cn',
       'hs_Rank_Global_Industry_En', 'hs_Rank_Global_Com_ID',
       'hs_GlobalAndCha', 'year'],
      dtype='object')

In [41]:
for k, v in data[data['hs_Character_ID'] == 1].iloc[0].iteritems():
    print(k, ": ", v)

hs_Character_Gender :  先生
hs_Character_Birthday :  1964-10-15
hs_Character_Age :  58
hs_Character_MTime :  1905-06-30 12:00:00
hs_Character_Gender_Lang :  Male
hs_Character_ID :  1
hs_Character_Fullname_Cn :  马云
hs_Character_Fullname_En :  Ma Yun
hs_Character_Surname_Cn :  马
hs_Character_Name_Cn :  云
hs_Character_Surname_En :  Ma
hs_Character_Name_En :  Yun
hs_Character_Photo :  https://res.hurun.cn/photo/000001_Ma_Yun.jpg
hs_Character_Nationality :  198
hs_Character_NativePlace_Cn :  中国-浙江-绍兴
hs_Character_NativePlace_En :  China-Zhejiang-Shaoxing
hs_Character_BirthPlace_Cn :  中国-浙江-杭州
hs_Character_BirthPlace_En :  China-Zhejiang-Hangzhou
hs_Character_Permanent_Cn :  中国-浙江-杭州
hs_Character_Permanent_En :  China-Zhejiang-Hangzhou
hs_Character_Education_Cn :  本科
hs_Character_Education_En :  Undergraduate
hs_Character_School_Cn :  杭州师范学院
hs_Character_School_En :  杭州师范学院
hs_Character_Major_Cn :  Hangzhou Normal University
hs_Character_Major_En :  英语专业
hs_Rank_Global_Nationality :  nan
hs_Rank_Global_NativePlace_Cn :  nan
hs_Rank_Global_NativePlace_En :  nan
hs_Rank_Global_BirthPlace_Cn :  nan
hs_Rank_Global_BirthPlace_En :  nan
hs_Rank_Global_Permanent_Cn :  nan
hs_Rank_Global_Permanent_En :  nan
hs_Rank_Global_Photo :  nan
hs_Rank_Global_Age :  nan
hs_Rank_Global_Gender :  nan
hs_Rank_Global_Education_Cn :  nan
hs_Rank_Global_Education_En :  nan
hs_Rank_Global_School_Cn :  nan
hs_Rank_Global_School_En :  nan
hs_Rank_Global_Year :  2022-03-17
hs_Rank_Global_Relations :  家族
hs_Rank_Global_MTime :  2022-03-17 12:00:00
hs_Rank_Global_ID :  8549
hs_Rank_Global_ListID :  46
hs_Rank_Global_Ranking :  34
hs_Rank_Global_Ranking_Change :  -9
hs_Rank_Global_Wealth :  2350.0
hs_Rank_Global_Wealth_USD :  37.0
hs_Rank_Global_Wealth_Change :  -33%
hs_Rank_Global_ChaName_Cn :  马云
hs_Rank_Global_ChaName_En :  Ma Yun
hs_Rank_Global_Cha_ID :  1
hs_Rank_Global_ComName_Cn :  阿里系
hs_Rank_Global_ComName_En :  Alibaba
hs_Rank_Global_ComHeadquarters_Cn :  中国-杭州
hs_Rank_Global_ComHeadquarters_En :  China-Hangzhou
hs_Rank_Global_Industry_Cn :  电子商务、金融科技
hs_Rank_Global_Industry_En :  E-Commerce
hs_Rank_Global_Com_ID :  0
hs_GlobalAndCha :  nan
year :  2022

In [7]:
df = data.set_index('hs_Character_ID')

In [8]:
df = df[['hs_Character_Fullname_En', 
         'hs_Character_Gender', 
         'hs_Character_Age', 
         'hs_Character_Permanent_En', 
         'hs_Rank_Global_Year', 
         'hs_Rank_Global_Wealth_USD',
         'hs_Rank_Global_Industry_En'
        ]]

In [10]:
from ddf_utils.str import to_concept_id

In [11]:
df.index.name = 'id'
df.columns = ['name', 'gender', 'Age', 'place', 'date', 'billion', 'industry']

In [12]:
df['person'] = df['name'].map(to_concept_id)

In [13]:
df

,name,gender,Age,place,date,billion,industry,person
id,,,,,,,,
2200,Elon Musk,先生,51,United States-California-Los Angeles,2022-03-17,205.0,E-Cars,elon_musk
2174,Jeff Bezos,先生,58,United States-Washington State-Seattle,2022-03-17,188.0,E-Commerce,jeff_bezos
2177,Bernard Arnault,先生,73,France-Paris Province-Paris,2022-03-17,153.0,Luxury Goods,bernard_arnault
2175,Bill Gates,先生,67,United States-Washington State-Medina,2022-03-17,124.0,Software & Services,bill_gates
2176,Warren Buffett,先生,92,United States-Nebraska-Omaha,2022-03-17,119.0,Investments,warren_buffett
...,...,...,...,...,...,...,...,...
6225,Lloyd D Frink,先生,56,USA-Washington,2022-03-17,1.0,Online Marketplace,lloyd_d_frink
327,Tu Jianhua,先生,59,China-Chongqing,2022-03-17,1.0,Productivity software,tu_jianhua
3363,Helena Revoredo,女士,未知,Spain-Madrid,2022-03-17,1.0,Technology Services,helena_revoredo
5118,Vardis Vardinoyannis,先生,89,Greece-Athens,2022-03-17,1.0,Commodities,vardis_vardinoyannis
4090,William Fung Kwok-lun,先生,未知,China-Hong Kong,2022-03-17,1.0,Logistics,william_fung_kwok_lun

In [35]:
df[df.name == 'Ma Yun']

,name,gender,Age,place,date,billion,industry,person
id,,,,,,,,
1,Ma Yun,先生,58,China-Zhejiang-Hangzhou,2022-03-17,37.0,E-Commerce,ma_yun

In [14]:
# we have a problem: there are duplicated entries
# TODO: check what's the best way to do
df[df.person.duplicated(keep=False)].sort_values(by='person')

,name,gender,Age,place,date,billion,industry,person
id,,,,,,,,
1926,Chen Yanni,女士,57,China-Zhejiang-Huzhou,2022-03-17,1.7,Biotechnology,chen_yanni
1925,Chen Yanni,女士,40,China-Zhejiang-Shaoxing,2022-03-17,1.8,Electrical equipment,chen_yanni
7,Huang Zheng,先生,42,China-Shanghai,2022-03-17,19.0,E-Commerce,huang_zheng
7288,Huang Zheng,女士,51,China-Guangdong-Shenzhen,2022-03-17,1.1,Consumer Electronics,huang_zheng
199,Jiang Bin,先生,56,China -Shandong - Weifang,2022-03-17,7.3,Semiconductors,jiang_bin
1399,Jiang Bin,先生,55,China-Fujian-Xiamen,2022-03-17,1.0,Healthcare,jiang_bin
2380,Jim Davis,先生,未知,United States-Massachusetts-Newton,2022-03-17,2.4,Human Resource Management,jim_davis
2380,Jim Davis,先生,未知,United States-Massachusetts-Newton,2022-03-17,11.0,Apparel & Accessories,jim_davis
5294,Jin Lei,先生,68,NaN,2022-03-17,1.4,Biotechnology,jin_lei
5294,Jin Lei,先生,68,NaN,2022-03-17,2.3,Medical Devices,jin_lei
39,Li Hua,先生,56,China-Guangdong-Shenzhen,2022-03-17,11.0,Developer,li_hua
39,Li Hua,先生,56,China-Guangdong-Shenzhen,2022-03-17,2.9,Financial Services,li_hua
133,Li Li,先生,58,China-Guangdong-Shenzhen,2022-03-17,3.5,Pharmaceuticals,li_li
298,Li Li,先生,57,China-Hunan-Changsha,2022-03-17,3.3,Healthcare,li_li
6596,Li Min,先生,51,China-Shanghai,2022-03-17,1.1,Industrial Products,li_min
5229,Li Min,先生,57,NaN,2022-03-17,3.3,Semiconductors,li_min
430,Li Ping,先生,54,China-Fujian-Ningde,2022-03-17,1.2,Metals & Mining,li_ping
1851,Li Ping,女士,未知,China-Zhejiang-Hangzhou,2022-03-17,3.6,Real Estate,li_ping
430,Li Ping,先生,54,China-Fujian-Ningde,2022-03-17,11.0,Batteries,li_ping
299,Li Xiaoming,先生,64,China-Yunnan-Yuxi,2022-03-17,9.9,Packaging,li_xiaoming
455,Li Xiaoming,先生,61,China-Beijing,2022-03-17,1.5,Developer,li_xiaoming
5145,Lun Ruixiang,先生,55,China-Hong Kong,2022-03-17,1.2,Developer,lun_ruixiang
5145,Lun Ruixiang,先生,55,China-Hong Kong,2022-03-17,1.2,Estate Holding,lun_ruixiang
3874,Willis J Johnson,先生,未知,United States-California,2022-03-17,1.6,Automobile,willis_j_johnson
3874,Willis J Johnson,先生,未知,United States-California,2022-03-17,2.7,Automobile,willis_j_johnson
362,Xu Xin,先生,56,China-Shanghai,2022-03-17,2.5,Investments,xu_xin
2172,Xu Xin,女士,未知,China-Zhejiang-Hangzhou,2022-03-17,1.3,Semiconductors,xu_xin
6463,Yeung Kin Man,先生,69,China-Hong Kong,2022-03-17,8.3,Industrial Products,yeung_kin_man
2509,Yeung Kin Man,先生,未知,China-Hong Kong,2022-03-17,5.6,Industrial Products,yeung_kin_man
11,Zhang Yong,先生,51,Singapore,2022-03-17,10.0,Restaurants,zhang_yong
910,Zhang Yong,先生,未知,China-Zhejiang-Hangzhou,2022-03-17,1.3,E-Commerce,zhang_yong
335,Zhou Jian,先生,46,China-Guangdong-Shenzhen,2022-03-17,2.1,Equipments,zhou_jian
335,Zhou Jian,先生,46,China-Guangdong-Shenzhen,2022-03-17,1.9,Consumer Goods,zhou_jian

In [18]:
# handle duplicates
# just use first value available
gs = df.groupby(['id'], group_keys=False)

def func(df):
    if df.shape[0] == 1:
        return df
    res = []
    for c in df.columns:
        try:
            v = df[c].dropna().iloc[0]
        except:
            v = np.nan
        res.append(v)
    # print(res)
    # print(df.columns)
    # print(df.index.values[0])
    return pd.DataFrame([res], columns=df.columns, index=[df.index.values[0]])

person = gs.apply(func)

In [19]:
person = person.set_index('person')

In [20]:
person

,name,gender,Age,place,date,billion,industry
person,,,,,,,
ma_yun,Ma Yun,先生,58,China-Zhejiang-Hangzhou,2022-03-17,37.0,E-Commerce
ma_huateng,Ma Huateng,先生,51,China-Guangdong-Shenzhen,2022-03-17,52.0,Gaming
xu_jiayin,Xu Jiayin,先生,64,China-Guangdong-Guangzhou,2022-03-17,7.6,Developer
he_xiangjian,He Xiangjian,先生,80,China-Guangdong-Foshan,2022-03-17,36.0,Household Appliances
sun_piaoyang,Sun Piaoyang,先生,64,China-Shanghai,2022-03-17,11.0,Pharmaceuticals
...,...,...,...,...,...,...,...
xu_chengchen,Xu Chengchen,先生,34,China-Nantong,2022-03-17,1.9,Green Energy
jiang_xueying,Jiang Xueying,女士,49,China-Hangzhou,2022-03-17,1.7,Biotechnology
reshma_shetty,Reshma Shetty,女士,未知,USA-Boston,2022-03-17,1.1,Biotechnology
niejuan,Niejuan,女士,43,China-Changsha,2022-03-17,1.1,Medical Devices
liu_lei,Liu Lei,女士,43,China-Hefei,2022-03-17,1.0,Auto Components

In [43]:
forbes_person = pd.read_csv('../../ddf--entities--person.csv')

In [44]:
forbes_person

,person,name,age,gender,country,source,industry
0,a_jayson_adair,A. Jayson Adair,52.0,M,United States,damaged cars,Automotive
1,a_jerrold_perenchio,A. Jerrold Perenchio,91.0,M,United States,"Univision; television; television, Univision",Media; Media & Entertainment
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,67.0,M,United Arab Emirates,banking,Finance
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,52.0,M,Saudi Arabia,"retail, real estate",Fashion & Retail
4,abdul_rasyid,Abdul Rasyid,64.0,M,Indonesia,"timber, palm oil",Manufacturing
...,...,...,...,...,...,...,...
3939,ziyavudin_magomedov,Ziyavudin Magomedov,53.0,M,Russia,"port, gas",Energy
3940,zong_qinghou,Zong Qinghou; QInghou Zong,76.0,M,China,beverages; Beverages,Food & Beverage; Beverages; Food and Beverage
3941,zugen_ni,Zugen Ni,65.0,M,China,appliances,Manufacturing
3942,zuo_hui,Zuo Hui,51.0,M,China,real estate services,Real Estate
3943,zygmunt_solorz_zak,Zygmunt Solorz-Zak,65.0,M,Poland,TV broadcasting; TV station,Media & Entertainment; Media

In [23]:
forbes_person = forbes_person.set_index('person')

In [26]:
forbes_person

,name,age,gender,country,source,industry
person,,,,,,
a_jayson_adair,A. Jayson Adair,52.0,M,United States,damaged cars,Automotive
a_jerrold_perenchio,A. Jerrold Perenchio,91.0,M,United States,"Univision; television; television, Univision",Media; Media & Entertainment
abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,67.0,M,United Arab Emirates,banking,Finance
abdul_majeed_alhokair,Abdul Majeed Alhokair,52.0,M,Saudi Arabia,"retail, real estate",Fashion & Retail
abdul_rasyid,Abdul Rasyid,64.0,M,Indonesia,"timber, palm oil",Manufacturing
...,...,...,...,...,...,...
ziyavudin_magomedov,Ziyavudin Magomedov,53.0,M,Russia,"port, gas",Energy
zong_qinghou,Zong Qinghou; QInghou Zong,76.0,M,China,beverages; Beverages,Food & Beverage; Beverages; Food and Beverage
zugen_ni,Zugen Ni,65.0,M,China,appliances,Manufacturing
zuo_hui,Zuo Hui,51.0,M,China,real estate services,Real Estate
zygmunt_solorz_zak,Zygmunt Solorz-Zak,65.0,M,Poland,TV broadcasting; TV station,Media & Entertainment; Media

In [32]:
forbes_person[forbes_person.name.str.contains('Jack Ma')]

,name,age,gender,country,source,industry
person,,,,,,
jack_ma,Jack Ma,57.0,M,China,e-commerce; Internet; internet,Technology; Internet

In [ ]:
forbes_person

In [ ]:
# Steps:
# 1. convert income to inflation adjusted 
# 2. convert name to concept id
# 3. convert country to geo
# 4. map name to person name in forbes


# in forbes 马云 is Jack Ma which is his English name.
# but in Hurun the English name is Ma Yun which is just the PinYin of Chinese name.
# So it's really hard to combine Forbes and Hurun

In [44]:
person.loc['ma_yun']

name                         Ma Yun
gender                           先生
Age                              58
place       China-Zhejiang-Hangzhou
date                     2022-03-17
billion                        37.0
industry                 E-Commerce
Name: ma_yun, dtype: object