In [1]:
# https://www.hurun.net/en-US/Rank/HsRankDetailsList?num=GJD3WF1Q&search=&offset=0&limit=200

In [2]:
# FIXME: clean up the notebook

In [3]:
import pandas as pd
import numpy as np

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("darkgrid")

In [5]:
from ddf_utils.str import to_concept_id

jump to [etl](#ETL) part

# Scrapers

In [5]:
import requests as req

In [8]:
import json

In [9]:
url = 'https://www.hurun.net/en-US/Rank/HsRankDetailsList?num=GJD3WF1Q&search=&offset=0&limit=200'
data_orig = req.get(url).json()

In [10]:
import copy

In [11]:
data = copy.deepcopy(data_orig)

In [12]:
data['total']

3382

In [13]:
data.keys()

dict_keys(['rows', 'total'])

In [14]:
data['rows'][0].keys()

dict_keys(['hs_Character', 'hs_Rank_Global_Nationality', 'hs_Rank_Global_NativePlace_Cn', 'hs_Rank_Global_NativePlace_En', 'hs_Rank_Global_BirthPlace_Cn', 'hs_Rank_Global_BirthPlace_En', 'hs_Rank_Global_Permanent_Cn', 'hs_Rank_Global_Permanent_En', 'hs_Rank_Global_Photo', 'hs_Rank_Global_Age', 'hs_Rank_Global_Gender', 'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En', 'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En', 'hs_Rank_Global_Year', 'hs_Rank_Global_Relations', 'hs_Rank_Global_MTime', 'hs_Rank_Global_ID', 'hs_Rank_Global_ListID', 'hs_Rank_Global_Ranking', 'hs_Rank_Global_Ranking_Change', 'hs_Rank_Global_Wealth', 'hs_Rank_Global_Wealth_USD', 'hs_Rank_Global_Wealth_Change', 'hs_Rank_Global_ChaName_Cn', 'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_Cha_ID', 'hs_Rank_Global_Certificate', 'hs_Rank_Global_ComName_Cn', 'hs_Rank_Global_ComName_En', 'hs_Rank_Global_ComHeadquarters_Cn', 'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_Industry_Cn', 'hs_Rank_Global_Industry_En', 'hs_Rank_Global_Com_ID', 'hs_GlobalAndCha'])

In [15]:
data['rows'][0]

{'hs_Character': [{'hs_Character_Gender': '先生',
   'hs_Character_Birthday': '1971-06-28',
   'hs_Character_Age': '51',
   'hs_Character_MTime': '1905-06-30 12:00:00',
   'hs_Character_Gender_Lang': 'Male',
   'hs_Character_ID': 2200,
   'hs_Character_Fullname_Cn': '埃隆·马斯克',
   'hs_Character_Fullname_En': 'Elon Musk',
   'hs_Character_Surname_Cn': '',
   'hs_Character_Name_Cn': '',
   'hs_Character_Surname_En': '',
   'hs_Character_Name_En': '',
   'hs_Character_Photo': 'https://res.hurun.cn/photo/002200_Elon_Musk.jpg',
   'hs_Character_Nationality': 123,
   'hs_Character_NativePlace_Cn': '',
   'hs_Character_NativePlace_En': '',
   'hs_Character_BirthPlace_Cn': '',
   'hs_Character_BirthPlace_En': '',
   'hs_Character_Permanent_Cn': '美国-加利福尼亚-洛杉矶',
   'hs_Character_Permanent_En': 'United States-California-Los Angeles',
   'hs_Character_Education_Cn': '本科',
   'hs_Character_Education_En': 'Graduation',
   'hs_Character_School_Cn': '宾夕法尼亚大学',
   'hs_Character_School_En': '',
   'hs_Character_Major_Cn': 'University of Pennsylvania',
   'hs_Character_Major_En': '应用物理与材料科学'}],
 'hs_Rank_Global_Nationality': None,
 'hs_Rank_Global_NativePlace_Cn': None,
 'hs_Rank_Global_NativePlace_En': None,
 'hs_Rank_Global_BirthPlace_Cn': None,
 'hs_Rank_Global_BirthPlace_En': None,
 'hs_Rank_Global_Permanent_Cn': None,
 'hs_Rank_Global_Permanent_En': None,
 'hs_Rank_Global_Photo': None,
 'hs_Rank_Global_Age': None,
 'hs_Rank_Global_Gender': None,
 'hs_Rank_Global_Education_Cn': None,
 'hs_Rank_Global_Education_En': None,
 'hs_Rank_Global_School_Cn': None,
 'hs_Rank_Global_School_En': None,
 'hs_Rank_Global_Year': '2022-03-17',
 'hs_Rank_Global_Relations': '未知',
 'hs_Rank_Global_MTime': '2022-03-17 12:00:00',
 'hs_Rank_Global_ID': 8516,
 'hs_Rank_Global_ListID': 46,
 'hs_Rank_Global_Ranking': 1,
 'hs_Rank_Global_Ranking_Change': '0',
 'hs_Rank_Global_Wealth': 12900.0,
 'hs_Rank_Global_Wealth_USD': 205.0,
 'hs_Rank_Global_Wealth_Change': '4%',
 'hs_Rank_Global_ChaName_Cn': '埃隆·马斯克',
 'hs_Rank_Global_ChaName_En': 'Elon Musk',
 'hs_Rank_Global_Cha_ID': '2200',
 'hs_Rank_Global_Certificate': '/cer/global/2022_46_8516.png',
 'hs_Rank_Global_ComName_Cn': '特斯拉',
 'hs_Rank_Global_ComName_En': 'Tesla ',
 'hs_Rank_Global_ComHeadquarters_Cn': '美国-洛杉矶',
 'hs_Rank_Global_ComHeadquarters_En': 'USA-Los Angeles',
 'hs_Rank_Global_Industry_Cn': '新能源汽车',
 'hs_Rank_Global_Industry_En': 'E-Cars',
 'hs_Rank_Global_Com_ID': '0',
 'hs_GlobalAndCha': None}

In [16]:
# use hs_Character_Permanent_En for geo

In [17]:
def create_record(r):
    row = copy.deepcopy(r)
    record = pd.DataFrame.from_records(row.pop('hs_Character'))
    for k, v in row.items():
        record[k] = v
    return record

In [18]:
create_record(data['rows'][13])

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_Cha_ID,hs_Rank_Global_Certificate,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha
0,先生,1984-05-14,38,1905-06-30 12:00:00,Male,2178,马克·扎克伯格,Mark Zuckerberg,,,...,2178,/cer/global/2022_46_8529.png,Meta,Meta,美国-帕罗奥图,USA-Palo Alto,媒体,Media,0,None

In [19]:
recs = [create_record(x) for x in data['rows']]

recs = pd.concat(recs, ignore_index=True)

In [20]:
recs = recs.set_index('hs_Character_ID')

In [21]:
recs

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,hs_Character_Surname_En,...,hs_Rank_Global_Cha_ID,hs_Rank_Global_Certificate,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha
hs_Character_ID,,,,,,,,,,,,,,,,,,,,,
2200,先生,1971-06-28,51,1905-06-30 12:00:00,Male,埃隆·马斯克,Elon Musk,,,,...,2200,/cer/global/2022_46_8516.png,特斯拉,Tesla,美国-洛杉矶,USA-Los Angeles,新能源汽车,E-Cars,0,None
2174,先生,1964-01-12,58,1905-06-30 12:00:00,Male,杰夫·贝佐斯,Jeff Bezos,,,,...,2174,/cer/global/2022_46_8517.png,亚马逊,Amazon,美国-西雅图,USA-Seattle,电子商务,E-Commerce,0,None
2177,先生,1949-05-03,73,1905-06-30 12:00:00,Male,伯纳德·阿诺特,Bernard Arnault,,,,...,2177,/cer/global/2022_46_8518.png,酩悦·轩尼诗-路易·威登,LVMH,法国-巴黎,France-Paris,奢侈品,Luxury Goods,0,None
2175,先生,1955-10-28,67,1905-06-30 12:00:00,Male,比尔·盖茨,Bill Gates,,,,...,2175,/cer/global/2022_46_8519.png,微软,Microsoft,美国-麦地那,USA-Medina,软件与服务,Software & Services,0,None
2176,先生,1930-08-30,92,1905-06-30 12:00:00,Male,沃伦·巴菲特,Warren Buffett,,,,...,2176,/cer/global/2022_46_8520.png,伯克希尔·哈撒韦,Berkshire Hathaway,美国-奥马哈,USA-Omaha,投资,Investments,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,先生,1964-03-01,58,1905-06-30 12:00:00,Male,王玉锁,Wang Yusuo,王,玉锁,Wang,...,37、1827,/cer/global/2022_46_8712.png,新奥,ENN,中国-廊坊,China-Langfang,石油与天然气,Oil & Gas,0,None
1827,女士,1965-07-01,57,1905-06-30 12:00:00,Female,赵宝菊,Zhao Baoju,赵,宝菊,Zhao,...,37、1827,/cer/global/2022_46_8712.png,新奥,ENN,中国-廊坊,China-Langfang,石油与天然气,Oil & Gas,0,None
2320,先生,1952-11-29,70,1905-06-30 12:00:00,Male,安德鲁·比尔,Andrew Beal,,,,...,2320,/cer/global/2022_46_8713.png,Beal Bank,Beal Bank,美国-达拉斯,USA-Dallas,银行业,Banking,0,None
2978,先生,1990-08-06,32,1905-06-30 12:00:00,Male,约翰·科里森,John Collison,,,,...,2978,/cer/global/2022_46_8714.png,Stripe,Stripe,美国-旧金山,USA-San Francisco,支付,Financial Services,0,None
2989,先生,1988-09-09,34,1905-06-30 12:00:00,Male,帕特里克·科里森,Patrick Collison,,,,...,2989,/cer/global/2022_46_8715.png,Stripe,Stripe,美国-旧金山,USA-San Francisco,支付,Financial Services,0,None

In [22]:
recs[pd.isnull(recs['hs_Rank_Global_ComHeadquarters_En'])]

Empty DataFrame
Columns: [hs_Character_Gender, hs_Character_Birthday, hs_Character_Age, hs_Character_MTime, hs_Character_Gender_Lang, hs_Character_Fullname_Cn, hs_Character_Fullname_En, hs_Character_Surname_Cn, hs_Character_Name_Cn, hs_Character_Surname_En, hs_Character_Name_En, hs_Character_Photo, hs_Character_Nationality, hs_Character_NativePlace_Cn, hs_Character_NativePlace_En, hs_Character_BirthPlace_Cn, hs_Character_BirthPlace_En, hs_Character_Permanent_Cn, hs_Character_Permanent_En, hs_Character_Education_Cn, hs_Character_Education_En, hs_Character_School_Cn, hs_Character_School_En, hs_Character_Major_Cn, hs_Character_Major_En, hs_Rank_Global_Nationality, hs_Rank_Global_NativePlace_Cn, hs_Rank_Global_NativePlace_En, hs_Rank_Global_BirthPlace_Cn, hs_Rank_Global_BirthPlace_En, hs_Rank_Global_Permanent_Cn, hs_Rank_Global_Permanent_En, hs_Rank_Global_Photo, hs_Rank_Global_Age, hs_Rank_Global_Gender, hs_Rank_Global_Education_Cn, hs_Rank_Global_Education_En, hs_Rank_Global_School_Cn, hs_Rank_Global_School_En, hs_Rank_Global_Year, hs_Rank_Global_Relations, hs_Rank_Global_MTime, hs_Rank_Global_ID, hs_Rank_Global_ListID, hs_Rank_Global_Ranking, hs_Rank_Global_Ranking_Change, hs_Rank_Global_Wealth, hs_Rank_Global_Wealth_USD, hs_Rank_Global_Wealth_Change, hs_Rank_Global_ChaName_Cn, hs_Rank_Global_ChaName_En, hs_Rank_Global_Cha_ID, hs_Rank_Global_Certificate, hs_Rank_Global_ComName_Cn, hs_Rank_Global_ComName_En, hs_Rank_Global_ComHeadquarters_Cn, hs_Rank_Global_ComHeadquarters_En, hs_Rank_Global_Industry_Cn, hs_Rank_Global_Industry_En, hs_Rank_Global_Com_ID, hs_GlobalAndCha]
Index: []

[0 rows x 61 columns]

In [23]:
data['total']

3382

In [24]:
offsets = list(range(0, 3381, 200))

In [25]:
jsons = []
url_tmpl = 'https://www.hurun.net/en-US/Rank/HsRankDetailsList?num=GJD3WF1Q&search=&offset={}&limit=200'

def download():
    for o in offsets:
        print(o)
        url = url_tmpl.format(o)
        jsons.append(req.get(url).json())

In [26]:
download()

0
200
400
600
800
1000
1200
1400
1600
1800
2000
2200
2400
2600
2800
3000
3200

In [27]:
recs = []

for j in jsons:
    for r in j['rows']:
        recs.append(create_record(r))

In [28]:
recs = pd.concat(recs, ignore_index=True)

In [29]:
recs

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_Cha_ID,hs_Rank_Global_Certificate,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha
0,先生,1971-06-28,51,1905-06-30 12:00:00,Male,2200,埃隆·马斯克,Elon Musk,,,...,2200,/cer/global/2022_46_8516.png,特斯拉,Tesla,美国-洛杉矶,USA-Los Angeles,新能源汽车,E-Cars,0,None
1,先生,1964-01-12,58,1905-06-30 12:00:00,Male,2174,杰夫·贝佐斯,Jeff Bezos,,,...,2174,/cer/global/2022_46_8517.png,亚马逊,Amazon,美国-西雅图,USA-Seattle,电子商务,E-Commerce,0,None
2,先生,1949-05-03,73,1905-06-30 12:00:00,Male,2177,伯纳德·阿诺特,Bernard Arnault,,,...,2177,/cer/global/2022_46_8518.png,酩悦·轩尼诗-路易·威登,LVMH,法国-巴黎,France-Paris,奢侈品,Luxury Goods,0,None
3,先生,1955-10-28,67,1905-06-30 12:00:00,Male,2175,比尔·盖茨,Bill Gates,,,...,2175,/cer/global/2022_46_8519.png,微软,Microsoft,美国-麦地那,USA-Medina,软件与服务,Software & Services,0,None
4,先生,1930-08-30,92,1905-06-30 12:00:00,Male,2176,沃伦·巴菲特,Warren Buffett,,,...,2176,/cer/global/2022_46_8520.png,伯克希尔·哈撒韦,Berkshire Hathaway,美国-奥马哈,USA-Omaha,投资,Investments,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3594,先生,1966-01-01,56,2021-03-02 12:00:00,Male,6225,Lloyd D Frink,Lloyd D Frink,,,...,6225,/cer/global/2022_46_11892.png,Zillow,Zillow,美国-华盛顿,USA-Seattle,在线市场,Online Marketplace,0,None
3595,先生,1963-04-01,59,1905-06-30 12:00:00,Male,327,涂建华,Tu Jianhua,涂,建华,...,327,/cer/global/2022_46_11893.png,广联达,Glodon,中国-北京,China-Beijing,建筑,Productivity software,0,None
3596,女士,1900-01-01,未知,1905-06-30 12:00:00,Female,3363,海伦娜·雷沃雷多,Helena Revoredo,,,...,3363,/cer/global/2022_46_11894.png,Prosegur,Prosegur,西班牙-马德里,Spain-Madrid,安全软件,Technology Services,0,None
3597,先生,1933-01-01,89,2020-08-13 12:00:00,Male,5118,Vardis Vardinoyannis,Vardis Vardinoyannis,,,...,5118,/cer/global/2022_46_11895.png,Motor Oil Hellas,Motor Oil Hellas,希腊-雅典,Greece-Athens,贸易,Commodities,0,None
3598,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,4090,冯国纶,William Fung Kwok-lun,,,...,4090,/cer/global/2022_46_11896.png,利丰,Li & Fung,中国-香港,China-Hong Kong,物流,Logistics,0,None

In [30]:
recs['year'] = 2022

In [31]:
recs.to_csv('../source/hurun_2022.csv', index=False)

In [32]:
# above is for 2022

In [33]:
# for 2019-2021

In [34]:
urlnum = {
    2022: 'GJD3WF1Q',
    2021: 'IH8GTUI9',
    2020: 'PYSXN53E',
    2019: 'Q9TGQF1L'
}

In [35]:
url_tmpl = 'https://www.hurun.net/en-US/Rank/HsRankDetailsList?num={}&search=&offset={}&limit=200'

def download(y):
    jsons = []
    for o in offsets:
        print(o)
        url = url_tmpl.format(urlnum[y], o)
        jsons.append(req.get(url).json())
    return jsons

In [36]:
num = '8407ACFCBC85'
u = url_tmpl.format(num, 0)
jsons = req.get(u).json()

JSONDecodeError: [Errno Expecting value] : 0

In [ ]:
year = 2019
jsons = download(year)

0
200
400
600
800
1000
1200
1400
1600
1800
2000
2200
2400
2600
2800
3000
3200

In [ ]:
recs = []

for j in jsons:
    for r in j['rows']:
        recs.append(create_record(r))

In [ ]:
recs = pd.concat(recs, ignore_index=True)

In [ ]:
recs['year'] = year

In [ ]:
recs.to_csv('../source/hurun_{}.csv'.format(year), index=False)

In [ ]:
# earlier: use web archive 
# https://web.archive.org/web/20180905115823/http://hurun.net/EN/HuList/Index?num=HoBeMiGGfk

# TODO

In [ ]:
other_urls = dict([[2018, "http://web.archive.org/web/20180905120110/http://hurun.net/EN/HuList/ListJson/14"],
                  [2017, "http://web.archive.org/web/20180905120110/http://hurun.net/EN/HuList/ListJson/2"]]
                 )

In [ ]:
js = req.get('http://web.archive.org/web/20180905120110/http://hurun.net/EN/HuList/ListJson/14')

In [ ]:
j = js.json()

In [ ]:
j[0]

{'ID': 13849,
 'Ranking': 1,
 'NameEn': 'Jeff Bezos',
 'Wealth': '123',
 'Birthday': '1964',
 'CNameEn': 'Amazon',
 'IndustryEn': 'Online Retail'}

In [ ]:
pd.DataFrame.from_records(j).set_index('ID')

,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn
ID,,,,,,
13849,1,Jeff Bezos,123,1964,Amazon,Online Retail
13850,2,Warren Buffett,102,1931,Berkshire Hathaway,Investments
13851,3,Bill Gates,90,1956,Microsoft,Investments
13852,4,Mark Zuckerberg,79,1985,Facebook,Technology
13853,5,Bernard Arnault,78,1950,LVMH,Single Brand Retailing
...,...,...,...,...,...,...
16538,2690,Zhang Yuxiang & Zhu Xuelian,1,1964,Nanji,Clothing
16539,2691,Zhang Zhiyong & Zhang Min,1,1963、1967,Zhang Zhiyong & Zhang Min,Telecom
16540,2692,Zhao Kai,1,/,Chengdu International Exhibition & Convention ...,Real estate
16541,2693,Zhou Ruxin,1,1963,Zhou Ruxin,Satellite navigating equipment
16542,2694,Zhu Yaowen,1,1964,Jiu Wu,"Investments, Real estate"

In [ ]:
def download_json(year):
    url = other_urls[year]
    js = req.get(url).json()
    res = pd.DataFrame.from_records(js).set_index('ID')
    res['year'] = year
    return res

In [ ]:
hurun_list = dict()

In [ ]:
hurun_list[2018] = download_json(2018)

In [ ]:
hurun_list[2017] = download_json(2017)

In [ ]:
hurun_list[2017]

,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year
ID,,,,,,,
2057,1,Bill Gates,81,1956,Microsoft,Investments,2017
2058,2,Warren Buffett,78,1931,Berkshire Hathaway,Investments,2017
2059,3,Jeff Bezos,72,1964,Amazon,Online Retail,2017
2060,4,Amancio Ortega,69,1937,Inditex,Single Brand Retailing,2017
2061,5,Mark Zuckerberg,58,1985,Facebook,Technology,2017
...,...,...,...,...,...,...,...
4309,2114,Zeng Baobao,1,1971,Fantasia,Real estate,2017
4310,2114,Zhang Desheng,1,1949,Wanma,TMT,2017
4311,2114,Zhu Min & Xu Yuqing,1,1948、1949,Cybernaut,Investments,2017
4312,2114,Zhuo Jun,1,1966,Kingwong,Electric,2017
4313,2114,Zuo Hongbo & Zhe Shuxia,1,1965、1963,Aurora,Manufacturing,2017

In [ ]:
hurun_list[2018]

,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year
ID,,,,,,,
13849,1,Jeff Bezos,123,1964,Amazon,Online Retail,2018
13850,2,Warren Buffett,102,1931,Berkshire Hathaway,Investments,2018
13851,3,Bill Gates,90,1956,Microsoft,Investments,2018
13852,4,Mark Zuckerberg,79,1985,Facebook,Technology,2018
13853,5,Bernard Arnault,78,1950,LVMH,Single Brand Retailing,2018
...,...,...,...,...,...,...,...
16538,2690,Zhang Yuxiang & Zhu Xuelian,1,1964,Nanji,Clothing,2018
16539,2691,Zhang Zhiyong & Zhang Min,1,1963、1967,Zhang Zhiyong & Zhang Min,Telecom,2018
16540,2692,Zhao Kai,1,/,Chengdu International Exhibition & Convention ...,Real estate,2018
16541,2693,Zhou Ruxin,1,1963,Zhou Ruxin,Satellite navigating equipment,2018
16542,2694,Zhu Yaowen,1,1964,Jiu Wu,"Investments, Real estate",2018

In [ ]:
# from above we can see the ID is different in different years. Don't use it for index.

In [ ]:
hurun_list[2018].to_csv('../source/hurun_2018.csv')
hurun_list[2017].to_csv('../source/hurun_2017.csv')

In [ ]:
# 2012-2016

In [ ]:
df = pd.read_csv('/home/semio/tmp/tmpshare/2016.csv')

In [ ]:
df

,Rank,Wealth(US$),Name,Sex,Birth,Companies,Industry
0,1,$ 80000 M,Bill Gates,Male,1956,Microsoft,Investments
1,2,$ 68000 M,Warren Buffett brothers,Male,1931,Berkshire Hathaway,Investments
2,3,$ 64000 M,Amancio Ortega brothers,Male,1937,Inditex,Single Brand Retailing
3,4,$ 53000 M,Jeff Bezos,Male,1964,Amazon,Online Retail
4,5,$ 50000 M,Carlos Slim Helu family,Male,1940,America Movil,Telecom
...,...,...,...,...,...,...,...
95,91,$ 11000 M,Khalif bin zayed an Nahyas,Male,1948,SBK Holdings,/
96,91,$ 11000 M,Hans Rausing,Male,1925,Tetra Pak,Packaging
97,91,$ 11000 M,Andrew Beal,Male,1953,Beal Bank,Investments
98,91,$ 11000 M,Jack Taylor family,Male,1922,Enterprise Rent A Car,Logistics
99,91,$ 11000 M,Steve Cohen,Male,1956,Sac Capital,Hedge Funds

In [ ]:
def download_older(year):
    df = pd.read_csv(f'/home/semio/tmp/tmpshare/{year}.csv')
    df['year'] = year
    return df

In [ ]:
download_older(2012)

,Rank,Wealth,Name,Sex,Birth,Companies,Industry,year
0,1,$ 55000 Million,Carlos Slim Helu family,Male,1940,America Movil,Telecom,2012
1,2,$ 50000 Million,Bill Gates,Male,1956,Microsoft,Investments,2012
2,3,$ 48000 Million,Warren Buffett brothers,Male,1931,Berkshire Hathaway,Investments,2012
3,4,$ 42000 Million,Bernard Arnault,Male,1950,LVMH,Single Brand Retailing,2012
4,5,$ 37000 Million,Larry Ellison,Male,1945,Oracle,Technology,2012
...,...,...,...,...,...,...,...,...
78,78,$ 10500 Million,Zong Qinghou family,Male,1945,Wahaha,Drinks,2012
79,78,$ 10500 Million,Klaus-Michael Kuhne,Male,1937,Kuehne & Nagel,Shipping,2012
80,78,$ 10500 Million,Hans Rausing,Male,1925,Tetra Pack,Packaging,2012
81,82,$ 10000 Million,Ernesto Bertarelli family,Male,1965,Serono,Pharmaceuticals,2012
82,82,$ 10000 Million,Gerald Cavendish Grosvenor family,Male,1951,Grosvenor,Real Estate,2012

In [ ]:
hurun_list[2016] = download_older(2016)
hurun_list[2015] = download_older(2015)
hurun_list[2014] = download_older(2014)
hurun_list[2013] = download_older(2013)
hurun_list[2012] = download_older(2012)

In [ ]:
for i in range(2012, 2017):
    print(i)
    hurun_list[i].to_csv(f'../source/hurun_{i}.csv', index=False)

2012
2013
2014
2015
2016

In [ ]:
# next: combine all hurun list to a big list, create population by geo, year

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.sandbox.regression.predstd import wls_prediction_std

In [ ]:
rates = [1.548,1.565,1.553,1.517,1.464,1.445,1.417,1.369,1.347,1.346,1.357,1.337,1.289,1.262,1.252,1.198,1.126,1.088,1.070,1.065,1.041,1.032,1.022,1.000,0.974,0.963,0.948,0.954,0.955,0.937,0.895,0.876,0.859,0.82,0.77]
years = list(range(1988, 2023))
rs = pd.Series(rates, index=years)
rs.index.name = 'year'
rs.name = 'rate'

In [ ]:
X = rs.index.values
Y = rs.values
X = sm.add_constant(X)

model = sm.OLS(Y, X)
modelres = model.fit()

In [ ]:
b, a = modelres.params

In [ ]:
def get_inflation_rate(y):
    if y in rs.index:
        return rs.loc[y]
    else:
        return a * y + b

In [ ]:
get_inflation_rate(2011)

1.0

# ETL

In [6]:
# Fresh start.
# Note, the codes above contains downloading method

In [7]:
!ls ../source | grep hurun

hurun_2012.csv
hurun_2013.csv
hurun_2014.csv
hurun_2015.csv
hurun_2016.csv
hurun_2017.csv
hurun_2018.csv
hurun_2019.csv
hurun_2020.csv
hurun_2021.csv
hurun_2022.csv

In [6]:
hurun_data = dict()
for i in range(2012, 2023):
    hurun_data[i] = pd.read_csv(f'../source/hurun_{i}.csv')

In [7]:
hurun_data[2022]

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year
0,先生,1971-06-28,51,1905-06-30 12:00:00,Male,2200,埃隆·马斯克,Elon Musk,NaN,NaN,...,2200,特斯拉,Tesla,美国-洛杉矶,USA-Los Angeles,新能源汽车,E-Cars,0,NaN,2022
1,先生,1964-01-12,58,1905-06-30 12:00:00,Male,2174,杰夫·贝佐斯,Jeff Bezos,NaN,NaN,...,2174,亚马逊,Amazon,美国-西雅图,USA-Seattle,电子商务,E-Commerce,0,NaN,2022
2,先生,1949-05-03,73,1905-06-30 12:00:00,Male,2177,伯纳德·阿诺特,Bernard Arnault,NaN,NaN,...,2177,酩悦·轩尼诗-路易·威登,LVMH,法国-巴黎,France-Paris,奢侈品,Luxury Goods,0,NaN,2022
3,先生,1955-10-28,67,1905-06-30 12:00:00,Male,2175,比尔·盖茨,Bill Gates,NaN,NaN,...,2175,微软,Microsoft,美国-麦地那,USA-Medina,软件与服务,Software & Services,0,NaN,2022
4,先生,1930-08-30,92,1905-06-30 12:00:00,Male,2176,沃伦·巴菲特,Warren Buffett,NaN,NaN,...,2176,伯克希尔·哈撒韦,Berkshire Hathaway,美国-奥马哈,USA-Omaha,投资,Investments,0,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3593,先生,1966-01-01,56,2021-03-02 12:00:00,Male,6225,Lloyd D Frink,Lloyd D Frink,NaN,NaN,...,6225,Zillow,Zillow,美国-华盛顿,USA-Seattle,在线市场,Online Marketplace,0,NaN,2022
3594,先生,1963-04-01,59,1905-06-30 12:00:00,Male,327,涂建华,Tu Jianhua,涂,建华,...,327,广联达,Glodon,中国-北京,China-Beijing,建筑,Productivity software,0,NaN,2022
3595,女士,1900-01-01,未知,1905-06-30 12:00:00,Female,3363,海伦娜·雷沃雷多,Helena Revoredo,NaN,NaN,...,3363,Prosegur,Prosegur,西班牙-马德里,Spain-Madrid,安全软件,Technology Services,0,NaN,2022
3596,先生,1933-01-01,89,2020-08-13 12:00:00,Male,5118,Vardis Vardinoyannis,Vardis Vardinoyannis,NaN,NaN,...,5118,Motor Oil Hellas,Motor Oil Hellas,希腊-雅典,Greece-Athens,贸易,Commodities,0,NaN,2022
3597,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,4090,冯国纶,William Fung Kwok-lun,NaN,NaN,...,4090,利丰,Li & Fung,中国-香港,China-Hong Kong,物流,Logistics,0,NaN,2022

In [8]:
hurun_data[2018]

,ID,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year
0,13849,1,Jeff Bezos,123.0,1964,Amazon,Online Retail,2018
1,13850,2,Warren Buffett,102.0,1931,Berkshire Hathaway,Investments,2018
2,13851,3,Bill Gates,90.0,1956,Microsoft,Investments,2018
3,13852,4,Mark Zuckerberg,79.0,1985,Facebook,Technology,2018
4,13853,5,Bernard Arnault,78.0,1950,LVMH,Single Brand Retailing,2018
...,...,...,...,...,...,...,...,...
2689,16538,2690,Zhang Yuxiang & Zhu Xuelian,1.0,1964,Nanji,Clothing,2018
2690,16539,2691,Zhang Zhiyong & Zhang Min,1.0,1963、1967,Zhang Zhiyong & Zhang Min,Telecom,2018
2691,16540,2692,Zhao Kai,1.0,/,Chengdu International Exhibition & Convention ...,Real estate,2018
2692,16541,2693,Zhou Ruxin,1.0,1963,Zhou Ruxin,Satellite navigating equipment,2018
2693,16542,2694,Zhu Yaowen,1.0,1964,Jiu Wu,"Investments, Real estate",2018

In [9]:
hurun_data[2012]

,Rank,Wealth,Name,Sex,Birth,Companies,Industry,year
0,1,$ 55000 Million,Carlos Slim Helu family,Male,1940,America Movil,Telecom,2012
1,2,$ 50000 Million,Bill Gates,Male,1956,Microsoft,Investments,2012
2,3,$ 48000 Million,Warren Buffett brothers,Male,1931,Berkshire Hathaway,Investments,2012
3,4,$ 42000 Million,Bernard Arnault,Male,1950,LVMH,Single Brand Retailing,2012
4,5,$ 37000 Million,Larry Ellison,Male,1945,Oracle,Technology,2012
...,...,...,...,...,...,...,...,...
78,78,$ 10500 Million,Zong Qinghou family,Male,1945,Wahaha,Drinks,2012
79,78,$ 10500 Million,Klaus-Michael Kuhne,Male,1937,Kuehne & Nagel,Shipping,2012
80,78,$ 10500 Million,Hans Rausing,Male,1925,Tetra Pack,Packaging,2012
81,82,$ 10000 Million,Ernesto Bertarelli family,Male,1965,Serono,Pharmaceuticals,2012
82,82,$ 10000 Million,Gerald Cavendish Grosvenor family,Male,1951,Grosvenor,Real Estate,2012

In [10]:
# Big Issue:
# no country info... for year < 2019
# we can:
# - try to find the name in 2019 data

In [11]:
# first work on 2019-2022 data

df = pd.concat([hurun_data[2022],
                hurun_data[2021],
                hurun_data[2020],
                hurun_data[2019]], ignore_index=True)

df1 = df.copy()

In [12]:
df1.sort_values(by=['hs_Character_Fullname_En'])

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year
12095,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,3790,阿卜杜拉·艾哈迈德·古赖尔,Abdulla Ahmed Al Ghurair,NaN,NaN,...,3790,Mashreq Bank,Mashreq Bank,NaN,NaN,Banking,Banking,0,NaN,2019
1374,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,3790,阿卜杜拉·艾哈迈德·古赖尔,Abdulla Ahmed Al Ghurair,NaN,NaN,...,3790,Mashreq Bank,Mashreq Bank,阿拉伯联合酋长国-迪拜,UAE-Dubai,银行业,Banking,0,NaN,2022
9369,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,3790,阿卜杜拉·艾哈迈德·古赖尔,Abdulla Ahmed Al Ghurair,NaN,NaN,...,3790,Mashreq Bank,Mashreq Bank,NaN,NaN,Banking,Banking,0,NaN,2020
6404,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,3790,阿卜杜拉·艾哈迈德·古赖尔,Abdulla Ahmed Al Ghurair,NaN,NaN,...,3790,Mashreq Bank,Mashreq Bank,NaN,NaN,银行业,Banking,0,NaN,2021
9370,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,2813,阿卜杜拉·阿尔·富塔姆,Abdulla Al Futtaim,NaN,NaN,...,2813,Al Futtaim,Al Futtaim,NaN,NaN,Automobiles & Auto Components,Automobiles & Components,0,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4750,先生,1956-08-04,65,1905-06-30 12:00:00,Male,2996,齐格蒙特·索罗茨·扎克,Zygmunt Solorz-Zak,NaN,NaN,...,2996,Cyfrowy Polsat,Cyfrowy Polsat,NaN,NaN,媒体,Media,0,NaN,2021
1202,先生,1956-08-04,66,1905-06-30 12:00:00,Male,2996,齐格蒙特·索罗茨·扎克,Zygmunt Solorz-Zak,NaN,NaN,...,2996,Cyfrowy Polsat,Cyfrowy Polsat,波兰-华沙,Poland-Warsaw,媒体,Media,0,NaN,2022
3199,先生,1900-01-01,未知,2021-10-26 10:02:00,Male,7336,李阳谷,li Yanggu,李,阳谷,...,6676、7336,谱尼测试,Pony Testing,中国-北京,China-Beijing,综合性检测机构,Professional Services,0,NaN,2022
12394,先生,1900-01-01,未知,1905-06-30 12:00:00,Male,4003,恩格尔·洛萨达·莫雷诺,Ángel Losada Moreno,NaN,NaN,...,4003,Grupo Gigante,Grupo Gigante,NaN,NaN,Retail,Retail,0,NaN,2019
2199,先生,1900-01-01,未知,2020-10-20 12:00:00,Male,5987,邵静,NaN,NaN,NaN,...,1509、5987,石英股份,Pacific Quartz,中国-连云港,China-Lianyungang,石英制品,Metals & Mining,0,NaN,2022

In [13]:
df1.columns

Index(['hs_Character_Gender', 'hs_Character_Birthday', 'hs_Character_Age',
       'hs_Character_MTime', 'hs_Character_Gender_Lang', 'hs_Character_ID',
       'hs_Character_Fullname_Cn', 'hs_Character_Fullname_En',
       'hs_Character_Surname_Cn', 'hs_Character_Name_Cn',
       'hs_Character_Surname_En', 'hs_Character_Name_En', 'hs_Character_Photo',
       'hs_Character_Nationality', 'hs_Character_NativePlace_Cn',
       'hs_Character_NativePlace_En', 'hs_Character_BirthPlace_Cn',
       'hs_Character_BirthPlace_En', 'hs_Character_Permanent_Cn',
       'hs_Character_Permanent_En', 'hs_Character_Education_Cn',
       'hs_Character_Education_En', 'hs_Character_School_Cn',
       'hs_Character_School_En', 'hs_Character_Major_Cn',
       'hs_Character_Major_En', 'hs_Rank_Global_Nationality',
       'hs_Rank_Global_NativePlace_Cn', 'hs_Rank_Global_NativePlace_En',
       'hs_Rank_Global_BirthPlace_Cn', 'hs_Rank_Global_BirthPlace_En',
       'hs_Rank_Global_Permanent_Cn', 'hs_Rank_Global_Permanent_En',
       'hs_Rank_Global_Photo', 'hs_Rank_Global_Age', 'hs_Rank_Global_Gender',
       'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En',
       'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En',
       'hs_Rank_Global_Year', 'hs_Rank_Global_Relations',
       'hs_Rank_Global_MTime', 'hs_Rank_Global_ID', 'hs_Rank_Global_ListID',
       'hs_Rank_Global_Ranking', 'hs_Rank_Global_Ranking_Change',
       'hs_Rank_Global_Wealth', 'hs_Rank_Global_Wealth_USD',
       'hs_Rank_Global_Wealth_Change', 'hs_Rank_Global_ChaName_Cn',
       'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_Cha_ID',
       'hs_Rank_Global_ComName_Cn', 'hs_Rank_Global_ComName_En',
       'hs_Rank_Global_ComHeadquarters_Cn',
       'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_Industry_Cn',
       'hs_Rank_Global_Industry_En', 'hs_Rank_Global_Com_ID',
       'hs_GlobalAndCha', 'year'],
      dtype='object')

In [14]:
df1['person'] = df1['hs_Character_Fullname_En'].map(to_concept_id)

In [15]:
# df1 = df1.drop(columns=['hs_Rank_Global_Wealth', 'hs_Rank_Global_Wealth_Change', 'hs_Rank_Global_MTime',
#                        'hs_Rank_Global_Ranking_Change', 'hs_Rank_Global_Wealth_USD', 'hs_Rank_Global_Ranking',
#                        'hs_Rank_Global_Year', 'hs_Character_MTime'])

for c in df1.columns:
    if df1[c].dtype == 'object':
        df1[c] = df1[c].str.strip()
        df1[c] = df1[c].replace({'未知': np.nan})

In [16]:
df1['hs_Character_Birthday'] = df1['hs_Character_Birthday'].replace({'1900-01-01': np.nan})

In [17]:
def _f(x):
    if pd.isnull(x):
        return x
    return x.split('-')[0]

df1['birth'] = df1['hs_Character_Birthday'].map(_f)

In [18]:
df1['birth']

0        1971
1        1964
2        1949
3        1955
4        1930
         ...
12551     NaN
12552    1964
12553    1962
12554     NaN
12555    1961
Name: birth, Length: 12556, dtype: object

In [19]:
from datetime import datetime
import time

In [20]:
datetime.strptime('1954-09-23', '%Y-%m-%d')

datetime.datetime(1954, 9, 23, 0, 0)

In [21]:
def age_today(t):
    bd = datetime.strptime(t, '%Y-%m-%d')
    td = datetime.today()
    
    try:
        currentYrAnniversary = datetime( td.year, bd.month, bd.day )
    except ValueError:
        currentYrAnniversary = datetime( td.year, bd.month, bd.day-1 )
    
    return (td.year - bd.year) - (1 if td < currentYrAnniversary else 0)

In [22]:
def _f(x):
    if pd.isnull(x):
        return x
    return age_today(x)

df1['age'] = df1['hs_Character_Birthday'].map(_f)

In [23]:
df1

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year,person,birth,age
0,先生,1971-06-28,51,1905-06-30 12:00:00,Male,2200,埃隆·马斯克,Elon Musk,NaN,NaN,...,美国-洛杉矶,USA-Los Angeles,新能源汽车,E-Cars,0,NaN,2022,elon_musk,1971,51.0
1,先生,1964-01-12,58,1905-06-30 12:00:00,Male,2174,杰夫·贝佐斯,Jeff Bezos,NaN,NaN,...,美国-西雅图,USA-Seattle,电子商务,E-Commerce,0,NaN,2022,jeff_bezos,1964,58.0
2,先生,1949-05-03,73,1905-06-30 12:00:00,Male,2177,伯纳德·阿诺特,Bernard Arnault,NaN,NaN,...,法国-巴黎,France-Paris,奢侈品,Luxury Goods,0,NaN,2022,bernard_arnault,1949,73.0
3,先生,1955-10-28,67,1905-06-30 12:00:00,Male,2175,比尔·盖茨,Bill Gates,NaN,NaN,...,美国-麦地那,USA-Medina,软件与服务,Software & Services,0,NaN,2022,bill_gates,1955,67.0
4,先生,1930-08-30,92,1905-06-30 12:00:00,Male,2176,沃伦·巴菲特,Warren Buffett,NaN,NaN,...,美国-奥马哈,USA-Omaha,投资,Investments,0,NaN,2022,warren_buffett,1930,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12551,先生,NaN,NaN,1905-06-30 12:00:00,Male,617,曾令山,Zeng Lingshan,曾,令山,...,北京-北京,Beijing-Beijing,生物制药、投资,"Pharmaceuticals, investments",0,NaN,2019,zeng_lingshan,NaN,NaN
12552,先生,1964-01-01,55,1905-06-30 12:00:00,Male,618,张利钿,Zhang Litian,张,利钿,...,广东-潮州,Guangdong-Chaozhou,乳业,Milk powder,0,NaN,2019,zhang_litian,1964,58.0
12553,先生,1962-01-01,57,1905-06-30 12:00:00,Male,568,张思民,Zhang Simin,张,思民,...,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019,zhang_simin,1962,60.0
12554,女士,NaN,NaN,1905-06-30 12:00:00,Female,1934,王劲松,Wang Jinsong,王,劲松,...,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019,wang_jinsong,NaN,NaN
12555,先生,1961-01-01,58,1905-06-30 12:00:00,Male,784,周云杰,Zhou Yunjie,周,云杰,...,北京-北京,Beijing-Beijing,包装,Packaging,0,NaN,2019,zhou_yunjie,1961,61.0

In [24]:
# calculate birth year base on age! so that we can have what we get from forbes list.
df1['birth'] = 2022 - df1['age']

In [25]:
for c, df in df1.groupby(['hs_Character_ID']):
    if np.any(df.duplicated(subset=['year'])):
        print(c)

39
285
335
430
560
1925
2380
3125
3209
3874
5145
5294

In [26]:
df1[df1['hs_Character_ID'] == 39]

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year,person,birth,age
246,先生,1966-01-01,56,1905-06-30 12:00:00,Male,39,李华,Li Hua,李,华,...,中国-深圳,China-Shenzhen,房地产,Developer,0,NaN,2022,li_hua,1966.0,56.0
1308,先生,1966-01-01,56,1905-06-30 12:00:00,Male,39,李华,Li Hua,李,华,...,中国-深圳,China-Shenzhen,金融服务,Financial Services,0,NaN,2022,li_hua,1966.0,56.0
3848,先生,1966-01-01,55,1905-06-30 12:00:00,Male,39,李华,Li Hua,李,华,...,广东-深圳,Guangdong-Shenzhen,房地产,Developer,0,NaN,2021,li_hua,1966.0,56.0
5483,先生,1966-01-01,55,1905-06-30 12:00:00,Male,39,李华,Li Hua,李,华,...,河南-郑州,Henan-Zhengzhou,教育,Education,0,NaN,2021,li_hua,1966.0,56.0
7200,先生,1966-01-01,54,1905-06-30 12:00:00,Male,39,李华,Li Hua,李,华,...,广东-深圳,Guangdong-Shenzhen,房地产,Real Estate,0,NaN,2020,li_hua,1966.0,56.0
8796,先生,1966-01-01,54,1905-06-30 12:00:00,Male,39,李华,Li Hua,李,华,...,河南-郑州,Henan-Zhengzhou,教育,Education,0,NaN,2020,li_hua,1966.0,56.0
10366,先生,1966-01-01,53,1905-06-30 12:00:00,Male,39,李华,Li Hua,李,华,...,广东-深圳,Guangdong-Shenzhen,房地产,Real estate,0,NaN,2019,li_hua,1966.0,56.0

In [27]:
df1 = df1.rename(columns={'birth': 'birth_1'})

In [28]:
df1

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year,person,birth_1,age
0,先生,1971-06-28,51,1905-06-30 12:00:00,Male,2200,埃隆·马斯克,Elon Musk,NaN,NaN,...,美国-洛杉矶,USA-Los Angeles,新能源汽车,E-Cars,0,NaN,2022,elon_musk,1971.0,51.0
1,先生,1964-01-12,58,1905-06-30 12:00:00,Male,2174,杰夫·贝佐斯,Jeff Bezos,NaN,NaN,...,美国-西雅图,USA-Seattle,电子商务,E-Commerce,0,NaN,2022,jeff_bezos,1964.0,58.0
2,先生,1949-05-03,73,1905-06-30 12:00:00,Male,2177,伯纳德·阿诺特,Bernard Arnault,NaN,NaN,...,法国-巴黎,France-Paris,奢侈品,Luxury Goods,0,NaN,2022,bernard_arnault,1949.0,73.0
3,先生,1955-10-28,67,1905-06-30 12:00:00,Male,2175,比尔·盖茨,Bill Gates,NaN,NaN,...,美国-麦地那,USA-Medina,软件与服务,Software & Services,0,NaN,2022,bill_gates,1955.0,67.0
4,先生,1930-08-30,92,1905-06-30 12:00:00,Male,2176,沃伦·巴菲特,Warren Buffett,NaN,NaN,...,美国-奥马哈,USA-Omaha,投资,Investments,0,NaN,2022,warren_buffett,1930.0,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12551,先生,NaN,NaN,1905-06-30 12:00:00,Male,617,曾令山,Zeng Lingshan,曾,令山,...,北京-北京,Beijing-Beijing,生物制药、投资,"Pharmaceuticals, investments",0,NaN,2019,zeng_lingshan,NaN,NaN
12552,先生,1964-01-01,55,1905-06-30 12:00:00,Male,618,张利钿,Zhang Litian,张,利钿,...,广东-潮州,Guangdong-Chaozhou,乳业,Milk powder,0,NaN,2019,zhang_litian,1964.0,58.0
12553,先生,1962-01-01,57,1905-06-30 12:00:00,Male,568,张思民,Zhang Simin,张,思民,...,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019,zhang_simin,1962.0,60.0
12554,女士,NaN,NaN,1905-06-30 12:00:00,Female,1934,王劲松,Wang Jinsong,王,劲松,...,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019,wang_jinsong,NaN,NaN
12555,先生,1961-01-01,58,1905-06-30 12:00:00,Male,784,周云杰,Zhou Yunjie,周,云杰,...,北京-北京,Beijing-Beijing,包装,Packaging,0,NaN,2019,zhou_yunjie,1961.0,61.0

In [29]:
# FIXME: give duplicated items new ID?
# But the steps below also remove duplicates.

In [30]:
df1

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year,person,birth_1,age
0,先生,1971-06-28,51,1905-06-30 12:00:00,Male,2200,埃隆·马斯克,Elon Musk,NaN,NaN,...,美国-洛杉矶,USA-Los Angeles,新能源汽车,E-Cars,0,NaN,2022,elon_musk,1971.0,51.0
1,先生,1964-01-12,58,1905-06-30 12:00:00,Male,2174,杰夫·贝佐斯,Jeff Bezos,NaN,NaN,...,美国-西雅图,USA-Seattle,电子商务,E-Commerce,0,NaN,2022,jeff_bezos,1964.0,58.0
2,先生,1949-05-03,73,1905-06-30 12:00:00,Male,2177,伯纳德·阿诺特,Bernard Arnault,NaN,NaN,...,法国-巴黎,France-Paris,奢侈品,Luxury Goods,0,NaN,2022,bernard_arnault,1949.0,73.0
3,先生,1955-10-28,67,1905-06-30 12:00:00,Male,2175,比尔·盖茨,Bill Gates,NaN,NaN,...,美国-麦地那,USA-Medina,软件与服务,Software & Services,0,NaN,2022,bill_gates,1955.0,67.0
4,先生,1930-08-30,92,1905-06-30 12:00:00,Male,2176,沃伦·巴菲特,Warren Buffett,NaN,NaN,...,美国-奥马哈,USA-Omaha,投资,Investments,0,NaN,2022,warren_buffett,1930.0,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12551,先生,NaN,NaN,1905-06-30 12:00:00,Male,617,曾令山,Zeng Lingshan,曾,令山,...,北京-北京,Beijing-Beijing,生物制药、投资,"Pharmaceuticals, investments",0,NaN,2019,zeng_lingshan,NaN,NaN
12552,先生,1964-01-01,55,1905-06-30 12:00:00,Male,618,张利钿,Zhang Litian,张,利钿,...,广东-潮州,Guangdong-Chaozhou,乳业,Milk powder,0,NaN,2019,zhang_litian,1964.0,58.0
12553,先生,1962-01-01,57,1905-06-30 12:00:00,Male,568,张思民,Zhang Simin,张,思民,...,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019,zhang_simin,1962.0,60.0
12554,女士,NaN,NaN,1905-06-30 12:00:00,Female,1934,王劲松,Wang Jinsong,王,劲松,...,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019,wang_jinsong,NaN,NaN
12555,先生,1961-01-01,58,1905-06-30 12:00:00,Male,784,周云杰,Zhou Yunjie,周,云杰,...,北京-北京,Beijing-Beijing,包装,Packaging,0,NaN,2019,zhou_yunjie,1961.0,61.0

In [31]:
def name_to_id(name):
    if not isinstance(name, str):
        return name
    n = name.lower().strip()
    if '& family' in n:
        n = to_concept_id(n.replace('& family', ''))
    elif '& famiy' in n:
        n = to_concept_id(n.replace('& famiy', ''))
    elif '&family' in n:
        n = to_concept_id(n.replace('&family', ''))
    elif ' and family' in n:
        n = to_concept_id(n.replace(' and family', ''))
    elif ' brothers' in n:
        n = to_concept_id(n.replace(' brothers', ''))
#     elif 'family' in n:
#         n = to_concept_id(n.replace('family', ''))
    elif '&' in n:
        n = to_concept_id(n.replace('&', ' and '))
    elif '、' in n:
        n = to_concept_id(n.replace('、', ' and '))
    else:
        n = to_concept_id(n)
        
    return n

In [32]:
# 2017/18

df = pd.concat([hurun_data[2018],
                hurun_data[2017]], ignore_index=True)

df2 = df.copy()

In [33]:
df2[df2['ID'] == 39]

Empty DataFrame
Columns: [ID, Ranking, NameEn, Wealth, Birthday, CNameEn, IndustryEn, year]
Index: []

In [34]:
df2['person'] = df2['NameEn'].map(name_to_id)

In [35]:
df2[df2['person'].str.contains('family')]

,ID,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year,person
1189,15038,1190,Doria Pamphilj Family,2.4,/,(Inheritence),Others,2018,doria_pamphilj_family
1940,15789,1941,Wessels Family,1.5,/,Volker Wessels,Construction,2018,wessels_family

In [36]:
df2

,ID,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year,person
0,13849,1,Jeff Bezos,123.0,1964,Amazon,Online Retail,2018,jeff_bezos
1,13850,2,Warren Buffett,102.0,1931,Berkshire Hathaway,Investments,2018,warren_buffett
2,13851,3,Bill Gates,90.0,1956,Microsoft,Investments,2018,bill_gates
3,13852,4,Mark Zuckerberg,79.0,1985,Facebook,Technology,2018,mark_zuckerberg
4,13853,5,Bernard Arnault,78.0,1950,LVMH,Single Brand Retailing,2018,bernard_arnault
...,...,...,...,...,...,...,...,...,...
4946,4309,2114,Zeng Baobao,1.0,1971,Fantasia,Real estate,2017,zeng_baobao
4947,4310,2114,Zhang Desheng,1.0,1949,Wanma,TMT,2017,zhang_desheng
4948,4311,2114,Zhu Min & Xu Yuqing,1.0,1948、1949,Cybernaut,Investments,2017,zhu_min_and_xu_yuqing
4949,4312,2114,Zhuo Jun,1.0,1966,Kingwong,Electric,2017,zhuo_jun
4950,4313,2114,Zuo Hongbo & Zhe Shuxia,1.0,1965、1963,Aurora,Manufacturing,2017,zuo_hongbo_and_zhe_shuxia

In [37]:
for c, df in df2.groupby(['person']):
    if np.any(df.duplicated(subset=['year'])):
        print(c)

robert_miller
wang_jian

In [38]:
df2[df2['person'] == 'wang_jian']

,ID,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year,person
651,14500,652,Wang Jian,4.0,1954,BGI,Genetic testing,2018,wang_jian
1217,15066,1218,Wang Jian,2.4,1961,HNA,Investments,2018,wang_jian

In [39]:
df2 = df2.drop(columns=['ID'])

In [40]:
df2.columns = ['ranking', 'name', 'wealth', 'birth_2', 'company', 'industry', 'year', 'person']

In [41]:
# 2016 and earlier

In [42]:
df3 = []

for i in range(2016, 2011, -1):
    df = hurun_data[i].copy()
    df.columns = ['ranking', 'wealth', 'name', 'sex', 'birth_3', 'company', 'industry', 'year']
    df3.append(df)
    
df3 = pd.concat(df3)

In [43]:
hurun_data[2016]

,Rank,Wealth(US$),Name,Sex,Birth,Companies,Industry,year
0,1,$ 80000 M,Bill Gates,Male,1956,Microsoft,Investments,2016
1,2,$ 68000 M,Warren Buffett brothers,Male,1931,Berkshire Hathaway,Investments,2016
2,3,$ 64000 M,Amancio Ortega brothers,Male,1937,Inditex,Single Brand Retailing,2016
3,4,$ 53000 M,Jeff Bezos,Male,1964,Amazon,Online Retail,2016
4,5,$ 50000 M,Carlos Slim Helu family,Male,1940,America Movil,Telecom,2016
...,...,...,...,...,...,...,...,...
95,91,$ 11000 M,Khalif bin zayed an Nahyas,Male,1948,SBK Holdings,/,2016
96,91,$ 11000 M,Hans Rausing,Male,1925,Tetra Pak,Packaging,2016
97,91,$ 11000 M,Andrew Beal,Male,1953,Beal Bank,Investments,2016
98,91,$ 11000 M,Jack Taylor family,Male,1922,Enterprise Rent A Car,Logistics,2016
99,91,$ 11000 M,Steve Cohen,Male,1956,Sac Capital,Hedge Funds,2016

In [44]:
df3

,ranking,wealth,name,sex,birth_3,company,industry,year
0,1,$ 80000 M,Bill Gates,Male,1956,Microsoft,Investments,2016
1,2,$ 68000 M,Warren Buffett brothers,Male,1931,Berkshire Hathaway,Investments,2016
2,3,$ 64000 M,Amancio Ortega brothers,Male,1937,Inditex,Single Brand Retailing,2016
3,4,$ 53000 M,Jeff Bezos,Male,1964,Amazon,Online Retail,2016
4,5,$ 50000 M,Carlos Slim Helu family,Male,1940,America Movil,Telecom,2016
...,...,...,...,...,...,...,...,...
78,78,$ 10500 Million,Zong Qinghou family,Male,1945,Wahaha,Drinks,2012
79,78,$ 10500 Million,Klaus-Michael Kuhne,Male,1937,Kuehne & Nagel,Shipping,2012
80,78,$ 10500 Million,Hans Rausing,Male,1925,Tetra Pack,Packaging,2012
81,82,$ 10000 Million,Ernesto Bertarelli family,Male,1965,Serono,Pharmaceuticals,2012
82,82,$ 10000 Million,Gerald Cavendish Grosvenor family,Male,1951,Grosvenor,Real Estate,2012

In [45]:
df3['person'] = df3['name'].map(name_to_id)

In [46]:
df3

,ranking,wealth,name,sex,birth_3,company,industry,year,person
0,1,$ 80000 M,Bill Gates,Male,1956,Microsoft,Investments,2016,bill_gates
1,2,$ 68000 M,Warren Buffett brothers,Male,1931,Berkshire Hathaway,Investments,2016,warren_buffett_brothers
2,3,$ 64000 M,Amancio Ortega brothers,Male,1937,Inditex,Single Brand Retailing,2016,amancio_ortega_brothers
3,4,$ 53000 M,Jeff Bezos,Male,1964,Amazon,Online Retail,2016,jeff_bezos
4,5,$ 50000 M,Carlos Slim Helu family,Male,1940,America Movil,Telecom,2016,carlos_slim_helu_family
...,...,...,...,...,...,...,...,...,...
78,78,$ 10500 Million,Zong Qinghou family,Male,1945,Wahaha,Drinks,2012,zong_qinghou_family
79,78,$ 10500 Million,Klaus-Michael Kuhne,Male,1937,Kuehne & Nagel,Shipping,2012,klaus_michael_kuhne
80,78,$ 10500 Million,Hans Rausing,Male,1925,Tetra Pack,Packaging,2012,hans_rausing
81,82,$ 10000 Million,Ernesto Bertarelli family,Male,1965,Serono,Pharmaceuticals,2012,ernesto_bertarelli_family
82,82,$ 10000 Million,Gerald Cavendish Grosvenor family,Male,1951,Grosvenor,Real Estate,2012,gerald_cavendish_grosvenor_family

In [47]:
df3[df3.person.str.contains('family')].person.unique()

array(['carlos_slim_helu_family', 'ingvar_kamprad_family',
       'christy_walton_family', 'gerard_mulliez_family', 'ma_yun_family',
       'maria_franca_fissolo_family', 'zong_qinghou_family',
       's_p_hinduja_family', 'elaine_marshall_family',
       'galen_weston_family', 'serge_dassault_family',
       'michael_otto_family', 'tadashi_yanai_family',
       'gerald_cavendish_grosvenor_family', 'laurene_powell_jobs_family',
       'horst_paulmann_family', 'emilio_alves_odebrecht_family',
       'ernesto_bertarelli_family', 'massimiliana_landini_aleotti_family',
       'jack_taylor_family', 'david_thomson_family',
       'michele_ferrero_family', 'theo_jr_albrecht_family',
       'german_larrea_mota_velasco_family', 'francois_pinault_family',
       'iris_fontbona_family', 'henry_sy_family', 'rupert_murdoch_family',
       'antonio_ermirio_de_moraes_family', 'nobutada_saji_family',
       'wolfgang_porsche_family', 'thomas_and_raymond_kwok_family',
       'alberto_bailleres_gonzalez_family', 'birgit_rausing_family',
       'dhanin_chearavanont_family', 'ricardo_salinas_pliego_family',
       'savitri_jindal_family'], dtype=object)

In [48]:
for c, df in df3.groupby(['person']):
    if np.any(df.duplicated(subset=['year'])):
        print(c)

leonardo_del_vecchio
vagit_alekperov

In [49]:
df3[df3['person'] == 'vagit_alekperov']

,ranking,wealth,name,sex,birth_3,company,industry,year,person
89,85,$ 12500 M,Vagit Alekperov,Male,1950,Lukoil,Energy,2014,vagit_alekperov
62,58,$ 14000 M,Vagit Alekperov,Male,1950,Lukoil,Energy,2013,vagit_alekperov
38,38,$ 16000 Million,Vagit Alekperov,Male,1950,Lukoil,Energy,2012,vagit_alekperov
63,60,$ 12000 Million,Vagit Alekperov,Male,1950,Lukoil,Energy,2012,vagit_alekperov

In [50]:
def extract_wealth(x):
    return x.split(' ')[1]

df3['wealth'] = df3['wealth'].map(extract_wealth).astype(int) / 1000

In [51]:
# now merge all 3 dfs

In [52]:
df1

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year,person,birth_1,age
0,先生,1971-06-28,51,1905-06-30 12:00:00,Male,2200,埃隆·马斯克,Elon Musk,NaN,NaN,...,美国-洛杉矶,USA-Los Angeles,新能源汽车,E-Cars,0,NaN,2022,elon_musk,1971.0,51.0
1,先生,1964-01-12,58,1905-06-30 12:00:00,Male,2174,杰夫·贝佐斯,Jeff Bezos,NaN,NaN,...,美国-西雅图,USA-Seattle,电子商务,E-Commerce,0,NaN,2022,jeff_bezos,1964.0,58.0
2,先生,1949-05-03,73,1905-06-30 12:00:00,Male,2177,伯纳德·阿诺特,Bernard Arnault,NaN,NaN,...,法国-巴黎,France-Paris,奢侈品,Luxury Goods,0,NaN,2022,bernard_arnault,1949.0,73.0
3,先生,1955-10-28,67,1905-06-30 12:00:00,Male,2175,比尔·盖茨,Bill Gates,NaN,NaN,...,美国-麦地那,USA-Medina,软件与服务,Software & Services,0,NaN,2022,bill_gates,1955.0,67.0
4,先生,1930-08-30,92,1905-06-30 12:00:00,Male,2176,沃伦·巴菲特,Warren Buffett,NaN,NaN,...,美国-奥马哈,USA-Omaha,投资,Investments,0,NaN,2022,warren_buffett,1930.0,92.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12551,先生,NaN,NaN,1905-06-30 12:00:00,Male,617,曾令山,Zeng Lingshan,曾,令山,...,北京-北京,Beijing-Beijing,生物制药、投资,"Pharmaceuticals, investments",0,NaN,2019,zeng_lingshan,NaN,NaN
12552,先生,1964-01-01,55,1905-06-30 12:00:00,Male,618,张利钿,Zhang Litian,张,利钿,...,广东-潮州,Guangdong-Chaozhou,乳业,Milk powder,0,NaN,2019,zhang_litian,1964.0,58.0
12553,先生,1962-01-01,57,1905-06-30 12:00:00,Male,568,张思民,Zhang Simin,张,思民,...,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019,zhang_simin,1962.0,60.0
12554,女士,NaN,NaN,1905-06-30 12:00:00,Female,1934,王劲松,Wang Jinsong,王,劲松,...,广东-深圳,Guangdong-Shenzhen,医药、房地产,"Pharmaceuticals, real estate",0,NaN,2019,wang_jinsong,NaN,NaN
12555,先生,1961-01-01,58,1905-06-30 12:00:00,Male,784,周云杰,Zhou Yunjie,周,云杰,...,北京-北京,Beijing-Beijing,包装,Packaging,0,NaN,2019,zhou_yunjie,1961.0,61.0

In [53]:
df1.columns

Index(['hs_Character_Gender', 'hs_Character_Birthday', 'hs_Character_Age',
       'hs_Character_MTime', 'hs_Character_Gender_Lang', 'hs_Character_ID',
       'hs_Character_Fullname_Cn', 'hs_Character_Fullname_En',
       'hs_Character_Surname_Cn', 'hs_Character_Name_Cn',
       'hs_Character_Surname_En', 'hs_Character_Name_En', 'hs_Character_Photo',
       'hs_Character_Nationality', 'hs_Character_NativePlace_Cn',
       'hs_Character_NativePlace_En', 'hs_Character_BirthPlace_Cn',
       'hs_Character_BirthPlace_En', 'hs_Character_Permanent_Cn',
       'hs_Character_Permanent_En', 'hs_Character_Education_Cn',
       'hs_Character_Education_En', 'hs_Character_School_Cn',
       'hs_Character_School_En', 'hs_Character_Major_Cn',
       'hs_Character_Major_En', 'hs_Rank_Global_Nationality',
       'hs_Rank_Global_NativePlace_Cn', 'hs_Rank_Global_NativePlace_En',
       'hs_Rank_Global_BirthPlace_Cn', 'hs_Rank_Global_BirthPlace_En',
       'hs_Rank_Global_Permanent_Cn', 'hs_Rank_Global_Permanent_En',
       'hs_Rank_Global_Photo', 'hs_Rank_Global_Age', 'hs_Rank_Global_Gender',
       'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En',
       'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En',
       'hs_Rank_Global_Year', 'hs_Rank_Global_Relations',
       'hs_Rank_Global_MTime', 'hs_Rank_Global_ID', 'hs_Rank_Global_ListID',
       'hs_Rank_Global_Ranking', 'hs_Rank_Global_Ranking_Change',
       'hs_Rank_Global_Wealth', 'hs_Rank_Global_Wealth_USD',
       'hs_Rank_Global_Wealth_Change', 'hs_Rank_Global_ChaName_Cn',
       'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_Cha_ID',
       'hs_Rank_Global_ComName_Cn', 'hs_Rank_Global_ComName_En',
       'hs_Rank_Global_ComHeadquarters_Cn',
       'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_Industry_Cn',
       'hs_Rank_Global_Industry_En', 'hs_Rank_Global_Com_ID',
       'hs_GlobalAndCha', 'year', 'person', 'birth_1', 'age'],
      dtype='object')

In [54]:
cols = ['hs_Rank_Global_Ranking', 'hs_Character_Fullname_En',  
        'person',
        'year', 'birth_1', 'age',
        'hs_Character_Gender_Lang',
        'hs_Character_Permanent_En',
        'hs_Rank_Global_Industry_En',
        'hs_Rank_Global_ComName_En',
        'hs_Rank_Global_Wealth_USD',
        'hs_Rank_Global_Wealth',
        'hs_Character_Photo',
        'hs_Character_Name_En',
        'hs_Character_Surname_En',
        'hs_Character_Gender', 'hs_Character_Birthday', 'hs_Character_Age',
       'hs_Character_MTime', 'hs_Character_ID',
       'hs_Character_Fullname_Cn',
       'hs_Character_Surname_Cn', 'hs_Character_Name_Cn',
       'hs_Character_Nationality', 'hs_Character_NativePlace_Cn',
       'hs_Character_NativePlace_En', 'hs_Character_BirthPlace_Cn',
       'hs_Character_BirthPlace_En', 'hs_Character_Permanent_Cn',
        'hs_Character_Education_Cn',
       'hs_Character_Education_En', 'hs_Character_School_Cn',
       'hs_Character_School_En', 'hs_Character_Major_Cn',
       'hs_Character_Major_En', 'hs_Rank_Global_Nationality',
       'hs_Rank_Global_NativePlace_Cn', 'hs_Rank_Global_NativePlace_En',
       'hs_Rank_Global_BirthPlace_Cn', 'hs_Rank_Global_BirthPlace_En',
       'hs_Rank_Global_Permanent_Cn', 'hs_Rank_Global_Permanent_En',
       'hs_Rank_Global_Photo', 'hs_Rank_Global_Age', 'hs_Rank_Global_Gender',
       'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En',
       'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En',
       'hs_Rank_Global_Year', 'hs_Rank_Global_Relations',
       'hs_Rank_Global_MTime', 'hs_Rank_Global_ID', 'hs_Rank_Global_ListID',
       'hs_Rank_Global_Ranking_Change', 
       'hs_Rank_Global_Wealth_Change', 'hs_Rank_Global_ChaName_Cn',
       'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_Cha_ID',
       'hs_Rank_Global_ComName_Cn',
       'hs_Rank_Global_ComHeadquarters_Cn',
       'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_Industry_Cn',
        'hs_Rank_Global_Com_ID',
       'hs_GlobalAndCha']

df1 = df1[cols]

In [55]:
newcols = ['ranking', 'name',  
        'person',
        'year', 'birth_1', 'age',
        'sex',
        'permanent_country',
        'industry',
        'company',
        'wealth',
        'hs_Rank_Global_Wealth',
        'hs_Character_Photo',
        'hs_Character_Name_En',
        'hs_Character_Surname_En',
        'hs_Character_Gender', 'hs_Character_Birthday', 'hs_Character_Age',
       'hs_Character_MTime', 'hs_Character_ID',
       'hs_Character_Fullname_Cn',
       'hs_Character_Surname_Cn', 'hs_Character_Name_Cn',
       'hs_Character_Nationality', 'hs_Character_NativePlace_Cn',
       'hs_Character_NativePlace_En', 'hs_Character_BirthPlace_Cn',
       'hs_Character_BirthPlace_En', 'hs_Character_Permanent_Cn',
        'hs_Character_Education_Cn',
       'hs_Character_Education_En', 'hs_Character_School_Cn',
       'hs_Character_School_En', 'hs_Character_Major_Cn',
       'hs_Character_Major_En', 'hs_Rank_Global_Nationality',
       'hs_Rank_Global_NativePlace_Cn', 'hs_Rank_Global_NativePlace_En',
       'hs_Rank_Global_BirthPlace_Cn', 'hs_Rank_Global_BirthPlace_En',
       'hs_Rank_Global_Permanent_Cn', 'hs_Rank_Global_Permanent_En',
       'hs_Rank_Global_Photo', 'hs_Rank_Global_Age', 'hs_Rank_Global_Gender',
       'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En',
       'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En',
       'hs_Rank_Global_Year', 'hs_Rank_Global_Relations',
       'hs_Rank_Global_MTime', 'hs_Rank_Global_ID', 'hs_Rank_Global_ListID',
       'hs_Rank_Global_Ranking_Change', 
       'hs_Rank_Global_Wealth_Change', 'hs_Rank_Global_ChaName_Cn',
       'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_Cha_ID',
       'hs_Rank_Global_ComName_En',
       'hs_Rank_Global_ComHeadquarters_Cn',
       'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_Industry_Cn',
        'hs_Rank_Global_Com_ID',
       'hs_GlobalAndCha']

df1.columns = newcols

In [56]:
df1

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,...,hs_Rank_Global_Wealth_Change,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Com_ID,hs_GlobalAndCha
0,1,Elon Musk,elon_musk,2022,1971.0,51.0,Male,United States-California-Los Angeles,E-Cars,Tesla,...,4%,埃隆·马斯克,Elon Musk,2200,特斯拉,美国-洛杉矶,USA-Los Angeles,新能源汽车,0,NaN
1,2,Jeff Bezos,jeff_bezos,2022,1964.0,58.0,Male,United States-Washington State-Seattle,E-Commerce,Amazon,...,-1%,杰夫·贝佐斯,Jeff Bezos,2174,亚马逊,美国-西雅图,USA-Seattle,电子商务,0,NaN
2,3,Bernard Arnault,bernard_arnault,2022,1949.0,73.0,Male,France-Paris Province-Paris,Luxury Goods,LVMH,...,34%,伯纳德·阿诺特,Bernard Arnault,2177,酩悦·轩尼诗-路易·威登,法国-巴黎,France-Paris,奢侈品,0,NaN
3,4,Bill Gates,bill_gates,2022,1955.0,67.0,Male,United States-Washington State-Medina,Software & Services,Microsoft,...,13%,比尔·盖茨,Bill Gates,2175,微软,美国-麦地那,USA-Medina,软件与服务,0,NaN
4,5,Warren Buffett,warren_buffett,2022,1930.0,92.0,Male,United States-Nebraska-Omaha,Investments,Berkshire Hathaway,...,31%,沃伦·巴菲特,Warren Buffett,2176,伯克希尔·哈撒韦,美国-奥马哈,USA-Omaha,投资,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12551,2311,Zeng Lingshan,zeng_lingshan,2019,NaN,NaN,Male,China-Beijing,"Pharmaceuticals, investments",Creat,...,-44%,曾令山,Zeng Lingshan,617,科瑞,北京-北京,Beijing-Beijing,生物制药、投资,0,NaN
12552,2311,Zhang Litian,zhang_litian,2019,1964.0,58.0,Male,China-Guangdong-Chaozhou,Milk powder,Yashily,...,0%,张利钿,Zhang Litian,618,雅士利,广东-潮州,Guangdong-Chaozhou,乳业,0,NaN
12553,2311,Zhang Simin,zhang_simin,2019,1962.0,60.0,Male,China-Guangdong-Shenzhen,"Pharmaceuticals, real estate",Neptunus,...,New,张思民、王劲松,Zhang Simin、Wang Jinsong,568、1934,海王,广东-深圳,Guangdong-Shenzhen,医药、房地产,0,NaN
12554,2311,Wang Jinsong,wang_jinsong,2019,NaN,NaN,Female,China-Guangdong-Shenzhen,"Pharmaceuticals, real estate",Neptunus,...,New,张思民、王劲松,Zhang Simin、Wang Jinsong,568、1934,海王,广东-深圳,Guangdong-Shenzhen,医药、房地产,0,NaN
12555,2311,Zhou Yunjie,zhou_yunjie,2019,1961.0,61.0,Male,China-Beijing,Packaging,ORG Packaging,...,-17%,周云杰,Zhou Yunjie,784,奥瑞金,北京-北京,Beijing-Beijing,包装,0,NaN

In [57]:
_d = df1.dropna(subset=['person'])

_d[_d.person.str.contains('family')]

Empty DataFrame
Columns: [ranking, name, person, year, birth_1, age, sex, permanent_country, industry, company, wealth, hs_Rank_Global_Wealth, hs_Character_Photo, hs_Character_Name_En, hs_Character_Surname_En, hs_Character_Gender, hs_Character_Birthday, hs_Character_Age, hs_Character_MTime, hs_Character_ID, hs_Character_Fullname_Cn, hs_Character_Surname_Cn, hs_Character_Name_Cn, hs_Character_Nationality, hs_Character_NativePlace_Cn, hs_Character_NativePlace_En, hs_Character_BirthPlace_Cn, hs_Character_BirthPlace_En, hs_Character_Permanent_Cn, hs_Character_Education_Cn, hs_Character_Education_En, hs_Character_School_Cn, hs_Character_School_En, hs_Character_Major_Cn, hs_Character_Major_En, hs_Rank_Global_Nationality, hs_Rank_Global_NativePlace_Cn, hs_Rank_Global_NativePlace_En, hs_Rank_Global_BirthPlace_Cn, hs_Rank_Global_BirthPlace_En, hs_Rank_Global_Permanent_Cn, hs_Rank_Global_Permanent_En, hs_Rank_Global_Photo, hs_Rank_Global_Age, hs_Rank_Global_Gender, hs_Rank_Global_Education_Cn, hs_Rank_Global_Education_En, hs_Rank_Global_School_Cn, hs_Rank_Global_School_En, hs_Rank_Global_Year, hs_Rank_Global_Relations, hs_Rank_Global_MTime, hs_Rank_Global_ID, hs_Rank_Global_ListID, hs_Rank_Global_Ranking_Change, hs_Rank_Global_Wealth_Change, hs_Rank_Global_ChaName_Cn, hs_Rank_Global_ChaName_En, hs_Rank_Global_Cha_ID, hs_Rank_Global_ComName_En, hs_Rank_Global_ComHeadquarters_Cn, hs_Rank_Global_ComHeadquarters_En, hs_Rank_Global_Industry_Cn, hs_Rank_Global_Com_ID, hs_GlobalAndCha]
Index: []

[0 rows x 65 columns]

In [58]:
df123 = pd.concat([df1, df2, df3], ignore_index=True)

In [59]:
df123

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,...,hs_Rank_Global_ChaName_En,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Com_ID,hs_GlobalAndCha,birth_2,birth_3
0,1,Elon Musk,elon_musk,2022,1971.0,51.0,Male,United States-California-Los Angeles,E-Cars,Tesla,...,Elon Musk,2200,特斯拉,美国-洛杉矶,USA-Los Angeles,新能源汽车,0.0,NaN,NaN,NaN
1,2,Jeff Bezos,jeff_bezos,2022,1964.0,58.0,Male,United States-Washington State-Seattle,E-Commerce,Amazon,...,Jeff Bezos,2174,亚马逊,美国-西雅图,USA-Seattle,电子商务,0.0,NaN,NaN,NaN
2,3,Bernard Arnault,bernard_arnault,2022,1949.0,73.0,Male,France-Paris Province-Paris,Luxury Goods,LVMH,...,Bernard Arnault,2177,酩悦·轩尼诗-路易·威登,法国-巴黎,France-Paris,奢侈品,0.0,NaN,NaN,NaN
3,4,Bill Gates,bill_gates,2022,1955.0,67.0,Male,United States-Washington State-Medina,Software & Services,Microsoft,...,Bill Gates,2175,微软,美国-麦地那,USA-Medina,软件与服务,0.0,NaN,NaN,NaN
4,5,Warren Buffett,warren_buffett,2022,1930.0,92.0,Male,United States-Nebraska-Omaha,Investments,Berkshire Hathaway,...,Warren Buffett,2176,伯克希尔·哈撒韦,美国-奥马哈,USA-Omaha,投资,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17985,78,Zong Qinghou family,zong_qinghou_family,2012,NaN,NaN,Male,NaN,Drinks,Wahaha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1945
17986,78,Klaus-Michael Kuhne,klaus_michael_kuhne,2012,NaN,NaN,Male,NaN,Shipping,Kuehne & Nagel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1937
17987,78,Hans Rausing,hans_rausing,2012,NaN,NaN,Male,NaN,Packaging,Tetra Pack,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925
17988,82,Ernesto Bertarelli family,ernesto_bertarelli_family,2012,NaN,NaN,Male,NaN,Pharmaceuticals,Serono,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1965
17989,82,Gerald Cavendish Grosvenor family,gerald_cavendish_grosvenor_family,2012,NaN,NaN,Male,NaN,Real Estate,Grosvenor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1951

In [60]:
dups = []

for c, df in df123.groupby(['person']):
    if np.any(df.duplicated(subset=['year'])):
        print(c)
        dups.append(c)

chen_yanni
huang_wei
huang_zheng
james_d_slavik
jiang_bin
jiang_long
jiang_wei
jim_davis
jin_lei
kommer_damen
leonardo_del_vecchio
li_hua
li_li
li_min
li_ping
li_xiaoming
lun_ruixiang
robert_miller
serena_simmons
tu_jianhua
vagit_alekperov
wang_jian
wang_jun
wang_yanqing
willis_j_johnson
xu_xin
xu_xudong
yeung_kin_man
zhang_changhong
zhang_jin
zhang_liang
zhang_xin
zhang_yong
zhou_jian

In [61]:
len(dups)

34

In [62]:
# here we manually set the person id for duplicates

In [63]:
df123.columns

display_cols = ['ranking', 'name', 'person', 'year', 'birth_1', 'age', 'sex',
       'permanent_country', 'industry', 'company', 'wealth', 'hs_Character_Fullname_Cn','hs_Rank_Global_ChaName_Cn', 
                'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_ComName_En']

In [64]:
i = 0
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

chen_yanni

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
2183,2035,Chen Yanni,chen_yanni,2022,1982.0,40.0,Female,China-Zhejiang-Shaoxing,Electrical equipment,Wolong,1.8,陈嫣妮,陈建成、陈嫣妮,Chen Jiancheng & Chen Yanni,卧龙控股
2263,2115,Chen Yanni,chen_yanni,2022,1965.0,57.0,Female,China-Zhejiang-Huzhou,Biotechnology,Wolwo Pharma,1.7,陈燕霓,胡赓熙、陈燕霓,Hu Gengxi & Chen Yanni,我武生物
5312,1609,Chen Yanni,chen_yanni,2021,1965.0,57.0,Female,China-Zhejiang-Huzhou,Pharmaceuticals,Wolwo Pharma,2.2,陈燕霓,胡赓熙、陈燕霓,Hu Gengxi、Chen Yanni,我武生物
5662,1962,Chen Yanni,chen_yanni,2021,1982.0,40.0,Female,China-Zhejiang-Shaoxing,Industrial Products,Wolong,1.8,陈嫣妮,陈建成、陈嫣妮,Chen Jiancheng、Chen Yanni,卧龙控股
8997,1891,Chen Yanni,chen_yanni,2020,1982.0,40.0,Female,China-Zhejiang-Shaoxing,Pharmaceuticals,Wolwo Pharma,1.5,陈嫣妮,胡赓熙、陈燕霓,Hu Gengxi,我武生物
9084,2000,Chen Yanni,chen_yanni,2020,1982.0,40.0,Female,China-Zhejiang-Shaoxing,Manufacturing,Wolong,1.4,陈嫣妮,陈建成、陈嫣妮,Chen Jiancheng、Chen Yanni,卧龙控股
12408,2311,Chen Yanni,chen_yanni,2019,1982.0,40.0,Female,China-Zhejiang-Shaoxing,Manufacturing,Wolong,1.0,陈嫣妮,陈建成、陈嫣妮,Chen Jiancheng、Chen Yanni,卧龙控股

In [65]:
df123[df123.person == 'hu_gengxi'][display_cols]

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
2262,2115,Hu Gengxi,hu_gengxi,2022,1964.0,58.0,Male,China-Zhejiang-Huzhou,Biotechnology,Wolwo Pharma,1.7,胡赓熙,胡赓熙、陈燕霓,Hu Gengxi & Chen Yanni,我武生物
5311,1609,Hu Gengxi,hu_gengxi,2021,1964.0,58.0,Male,China-Zhejiang-Huzhou,Pharmaceuticals,Wolwo Pharma,2.2,胡赓熙,胡赓熙、陈燕霓,Hu Gengxi、Chen Yanni,我武生物
8996,1891,Hu Gengxi,hu_gengxi,2020,1964.0,58.0,Male,China-Zhejiang-Huzhou,Pharmaceuticals,Wolwo Pharma,1.5,胡赓熙,胡赓熙、陈燕霓,Hu Gengxi,我武生物

In [66]:
# checked Wolwo Pharma's chen_yanni's birth year should be 1965
df123.loc[(df123.person == n) & (df123.company == 'Wolwo Pharma'), 'person'] = 'chen_yanni_1'

In [67]:
df123.loc[(df123.person == 'chen_yanni_1'), 'birth_1'] = 1965
df123.loc[(df123.person == 'chen_yanni_1'), 'age'] = 57

In [68]:
df123.loc[(df123.person == 'chen_yanni_1')]

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,...,hs_Rank_Global_ChaName_En,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Com_ID,hs_GlobalAndCha,birth_2,birth_3
2263,2115,Chen Yanni,chen_yanni_1,2022,1965.0,57.0,Female,China-Zhejiang-Huzhou,Biotechnology,Wolwo Pharma,...,Hu Gengxi & Chen Yanni,538、1926,我武生物,中国-湖州,China-Huzhou,医药,0.0,NaN,NaN,NaN
5312,1609,Chen Yanni,chen_yanni_1,2021,1965.0,57.0,Female,China-Zhejiang-Huzhou,Pharmaceuticals,Wolwo Pharma,...,Hu Gengxi、Chen Yanni,538、1926,我武生物,浙江-湖州,Zhejiang-Huzhou,制药,0.0,NaN,NaN,NaN
8997,1891,Chen Yanni,chen_yanni_1,2020,1965.0,57.0,Female,China-Zhejiang-Shaoxing,Pharmaceuticals,Wolwo Pharma,...,Hu Gengxi,538、1926,我武生物,浙江-湖州,Zhejiang-Huzhou,医药,0.0,NaN,NaN,NaN

In [69]:
i = 1
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

huang_wei

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1063,1002,Huang Wei,huang_wei,2022,1959.0,63.0,Male,China-Zhejiang-Hangzhou,Real Estate,XinHu,3.6,黄伟,黄伟、李萍,Huang Wei & Li Ping,新湖
4394,754,Huang Wei,huang_wei,2021,1959.0,63.0,Male,China-Zhejiang-Hangzhou,Developer,XinHu,4.4,黄伟,黄伟、李萍,Huang Wei、Li Ping,新湖
6451,2686,Huang Wei,huang_wei,2021,1968.0,54.0,Male,NaN,Cloud Solutions,GDS,1.2,黄伟,黄伟,Huang Wei,万国数据
7746,729,Huang Wei,huang_wei,2020,1959.0,63.0,Male,China-Zhejiang-Hangzhou,Real Estate,XinHu,3.6,黄伟,黄伟、李萍,Huang Wei、Li Ping,新湖
10697,712,Huang Wei,huang_wei,2019,1959.0,63.0,Male,China-Zhejiang-Hangzhou,Real Estate,XinHu,3.3,黄伟,黄伟、李萍,Huang Wei、Li Ping,新湖

In [70]:
df123.loc[(df123.person == 'huang_wei') & (df123.company == 'GDS'), 'person'] = 'huang_wei_1'

In [71]:
df123[df123.person == 'huang_wei_1'][display_cols]

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
6451,2686,Huang Wei,huang_wei_1,2021,1968.0,54.0,Male,NaN,Cloud Solutions,GDS,1.2,黄伟,黄伟,Huang Wei,万国数据

In [72]:
i = 2
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

huang_zheng

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
105,93,Huang Zheng,huang_zheng,2022,1980.0,42.0,Male,China-Shanghai,E-Commerce,Pinduoduo,19.0,黄峥,黄峥,Huang Zheng,拼多多
3257,3031,Huang Zheng,huang_zheng,2022,1971.0,51.0,Female,China-Guangdong-Shenzhen,Consumer Electronics,FRD,1.1,黄峥,马飞、黄峥,Ma Fei & Huang Zheng,飞荣达
3616,19,Huang Zheng,huang_zheng,2021,1980.0,42.0,Male,China-Shanghai,E-Commerce,Pinduoduo,69.0,黄峥,黄峥,Huang Zheng,拼多多
7033,60,Huang Zheng,huang_zheng,2020,1980.0,42.0,Male,China-Shanghai,TMT,Pinduoduo,18.0,黄峥,黄峥,Huang Zheng,拼多多
10028,73,Huang Zheng,huang_zheng,2019,1980.0,42.0,Male,China-Shanghai,TMT,Pinduoduo,15.0,黄峥,黄峥,Huang Zheng,拼多多

In [73]:
df123.loc[(df123.person == 'huang_zheng') & (df123.company == 'FRD'), 'person'] = 'huang_zheng_1'

In [74]:
i = 3
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

james_d_slavik

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
3328,3031,James D Slavik,james_d_slavik,2022,1944.0,78.0,Male,United States-Austin,Industrial Products,WW Grainger,1.1,James D Slavik,James D Slavik,James D Slavik,W.W Grainger
6297,2530,James D Slavik,james_d_slavik,2021,1944.0,78.0,Male,United States-Austin,Industrial Products,WW Grainger,1.3,James D Slavik,James D Slavik,James D Slavik,W.W Grainger
6457,2686,James D Slavik,james_d_slavik,2021,NaN,NaN,Male,United States-Illinois,Industrial Products,National Instruments,1.2,詹姆斯·斯拉维克,James D Slavik,James Truchard,National Instrument Corp
9440,2276,James D Slavik,james_d_slavik,2020,1944.0,78.0,Male,United States-Austin,Software & Services,National Instrument Corp,1.2,James D Slavik,James D Slavik,James D Slavik,National Instrument Corp
9441,2276,James D Slavik,james_d_slavik,2020,NaN,NaN,Male,United States-Illinois,Manufacturing,W.W Grainger,1.2,詹姆斯·斯拉维克,James D Slavik,James D Slavik,W.W Grainger
12269,2154,James D Slavik,james_d_slavik,2019,NaN,NaN,Male,United States-Illinois,Manufacturing,W.W Grainger,1.1,詹姆斯·斯拉维克,詹姆斯·斯拉维克,James D Slavik,W.W Grainger

In [75]:
df123.loc[(df123.person == 'james_d_slavik') & (df123.company == 'National Instruments'), 'person'] = 'james_d_slavik_1'
df123.loc[(df123.person == 'james_d_slavik') & (df123.company == 'National Instrument Corp'), 'person'] = 'james_d_slavik_1'

In [76]:
i = 4
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

jiang_bin

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
440,412,Jiang Bin,jiang_bin,2022,1966.0,56.0,Male,China -Shandong - Weifang,Semiconductors,GoerTek,7.3,姜滨,姜滨、胡双美,Jiang Bin & Hu Shuangmei,歌尔股份
3491,3207,Jiang Bin,jiang_bin,2022,1967.0,55.0,Male,China-Fujian-Xiamen,Healthcare,Kingdomway,1.0,江斌,江斌,Jiang Bin,金达威
4025,406,Jiang Bin,jiang_bin,2021,1966.0,56.0,Male,China -Shandong - Weifang,Consumer Electronics,GoerTek,7.1,姜滨,姜滨、胡双美,Jiang Bin、Hu Shuangmei,歌尔股份
6664,2865,Jiang Bin,jiang_bin,2021,1967.0,55.0,Male,China-Fujian-Xiamen,Biotechnology,Kingdomway,1.1,江斌,江斌,Jiang Bin,金达威
7693,683,Jiang Bin,jiang_bin,2020,1966.0,56.0,Male,China -Shandong - Weifang,Acoustics and multimedia products,GoerTek,3.8,姜滨,姜滨、胡双美,Jiang Bin、Hu Shuangmei,歌尔声学
11387,1347,Jiang Bin,jiang_bin,2019,1966.0,56.0,Male,China -Shandong - Weifang,Acoustics and multimedia products,GoerTek,1.9,姜滨,姜滨、胡双美,Jiang Bin、Hu Shuangmei,歌尔声学

In [77]:
df123.loc[(df123.person == 'jiang_bin') & (df123.company == 'Kingdomway'), 'person'] = 'jiang_bin_1'

In [78]:
i = 5
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

jiang_long

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1846,1707,Jiang Long,jiang_long,2022,1974.0,48.0,Male,NaN,Semiconductors,GoerTek,2.2,姜龙,姜龙,Jiang Long,歌尔股份
4801,1130,Jiang Long,jiang_long,2021,1979.0,43.0,Male,China-Shenzhen,Consumer Goods,RELX,3.0,蒋龙,蒋龙,Jiang Long,雾芯科技
5867,2138,Jiang Long,jiang_long,2021,1974.0,48.0,Male,NaN,Consumer Electronics,GoerTek,1.6,姜龙,姜龙,Jiang Long,歌尔股份

In [79]:
df123.loc[(df123.person == 'jiang_long') & (df123.company == 'RELX'), 'person'] = 'jiang_long_1'

In [80]:
i = 6
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

jiang_wei

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
2589,2378,Jiang Wei,jiang_wei,2022,NaN,NaN,Male,China-Shanghai,Biotechnology,Haohai,1.5,蒋伟,蒋伟、游捷,Jiang Wei & You Jie,昊海生物科技
6148,2383,Jiang Wei,jiang_wei,2021,1961.0,61.0,Male,China-Guizhou-Anshun,Pharmaceuticals,Bailing,1.4,姜伟,姜伟,Jiang Wei,贵州百灵
6666,2865,Jiang Wei,jiang_wei,2021,NaN,NaN,Male,China-Shanghai,Biotechnology,Haohai,1.1,蒋伟,蒋伟、游捷,Jiang Wei、You Jie,昊海生物科技
9282,2142,Jiang Wei,jiang_wei,2020,1961.0,61.0,Male,China-Guizhou-Anshun,Pharmaceuticals,Bailing,1.3,姜伟,姜伟,Jiang Wei,贵州百灵
9835,2642,Jiang Wei,jiang_wei,2020,NaN,NaN,Male,China-Shanghai,Pharmaceuticals,Haohai,1.0,蒋伟,蒋伟、游捷,Jiang Wei,昊海生物科技
11766,1693,Jiang Wei,jiang_wei,2019,1961.0,61.0,Male,China-Guizhou-Anshun,Pharmaceuticals,Bailing,1.5,姜伟,姜伟,Jiang Wei,贵州百灵
13754,1199,Jiang Wei & Family,jiang_wei,2018,NaN,NaN,NaN,NaN,Pharmaceuticals,Bailing,2.4,NaN,NaN,NaN,NaN
16149,883,Jiang Wei & family,jiang_wei,2017,NaN,NaN,NaN,NaN,Pharmaceuticals,Bailing,2.4,NaN,NaN,NaN,NaN

In [81]:
df123.loc[(df123.person == 'jiang_wei') & (df123.company == 'Haohai'), 'person'] = 'jiang_wei_1'

In [82]:
i = 7
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

jim_davis

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
229,213,Jim Davis,jim_davis,2022,NaN,NaN,Male,United States-Massachusetts-Newton,Apparel & Accessories,New Balance,11.0,吉姆·戴维斯,Jim Davis,Jim Davis,New Balance
1712,1558,Jim Davis,jim_davis,2022,NaN,NaN,Male,United States-Massachusetts-Newton,Human Resource Management,Allegis,2.4,吉姆·戴维斯,Jim Davis,Jim Davis,Allegis
3820,203,Jim Davis,jim_davis,2021,NaN,NaN,Male,United States-Massachusetts-Newton,Apparel & Accessories,New Balance,11.5,吉姆·戴维斯,Jim Davis,Jim Davis,New Balance
5035,1339,Jim Davis,jim_davis,2021,NaN,NaN,NaN,United States-Maryland,Human Resource Management,Allegis,2.6,吉姆·戴维斯,Jim Davis,Jim Davis,Allegis
7206,224,Jim Davis,jim_davis,2020,NaN,NaN,Male,United States-Massachusetts-Newton,Multi Brand Retailing,New Balance,8.6,吉姆·戴维斯,Jim Davis,Jim Davis,New Balance
8199,1146,Jim Davis,jim_davis,2020,NaN,NaN,NaN,United States-Maryland,Services,Allegis,2.5,吉姆·戴维斯,Jim Davis,Jim Davis,Allegis
10204,245,Jim Davis,jim_davis,2019,NaN,NaN,Male,United States-Massachusetts-Newton,Multi Brand Retailing,New Balance,7.0,吉姆·戴维斯,吉姆·戴维斯,Jim Davis,New Balance
11555,1497,Jim Davis,jim_davis,2019,NaN,NaN,Male,United States-Massachusetts-Newton,Services,Allegis,1.7,吉姆·戴维斯,吉姆·戴维斯,Jim Davis,Allegis
12875,320,Jim Davis & Family,jim_davis,2018,NaN,NaN,NaN,NaN,Multi Brand Retailing,New Balance,6.3,NaN,NaN,NaN,NaN
15555,305,Jim Davis & family,jim_davis,2017,NaN,NaN,NaN,NaN,Multi Brand Retailing,New Balance,5.3,NaN,NaN,NaN,NaN

In [83]:
df123.loc[(df123.person == 'jim_davis') & (df123.company == 'Allegis'), 'person'] = 'jim_davis_1'

In [84]:
i = 8
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

jin_lei

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1749,1636,Jin Lei,jin_lei,2022,1954.0,68.0,Male,NaN,Medical Devices,Balance Medical,2.3,金磊,金磊、李凤玲,Jin Lei & Li Fengling,佰仁医疗
2734,2532,Jin Lei,jin_lei,2022,1954.0,68.0,Male,NaN,Biotechnology,Changchun High-tech Industries,1.4,金磊,金磊,Jin Lei,长春高新

In [85]:
df123.loc[(df123.person == 'jin_lei') & (df123.company == 'Changchun High-tech Industries'), 'person'] = 'jin_lei_1'

In [86]:
i = 9
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

kommer_damen

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
2225,2115,Kommer Damen,kommer_damen,2022,NaN,NaN,Male,Netherlands-Netherlands-Gorinchem,Construction & Engineering,Damen Shipyards,1.7,科默·达曼,Kommer Damen,Kommer Damen,Damen Shipyards
4924,1237,Kommer Damen,kommer_damen,2021,NaN,NaN,Male,Netherlands-Netherlands-Gorinchem,Engineering,Damen Shipyards,2.8,科默·达曼,Kommer Damen,Kommer Damen,Damen Shipyards
8608,1530,Kommer Damen,kommer_damen,2020,NaN,NaN,Male,Netherlands-Netherlands-Gorinchem,Construction & Engineering,Damen Shipyards,1.9,科默·达曼,Kommer Damen,Kommer Damen,Damen Shipyards
11266,1212,Kommer Damen,kommer_damen,2019,NaN,NaN,Male,Netherlands-Netherlands-Gorinchem,Construction & Engineering,Damen Shipyards,2.1,科默·达曼,科默·达曼,Kommer Damen,Damen Shipyards
11901,1806,Kommer Damen,kommer_damen,2019,NaN,NaN,Male,Netherlands-Netherlands-Gorinchem,Shipbuilding,Damen Shipyard,1.4,科默·达曼,科默·达曼,Kommer Damen,Damen Shipyard
14257,1702,Kommer Damen,kommer_damen,2018,NaN,NaN,NaN,NaN,Construction & Engineering,Damen Shipyards,1.7,NaN,NaN,NaN,NaN
16517,1233,Kommer Damen,kommer_damen,2017,NaN,NaN,NaN,NaN,Logistics & Shipping,Damen Shipyards,1.8,NaN,NaN,NaN,NaN

In [87]:
# this one has duplicated data. drop it later

In [88]:
i = 10
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

leonardo_del_vecchio

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
36,37,Leonardo Del Vecchio,leonardo_del_vecchio,2022,1935.0,87.0,Male,Italy-Lombardy-Milan,Luxury Goods,EssilorLuxottica,33.0,莱昂纳多·戴尔·维吉奥,莱昂纳多·戴尔·维吉奥,Leonardo Del Vecchio,陆逊梯卡
3657,56,Leonardo Del Vecchio,leonardo_del_vecchio,2021,1935.0,87.0,Male,Italy-Lombardy-Milan,Luxury Goods,Luxottica,28.0,莱昂纳多·戴尔·维吉奥,莱昂纳多·戴尔·维吉奥,Leonardo Del Vecchio,陆逊梯卡
7003,33,Leonardo Del Vecchio,leonardo_del_vecchio,2020,1935.0,87.0,Male,Italy-Lombardy-Milan,Luxury Goods,Luxottica,29.0,莱昂纳多·戴尔·维吉奥,莱昂纳多·戴尔·维吉奥,Leonardo Del Vecchio,陆逊梯卡
9987,35,Leonardo Del Vecchio,leonardo_del_vecchio,2019,1935.0,87.0,Male,Italy-Lombardy-Milan,Luxury Goods,Luxottica,23.0,莱昂纳多·戴尔·维吉奥,莱昂纳多·戴尔·维吉奥,Leonardo Del Vecchio,陆逊梯卡
12594,39,Leonardo Del Vecchio,leonardo_del_vecchio,2018,NaN,NaN,NaN,NaN,Luxury Goods,Luxottica,25.0,NaN,NaN,NaN,NaN
15299,47,Leonardo Del Vecchio,leonardo_del_vecchio,2017,NaN,NaN,NaN,NaN,Luxury Goods,Luxottica,18.0,NaN,NaN,NaN,NaN
17539,33,Leonardo Del Vecchio,leonardo_del_vecchio,2016,NaN,NaN,Male,NaN,Eye Wear,Luxottica,23.0,NaN,NaN,NaN,NaN
17540,33,Leonardo Del Vecchio,leonardo_del_vecchio,2016,NaN,NaN,Male,NaN,Eye Wear,Luxottica,23.0,NaN,NaN,NaN,NaN
17649,43,Leonardo Del Vecchio,leonardo_del_vecchio,2015,NaN,NaN,Male,NaN,Eye Wear,Luxottica,19.0,NaN,NaN,NaN,NaN
17751,41,Leonardo Del Vecchio,leonardo_del_vecchio,2014,NaN,NaN,Male,NaN,Eye Wear,Luxottica,18.0,NaN,NaN,NaN,NaN
17856,49,Leonardo Del Vecchio,leonardo_del_vecchio,2013,NaN,NaN,Male,NaN,Eye Wear,Luxottica,16.0,NaN,NaN,NaN,NaN
17961,55,Leonardo Del Vecchio,leonardo_del_vecchio,2012,NaN,NaN,Male,NaN,Eye Wear,Luxottica,13.0,NaN,NaN,NaN,NaN

In [89]:
# duplicated datapoint, not different person

In [90]:
i = 11
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

li_hua

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
246,213,Li Hua,li_hua,2022,1966.0,56.0,Male,China-Guangdong-Shenzhen,Developer,Excellence,11.0,李华,李华,Li Hua,卓越
1308,1230,Li Hua,li_hua,2022,1966.0,56.0,Male,China-Guangdong-Shenzhen,Financial Services,Futu Holdings,2.9,李华,李华,Li Hua,富途证券
3848,224,Li Hua,li_hua,2021,1966.0,56.0,Male,China-Guangdong-Shenzhen,Developer,Excellence,10.5,李华,李华,Li Hua,卓越
3883,267,Li Hua,li_hua,2021,1978.0,44.0,Male,China-Hong Kong,NBFC,Futu Holdings,9.6,李华,李华,Li Hua,富途证券
5483,1764,Li Hua,li_hua,2021,1966.0,56.0,Male,China-Guangdong-Shenzhen,Education,Huayu Education,2.0,李华,李光宇、李花,Li Guangyu、Li Hua,宇华教育
7200,217,Li Hua,li_hua,2020,1966.0,56.0,Male,China-Guangdong-Shenzhen,Real Estate,Excellence,8.8,李华,李华,Li Hua,卓越
8796,1692,Li Hua,li_hua,2020,1966.0,56.0,Male,China-Guangdong-Shenzhen,Education,Huayu Education,1.7,李华,李光宇、李花,Li Guangyu,宇华教育
10366,398,Li Hua,li_hua,2019,1966.0,56.0,Male,China-Guangdong-Shenzhen,Real estate,Excellence,5.2,李华,李华,Li Hua,卓越
12965,410,Li Hua & Family,li_hua,2018,NaN,NaN,NaN,NaN,Real Estate,Excellence,5.5,NaN,NaN,NaN,NaN
16026,752,Li Hua & family,li_hua,2017,NaN,NaN,NaN,NaN,Real Estate,Excellence,2.7,NaN,NaN,NaN,NaN

In [91]:
df123.loc[(df123.person == 'li_hua') & (df123.company == 'Futu Holdings'), 'person'] = 'li_hua_1'

In [92]:
df123.loc[(df123.person == 'li_hua') & (df123.company == 'Huayu Education'), 'person'] = 'li_hua_2'

In [93]:
i = 12
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

li_li

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1088,1023,Li Li,li_li,2022,1964.0,58.0,Male,China-Guangdong-Shenzhen,Pharmaceuticals,Hepalink,3.5,李锂,李锂、李坦,Li Li & Li Tan,海普瑞
1155,1083,Li Li,li_li,2022,1965.0,57.0,Male,China-Hunan-Changsha,Healthcare,Aier Ophthalmology,3.3,李力,李力,Li Li,爱尔眼科
4106,484,Li Li,li_li,2021,1965.0,57.0,Male,China-Hunan-Changsha,Healthcare,Aier Ophthalmology,6.1,李力,李力,Li Li,爱尔眼科
4713,1040,Li Li,li_li,2021,1964.0,58.0,Male,China-Guangdong-Shenzhen,Pharmaceuticals,Hepalink,3.2,李锂,李锂、李坦,Li Li、Li Tan,海普瑞
7699,683,Li Li,li_li,2020,1964.0,58.0,Male,China-Guangdong-Shenzhen,Pharmaceuticals,Hepalink,3.8,李锂,李锂、李坦,Li Li、Li Tan,海普瑞
8454,1365,Li Li,li_li,2020,1965.0,57.0,Male,China-Hunan-Changsha,Medical Services,Aier Ophthalmology,2.1,李力,李力,Li Li,爱尔眼科
10705,712,Li Li,li_li,2019,1964.0,58.0,Male,China-Guangdong-Shenzhen,Pharmaceuticals,Hepalink,3.3,李锂,李锂、李坦,Li Li、Li Tan,海普瑞
12150,2038,Li Li,li_li,2019,1965.0,57.0,Male,China-Hunan-Changsha,Medical services,Aier Ophthalmology,1.2,李力,李力,Li Li,爱尔眼科

In [94]:
df123.loc[(df123.person == 'li_li') & (df123.company == 'Aier Ophthalmology'), 'person'] = 'li_li_1'

In [95]:
i = 13
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

li_min

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1173,1083,Li Min,li_min,2022,1965.0,57.0,Male,NaN,Semiconductors,Rockchip Electronics,3.3,励民,励民,Li Min,瑞芯微
3329,3031,Li Min,li_min,2022,1971.0,51.0,Male,China-Shanghai,Industrial Products,Hiuv,1.1,李民,李民、李晓昱,Li Min & Li Xiaoyu,海优新材
5580,1868,Li Min,li_min,2021,1965.0,57.0,Male,NaN,Semiconductor,Rockchip Electronics,1.9,励民,励民,Li Min,瑞芯微

In [96]:
df123.loc[(df123.person == 'li_min') & (df123.company == 'Rockchip Electronics'), 'person'] = 'li_min_1'

In [97]:
i = 14
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

li_ping

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
231,213,Li Ping,li_ping,2022,1968.0,54.0,Male,China-Fujian-Ningde,Batteries,CATL,11.0,李平,李平,Li Ping,宁德时代
1064,1002,Li Ping,li_ping,2022,NaN,NaN,Female,China-Zhejiang-Hangzhou,Real Estate,XinHu,3.6,李萍,黄伟、李萍,Huang Wei & Li Ping,新湖
3145,2843,Li Ping,li_ping,2022,1968.0,54.0,Male,China-Fujian-Ningde,Metals & Mining,Teamgo,1.2,李平,李平,Li Ping,天高
4019,399,Li Ping,li_ping,2021,1968.0,54.0,Male,China-Fujian-Ningde,Green Energy,CATL,7.2,李平,李平,Li Ping,宁德时代
4395,754,Li Ping,li_ping,2021,NaN,NaN,Female,China-Zhejiang-Hangzhou,Developer,XinHu,4.4,李萍,黄伟、李萍,Huang Wei、Li Ping,新湖
6689,2865,Li Ping,li_ping,2021,1964.0,58.0,Male,China-Guangdong-Guangzhou,Metals & Mining,Teamgo,1.1,李平,李平,Li Ping,天高
7747,729,Li Ping,li_ping,2020,NaN,NaN,Female,China-Zhejiang-Hangzhou,Real Estate,XinHu,3.6,李萍,黄伟、李萍,Huang Wei、Li Ping,新湖
8000,958,Li Ping,li_ping,2020,1968.0,54.0,Male,China-Fujian-Ningde,Electronics,CATL,2.9,李平,李平,Li Ping,宁德时代
10698,712,Li Ping,li_ping,2019,NaN,NaN,Female,China-Zhejiang-Hangzhou,Real Estate,XinHu,3.3,李萍,黄伟、李萍,Huang Wei、Li Ping,新湖
12008,1903,Li Ping,li_ping,2019,1968.0,54.0,Male,China-Fujian-Ningde,Electronics,CATL,1.3,李平,李平,Li Ping,宁德时代
12461,2311,Li Ping,li_ping,2019,1968.0,54.0,Male,China-Fujian-Ningde,"Mining, metallurgy",Teamgo,1.0,李平,李平,Li Ping,天高

In [98]:
df123.loc[(df123.person == 'li_ping') & (df123.company == 'CATL'), 'person'] = 'li_ping_1'
df123.loc[(df123.person == 'li_ping') & (df123.company == 'Teamgo'), 'person'] = 'li_ping_2'

In [99]:
i = 15
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

li_xiaoming

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
276,261,Li Xiaoming,li_xiaoming,2022,1958.0,64.0,Male,China-Yunnan-Yuxi,Packaging,Energy New Material,9.9,李晓明,李晓明,Li Xiaoming,恩捷股份
2624,2378,Li Xiaoming,li_xiaoming,2022,1961.0,61.0,Male,China-Beijing,Developer,Desea,1.5,李小明,李小明,Li Xiaoming,帝海
3909,290,Li Xiaoming,li_xiaoming,2021,1958.0,64.0,Male,China-Yunnan-Yuxi,Packaging,Energy New Material,9.0,李晓明,李晓明,Li Xiaoming,恩捷股份
6021,2238,Li Xiaoming,li_xiaoming,2021,1961.0,61.0,Male,China-Beijing,Developer,Desea,1.5,李小明,李小明,Li Xiaoming,帝海
7633,626,Li Xiaoming,li_xiaoming,2020,1958.0,64.0,Male,China-Yunnan-Yuxi,Manufacturing,Energy New Material,4.1,李晓明,李晓明,Li Xiaoming,恩捷股份
9295,2142,Li Xiaoming,li_xiaoming,2020,1961.0,61.0,Male,China-Beijing,Real Estate,Desea,1.3,李小明,李小明,Li Xiaoming,帝海

In [100]:
df123.loc[(df123.person == 'li_xiaoming') & (df123.company == 'Desea'), 'person'] = 'li_xiaoming_1'

In [101]:
i = 16
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

lun_ruixiang

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
3157,2843,Lun Ruixiang,lun_ruixiang,2022,1967.0,55.0,Male,China-Hong Kong,Developer,Huijing,1.2,伦瑞祥,伦瑞祥,Lun Ruixiang,汇景
3159,2843,Lun Ruixiang,lun_ruixiang,2022,1967.0,55.0,Male,China-Hong Kong,Estate Holding,Huijing,1.2,伦瑞祥,伦瑞祥、陈巧云,Lun Ruixiang & Chen Qiaoyun,汇景控股
6487,2686,Lun Ruixiang,lun_ruixiang,2021,1967.0,55.0,Male,China-Hong Kong,Developer,Huijing,1.2,伦瑞祥,伦瑞祥、陈巧云,Lun Ruixiang、Chen Qiaoyun,汇景控股
9692,2476,Lun Ruixiang,lun_ruixiang,2020,1967.0,55.0,Male,China-Hong Kong,Real Estate,Huijing,1.1,伦瑞祥,伦瑞祥、陈巧云,Lun Ruixiang,汇景控股

In [102]:
# duplicated datapoint

In [103]:
i = 17
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

robert_miller

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1544,1408,Robert Miller,robert_miller,2022,NaN,NaN,Male,Canada-Quebec-Montreal,Retail,Future Electronics,2.6,罗伯特·米勒,Robert Miller,Robert Miller,Future Electronics
5185,1473,Robert Miller,robert_miller,2021,NaN,NaN,Male,Canada-Quebec-Montreal,Multi-Brand Retail,Future Electronics,2.4,罗伯特·米勒,Robert Miller,Robert Miller,Future Electronics
8115,1054,Robert Miller,robert_miller,2020,NaN,NaN,Male,Canada-Quebec-Montreal,Retail,Future Electronics,2.7,罗伯特·米勒,Robert Miller,Robert Miller,Future Electronics
11100,1050,Robert Miller,robert_miller,2019,NaN,NaN,Male,Canada-Quebec-Montreal,Retail,Future Electronics,2.4,罗伯特·米勒,罗伯特·米勒,Robert Miller,Future Electronics
13382,827,Robert Miller,robert_miller,2018,NaN,NaN,NaN,NaN,Retail,DFS Group,3.3,NaN,NaN,NaN,NaN
13668,1113,Robert Miller,robert_miller,2018,NaN,NaN,NaN,NaN,Computer & Electronics Retail,Future Electronics,2.6,NaN,NaN,NaN,NaN
16216,924,Robert Miller,robert_miller,2017,NaN,NaN,NaN,NaN,Computer & Electronics Retail,Future Electronics,2.3,NaN,NaN,NaN,NaN

In [104]:
df123.loc[(df123.person == 'robert_miller') & (df123.company == 'DFS Group'), 'person'] = 'robert_miller_1'

In [105]:
i = 18
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

serena_simmons

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1565,1483,Serena Simmons,serena_simmons,2022,NaN,NaN,Female,United States-Texas-Dallas,Chemicals,Valhi,2.5,塞雷娜·西蒙斯,Lisa K Simmons,Lisa K Simmons,Valhi
8612,1530,Serena Simmons,serena_simmons,2020,NaN,NaN,Female,United States-Texas-Dallas,Chemicals,Valhi,1.9,塞雷娜·西蒙斯,Lisa K Simmons & Serena Simmons,Lisa K Simmons,Valhi
8638,1530,Serena Simmons,serena_simmons,2020,NaN,NaN,Female,United States-Texas-Dallas,Chemicals,Valhi,1.9,塞雷娜·西蒙斯,Lisa K Simmons & Serena Simmons,Serena Simmons,Valhi
11158,1108,Serena Simmons,serena_simmons,2019,NaN,NaN,Female,United States-Texas-Dallas,Chemicals,Valhi,2.3,塞雷娜·西蒙斯,塞雷娜·西蒙斯,Serena Simmons,Valhi
13320,765,Serena Simmons,serena_simmons,2018,NaN,NaN,NaN,NaN,Chemicals & Petrochemicals,Valhi,3.5,NaN,NaN,NaN,NaN

In [106]:
# duplicated datapoints

In [107]:
i = 19
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

tu_jianhua

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
3594,3207,Tu Jianhua,tu_jianhua,2022,1963.0,59.0,Male,China-Chongqing,Productivity software,Glodon,1.0,涂建华,涂建华,Tu Jianhua,广联达
6065,2238,Tu Jianhua,tu_jianhua,2021,1963.0,59.0,Male,China-Chongqing,Auto Components,Longcin,1.5,涂建华,涂建华,Tu Jianhua,隆鑫控股
6548,2686,Tu Jianhua,tu_jianhua,2021,1969.0,53.0,Male,China-Beijing,Construction,Glodon,1.2,涂建华,涂建华,Tu Jianhua,广联达
11704,1580,Tu Jianhua,tu_jianhua,2019,1963.0,59.0,Male,China-Chongqing,"Motorcycles, Real estate",Longcin,1.6,涂建华,涂建华,Tu Jianhua,隆鑫控股
13821,1266,Tu Jianhua,tu_jianhua,2018,NaN,NaN,NaN,NaN,"Motorcycles, Real estate",Longcin,2.3,NaN,NaN,NaN,NaN
16225,924,Tu Jianhua,tu_jianhua,2017,NaN,NaN,NaN,NaN,Motorcycles、 Real estate,Longcin,2.3,NaN,NaN,NaN,NaN

In [108]:
df123.loc[(df123.person == 'tu_jianhua') & (df123.company == 'Glodon'), 'person'] = 'tu_jianhua_1'

In [109]:
# tu_jianhua_1's birth should be 1969
df123.loc[(df123.person == 'tu_jianhua_1') & (df123.company == 'Glodon'), 'birth_1'] = 1969
df123.loc[(df123.person == 'tu_jianhua_1') & (df123.company == 'Glodon'), 'age'] = 2022 - 1969

In [110]:
df123.loc[(df123.person == 'tu_jianhua_1') & (df123.company == 'Glodon')]

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,...,hs_Rank_Global_ChaName_En,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Com_ID,hs_GlobalAndCha,birth_2,birth_3
3594,3207,Tu Jianhua,tu_jianhua_1,2022,1969.0,53.0,Male,China-Chongqing,Productivity software,Glodon,...,Tu Jianhua,327,广联达,中国-北京,China-Beijing,建筑,0.0,NaN,NaN,NaN
6548,2686,Tu Jianhua,tu_jianhua_1,2021,1969.0,53.0,Male,China-Beijing,Construction,Glodon,...,Tu Jianhua,854,广联达,北京-北京,Beijing-Beijing,建筑,0.0,NaN,NaN,NaN

In [111]:
i = 20
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

vagit_alekperov

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
206,194,Vagit Alekperov,vagit_alekperov,2022,1950.0,72.0,Male,Russia-Moscow,Oil & Gas,Lukoil,12.0,瓦吉特·阿列克佩罗夫,瓦吉特·阿列克佩罗夫,Vagit Alekperov,卢克石油
3721,113,Vagit Alekperov,vagit_alekperov,2021,1950.0,72.0,Male,Russia-Moscow,Energy,Lukoil,18.5,瓦吉特·阿列克佩罗夫,瓦吉特·阿列克佩罗夫,Vagit Alekperov,卢克石油
7024,51,Vagit Alekperov,vagit_alekperov,2020,1950.0,72.0,Male,Russia-Moscow,Energy,Lukoil,21.0,瓦吉特·阿列克佩罗夫,瓦吉特·阿列克佩罗夫,Vagit Alekperov,卢克石油
10039,73,Vagit Alekperov,vagit_alekperov,2019,1950.0,72.0,Male,Russia-Moscow,Energy,Lukoil,15.0,瓦吉特·阿列克佩罗夫,瓦吉特·阿列克佩罗夫,Vagit Alekperov,卢克石油
12678,123,Vagit Alekperov,vagit_alekperov,2018,NaN,NaN,NaN,NaN,Energy,Lukoil,13.0,NaN,NaN,NaN,NaN
15371,107,Vagit Alekperov,vagit_alekperov,2017,NaN,NaN,NaN,NaN,Energy,Lukoil,11.0,NaN,NaN,NaN,NaN
17796,85,Vagit Alekperov,vagit_alekperov,2014,NaN,NaN,Male,NaN,Energy,Lukoil,12.5,NaN,NaN,NaN,NaN
17869,58,Vagit Alekperov,vagit_alekperov,2013,NaN,NaN,Male,NaN,Energy,Lukoil,14.0,NaN,NaN,NaN,NaN
17945,38,Vagit Alekperov,vagit_alekperov,2012,NaN,NaN,Male,NaN,Energy,Lukoil,16.0,NaN,NaN,NaN,NaN
17970,60,Vagit Alekperov,vagit_alekperov,2012,NaN,NaN,Male,NaN,Energy,Lukoil,12.0,NaN,NaN,NaN,NaN

In [112]:
# duplicated datapoint

In [113]:
i = 21
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

wang_jian

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
740,697,Wang Jian,wang_jian,2022,1954.0,68.0,Male,China-Guangdong-Shenzhen,Biotechnology,Bgi Genomics、 Mgi Tech,4.9,汪建,汪建,Wang Jian,华大基因、华大智造
4336,676,Wang Jian,wang_jian,2021,1954.0,68.0,Male,China-Guangdong-Shenzhen,Laboratory Services,BGI,4.7,汪建,汪建,Wang Jian,华大
8847,1692,Wang Jian,wang_jian,2020,1954.0,68.0,Male,China-Guangdong-Shenzhen,Genetic testing,BGI,1.7,汪建,汪建,Wang Jian,华大基因
12203,2038,Wang Jian,wang_jian,2019,1954.0,68.0,Male,China-Guangdong-Shenzhen,Genetic testing,BGI,1.2,汪建,汪建,Wang Jian,华大基因
13207,652,Wang Jian,wang_jian,2018,NaN,NaN,NaN,NaN,Genetic testing,BGI,4.0,NaN,NaN,NaN,NaN
13773,1218,Wang Jian,wang_jian,2018,NaN,NaN,NaN,NaN,Investments,HNA,2.4,NaN,NaN,NaN,NaN

In [114]:
df123.loc[(df123.person == 'wang_jian') & (df123.company == 'HNA'), 'person'] = 'wang_jian_1'

In [115]:
i = 22
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

wang_jun

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
3313,3031,Wang Jun,wang_jun,2022,1976.0,46.0,Male,China-Guangdong-Shenzhen,Medical Devices,iCarbonX、 Bgi Genomics,1.1,王俊,王俊,Wang Jun,碳云、华大基因
6385,2530,Wang Jun,wang_jun,2021,1976.0,46.0,Male,China-Guangdong-Shenzhen,Laboratory Services,"iCarbonX, BGI",1.3,王俊,王俊,Wang Jun,碳云、华大基因
6949,3050,Wang Jun,wang_jun,2021,1965.0,57.0,Male,China -Shandong - Dongying,Petrochemicals,Wantong,1.0,王军,王军,Wang Jun,万通海欣
9187,2000,Wang Jun,wang_jun,2020,1976.0,46.0,Male,China-Guangdong-Shenzhen,"Healthy big data, genetic testing","iCarbonX, BGI",1.4,王俊,王俊,Wang Jun,碳云、华大基因
9742,2476,Wang Jun,wang_jun,2020,1965.0,57.0,Male,China -Shandong - Dongying,Petrochemical,Wantong Petroleum & Chemical,1.1,王军,王军,Wang Jun,万通海欣
12061,1903,Wang Jun,wang_jun,2019,1976.0,46.0,Male,China-Guangdong-Shenzhen,"Healthy big data, genetic testing","iCarbonX, BGI",1.3,王俊,王俊,Wang Jun,碳云、华大基因
14390,1835,Wang Jun,wang_jun,2018,NaN,NaN,NaN,NaN,Genetic testing,BGI,1.6,NaN,NaN,NaN,NaN

In [116]:
df123.loc[(df123.person == 'wang_jun') & (df123.company == 'Wantong'), 'person'] = 'wang_jun_1'

In [117]:
df123.loc[(df123.person == 'wang_jun') & (df123.company == 'Wantong Petroleum & Chemical'), 'person'] = 'wang_jun_1'

In [118]:
i = 23
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

wang_yanqing

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
682,647,Wang Yanqing,wang_yanqing,2022,1966.0,56.0,Male,China-Jiangsu-Wuxi,Equipments,Lead,5.2,王燕清,王燕清、倪亚兰,Wang Yanqing & Ni Yalan,先导智能
4424,768,Wang Yanqing,wang_yanqing,2021,1966.0,56.0,Male,China-Jiangsu-Wuxi,Equipments,Lead,4.3,王燕清,王燕清、倪亚兰,Wang Yanqing、Ni Yalan,先导股份
5358,1609,Wang Yanqing,wang_yanqing,2021,1946.0,76.0,Male,China-Shandong-Weihai,Chemicals,Guangwei Composites,2.2,王言卿,王言卿、陈亮,Wang Yanqing、Chen Liang,光威复材
8236,1146,Wang Yanqing,wang_yanqing,2020,1966.0,56.0,Male,China-Jiangsu-Wuxi,TMT,Lead,2.5,王燕清,王燕清、倪亚兰,Wang Yanqing、Ni Yalan,先导股份
9744,2476,Wang Yanqing,wang_yanqing,2020,1966.0,56.0,Male,China-Jiangsu-Wuxi,Chemical,Guangwei Composites,1.1,王燕清,王言卿、陈亮,Wang Yanqing,光威复材
11432,1347,Wang Yanqing,wang_yanqing,2019,1966.0,56.0,Male,China-Jiangsu-Wuxi,TMT,Lead,1.9,王燕清,王燕清、倪亚兰,Wang Yanqing、Ni Yalan,先导股份

In [119]:
df123.loc[(df123.person == 'wang_yanqing') & (df123.company == 'Lead'), 'person'] = 'wang_yanqing_1'

In [120]:
i = 24
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

willis_j_johnson

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1472,1347,Willis J Johnson,willis_j_johnson,2022,NaN,NaN,Male,United States-California,Automobile,Copart,2.7,威利斯·约翰逊,Willis J Johnson,Willis J Johnson,Copart
2481,2237,Willis J Johnson,willis_j_johnson,2022,NaN,NaN,Male,United States-California,Automobile,Copart,1.6,威利斯·约翰逊,Willis J Johnson,A Jayson Adair,Copart
5134,1409,Willis J Johnson,willis_j_johnson,2021,NaN,NaN,Male,United States-California,Automobile,Copart,2.5,威利斯·约翰逊,Willis J Johnson,Willis J Johnson,Copart
6244,2530,Willis J Johnson,willis_j_johnson,2021,1970.0,52.0,Male,USA-Dallas,Automobile,Copart,1.3,Willis J Johnson,Willis J Johnson,A Jayson Adair,Copart
8344,1251,Willis J Johnson,willis_j_johnson,2020,NaN,NaN,Male,United States-California,Distribution,Copart,2.3,威利斯·约翰逊,Willis J Johnson,Willis J Johnson,Copart
12209,2038,Willis J Johnson,willis_j_johnson,2019,NaN,NaN,Male,United States-California,Distribution,Copart,1.2,威利斯·约翰逊,威利斯·约翰逊,Willis J Johnson,Copart

In [121]:
# duplicated datapoint

In [122]:
i = 25
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

xu_xin

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1605,1483,Xu Xin,xu_xin,2022,1966.0,56.0,Male,China-Shanghai,Investments,Capitaltoday,2.5,徐新,徐新,Xu Xin,今日资本
2993,2677,Xu Xin,xu_xin,2022,NaN,NaN,Female,China-Zhejiang-Hangzhou,Semiconductors,Changchuan Technology Co,1.3,徐昕,赵轶、徐昕,Zhao Yi & Xu Xin,长川科技
5273,1537,Xu Xin,xu_xin,2021,1966.0,56.0,Male,China-Shanghai,Investments,Capitaltoday,2.3,徐新,徐新,Xu Xin,今日资本
8951,1805,Xu Xin,xu_xin,2020,1966.0,56.0,Male,China-Shanghai,Investments,Capitaltoday,1.6,徐新,徐新,Xu Xin,今日资本
11836,1693,Xu Xin,xu_xin,2019,1966.0,56.0,Male,China-Shanghai,Investments,Capitaltoday,1.5,徐新,徐新,Xu Xin,今日资本
14622,2067,Xu Xin,xu_xin,2018,NaN,NaN,NaN,NaN,Investments,Capitaltoday,1.4,NaN,NaN,NaN,NaN
17192,1802,Xu Xin,xu_xin,2017,NaN,NaN,NaN,NaN,Investments,Capitaltoday,1.2,NaN,NaN,NaN,NaN

In [123]:
df123.loc[(df123.person == 'xu_xin') & (df123.company == 'Capitaltoday'), 'person'] = 'xu_xin_1'

In [124]:
i = 26
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

xu_xudong

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1718,1636,Xu Xudong,xu_xudong,2022,1970.0,52.0,Male,China-Zhejiang-Ningbo,Auto Components,XuSheng Auto Technology,2.3,徐旭东,徐旭东、徐若桐,Xu Xudong & Xu Ruotong,旭升汽车技术
5455,1764,Xu Xudong,xu_xudong,2021,1970.0,52.0,Male,China-Zhejiang-Ningbo,Financial Services,Far Eastern,2.0,徐旭东,徐旭东,Douglas Hsu Hsu-Tung,远东
5930,2138,Xu Xudong,xu_xudong,2021,1970.0,52.0,Male,China-Zhejiang-Ningbo,Auto Components,XuSheng Auto Technology,1.6,徐旭东,徐旭东、徐若桐,Xu Xudong、Xu Ruotong,旭升股份
8175,1097,Xu Xudong,xu_xudong,2020,1970.0,52.0,Male,China-Zhejiang-Ningbo,Manufacturing,XuSheng Auto Technology,2.6,徐旭东,徐旭东、徐若桐,Xu Xudong、Xu Ruotong,旭升股份
8511,1443,Xu Xudong,xu_xudong,2020,1970.0,52.0,Male,China-Zhejiang-Ningbo,Financial Services,Far Eastern,2.0,徐旭东,徐旭东,Douglas Hsu Hsu-Tung,远东
11746,1693,Xu Xudong,xu_xudong,2019,1970.0,52.0,Male,China-Zhejiang-Ningbo,Financial Services,Far Eastern,1.5,徐旭东,徐旭东,Xu Xudong,远东
12072,1903,Xu Xudong,xu_xudong,2019,1970.0,52.0,Male,China-Zhejiang-Ningbo,Manufacturing,XuSheng Auto Technology,1.3,徐旭东,徐旭东、徐若桐,Xu Xudong、Xu Ruotong,旭升股份

In [125]:
df123.loc[(df123.person == 'xu_xudong') & (df123.company == 'Far Eastern'), 'person'] = 'xu_xudong_1'

In [126]:
df123[df123.person == 'xu_xudong_1'][display_cols]

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
5455,1764,Xu Xudong,xu_xudong_1,2021,1970.0,52.0,Male,China-Zhejiang-Ningbo,Financial Services,Far Eastern,2.0,徐旭东,徐旭东,Douglas Hsu Hsu-Tung,远东
8511,1443,Xu Xudong,xu_xudong_1,2020,1970.0,52.0,Male,China-Zhejiang-Ningbo,Financial Services,Far Eastern,2.0,徐旭东,徐旭东,Douglas Hsu Hsu-Tung,远东
11746,1693,Xu Xudong,xu_xudong_1,2019,1970.0,52.0,Male,China-Zhejiang-Ningbo,Financial Services,Far Eastern,1.5,徐旭东,徐旭东,Xu Xudong,远东

In [127]:
i = 27
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

yeung_kin_man

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
367,349,Yeung Kin Man,yeung_kin_man,2022,1953.0,69.0,Male,China-Hong Kong,Industrial Products,Cngr,8.3,杨建文,邓伟明、吴小歌,Deng Weiming & Wu Xiaoge,中伟股份
613,582,Yeung Kin Man,yeung_kin_man,2022,NaN,NaN,Male,China-Hong Kong,Industrial Products,Biel Crystal Manufactory,5.6,杨建文,杨建文,Yeung Kin Man,伯恩光学
4188,560,Yeung Kin Man,yeung_kin_man,2021,1953.0,69.0,Male,China-Hong Kong,Industrial Products,Cngr,5.4,杨建文,邓伟明、吴小歌,Deng Weiming、Wu Xiaoge,中伟股份
4293,643,Yeung Kin Man,yeung_kin_man,2021,NaN,NaN,Male,China-Hong Kong,Industrial Products,Biel Crystal Manufactory,4.9,杨建文,杨建文,Yeung Kin Man,伯恩光学
7645,626,Yeung Kin Man,yeung_kin_man,2020,NaN,NaN,Male,China-Hong Kong,Manufacturing,Biel Crystal Manufactory,4.1,杨建文,杨建文,Yeung Kin Man,伯恩光学
10358,385,Yeung Kin Man,yeung_kin_man,2019,NaN,NaN,Male,China-Hong Kong,Manufacturing,Biel Crystal Manufactory,5.3,杨建文,杨建文,Yeung Kin Man,伯恩光学
12883,328,Yeung Kin Man & Family,yeung_kin_man,2018,NaN,NaN,NaN,NaN,Manufacturing,Biel Crystal Manufactory,6.3,NaN,NaN,NaN,NaN
15478,225,Yeung Kin Man,yeung_kin_man,2017,NaN,NaN,NaN,NaN,Manufacturing,Biel Crystal Manufactory,6.4,NaN,NaN,NaN,NaN

In [128]:
df123.loc[(df123.person == 'yeung_kin_man') & (df123.company == 'Biel Crystal Manufactory'), 'person'] = 'yeung_kin_man_1'

In [129]:
i = 28
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

zhang_changhong

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
93,86,Zhang Changhong,zhang_changhong,2022,1961.0,61.0,Female,China-Guangdong-Guangzhou,Investments,Youngy,20.0,张长虹,吕向阳、张长虹,Lyu Xiangyang & Zhang Changhong,融捷
3743,133,Zhang Changhong,zhang_changhong,2021,1961.0,61.0,Female,China-Guangdong-Guangzhou,Investments,Youngy,16.5,张长虹,吕向阳、张长虹,Lyu Xiangyang、Zhang Changhong,融捷投资
6577,2686,Zhang Changhong,zhang_changhong,2021,1958.0,64.0,Male,NaN,Data,DZH,1.2,张长虹,张长虹,Zhang Changhong,大智慧
7431,430,Zhang Changhong,zhang_changhong,2020,1961.0,61.0,Female,China-Guangdong-Guangzhou,Investments,Guangzhou Youngy,5.3,张长虹,吕向阳、张长虹,Lyu Xiangyang、Zhang Changhong,融捷投资
10386,418,Zhang Changhong,zhang_changhong,2019,1961.0,61.0,Female,China-Guangdong-Guangzhou,Investments,Guangzhou Youngy,5.0,张长虹,吕向阳、张长虹,Lyu Xiangyang、Zhang Changhong,融捷投资
17352,1952,Zhang Changhong,zhang_changhong,2017,NaN,NaN,NaN,NaN,TMT,Dazhihui,1.1,NaN,NaN,NaN,NaN

In [130]:
df123.loc[(df123.person == 'zhang_changhong') & (df123.company == 'DZH'), 'person'] = 'zhang_changhong_1'
df123.loc[(df123.person == 'zhang_changhong') & (df123.company == 'Dazhihui'), 'person'] = 'zhang_changhong_1'

In [131]:
i = 29
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

zhang_jin

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1342,1230,Zhang Jin,zhang_jin,2022,NaN,NaN,Female,China-Guangdong-Shenzhen,Estate Holding,Maoye,2.9,张静,黄茂如、张静,Huang Maoru & Zhang Jin,茂业
4368,706,Zhang Jin,zhang_jin,2021,1972.0,50.0,Male,China-Guangdong-Guangzhou,Investments,Cedar,4.6,张劲,张劲,Zhang Jin,雪松控股
4855,1172,Zhang Jin,zhang_jin,2021,NaN,NaN,Female,China-Guangdong-Shenzhen,Estate Holding,Maoye,2.9,张静,黄茂如、张静,Huang Maoru、Zhang Jin,茂业
7386,386,Zhang Jin,zhang_jin,2020,1972.0,50.0,Male,China-Guangdong-Guangzhou,"Logistics, Chemical Industry",Cedar,5.8,张劲,张劲,Zhang Jin,雪松控股
7992,958,Zhang Jin,zhang_jin,2020,NaN,NaN,Female,China-Guangdong-Shenzhen,"Real Estate,",Maoye,2.9,张静,黄茂如、张静,Huang Maoru、Zhang Jin,茂业
10319,351,Zhang Jin,zhang_jin,2019,1972.0,50.0,Male,China-Guangdong-Guangzhou,"Investment, real estate",Cedar,5.6,张劲,张劲,Zhang Jin,雪松控股
10869,865,Zhang Jin,zhang_jin,2019,NaN,NaN,Female,China-Guangdong-Shenzhen,"Real estate,",Maoye,2.8,张静,黄茂如、张静,Huang Maoru、Zhang Jin,茂业
13057,502,Zhang Jin,zhang_jin,2018,NaN,NaN,NaN,NaN,"Investment, real estate, automobile",Junhua,4.8,NaN,NaN,NaN,NaN
15869,592,Zhang Jin,zhang_jin,2017,NaN,NaN,NaN,NaN,Investment、 real estate、 automobile,Junhua,3.3,NaN,NaN,NaN,NaN

In [132]:
df123.loc[(df123.person == 'zhang_jin') & (df123.company == 'Cedar'), 'person'] = 'zhang_jin_1'
df123.loc[(df123.person == 'zhang_jin') & (df123.company == 'Junhua'), 'person'] = 'zhang_jin_1'

In [133]:
i = 30
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

zhang_liang

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1339,1230,Zhang Liang,zhang_liang,2022,1982.0,40.0,Male,China-Guangdong-Guangzhou,Developer,R & F,2.9,张量,张力、张量,Zhang Li & Zhang Liang,富力地产
4598,919,Zhang Liang,zhang_liang,2021,1982.0,40.0,Male,China-Guangdong-Guangzhou,Developer,R&F,3.6,张量,张力、张量,Zhang Li、Zhang Liang,富力地产
6961,3050,Zhang Liang,zhang_liang,2021,1974.0,48.0,Male,China-Shanghai,Semiconductor,Bestechnic,1.0,张亮,张亮、汤晓冬,Zhang Liang、Tang Xiaodong,恒玄科技
7768,729,Zhang Liang,zhang_liang,2020,1982.0,40.0,Male,China-Guangdong-Guangzhou,"Real Estate, Energy",R&F,3.6,张量,张力、张量,Zhang Li、Zhang Liang,富力地产
10722,712,Zhang Liang,zhang_liang,2019,1982.0,40.0,Male,China-Guangdong-Guangzhou,"Real estate, mining",R&F,3.3,张量,张力、张量,Zhang Li、Zhang Liang,富力地产

In [134]:
df123.loc[(df123.person == 'zhang_liang') & (df123.company == 'Bestechnic'), 'person'] = 'zhang_liang_1'

In [135]:
i = 31
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

zhang_xin

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1169,1083,Zhang Xin,zhang_xin,2022,1965.0,57.0,Female,China-Beijing,Estate Holding,SOHO China,3.3,张欣,潘石屹、张欣,Pan Shiyi & Zhang Xin,SOHO中国
4617,955,Zhang Xin,zhang_xin,2021,1965.0,57.0,Female,China-Beijing,Estate Holding,SOHO China,3.5,张欣,潘石屹、张欣,Pan Shiyi、Zhang Xin,SOHO中国
6582,2686,Zhang Xin,zhang_xin,2021,1975.0,47.0,Male,NaN,Food Processing,Haitian,1.2,张欣,张欣,Zhang Xin,海天味业
7756,729,Zhang Xin,zhang_xin,2020,1965.0,57.0,Female,China-Beijing,Real Estate,SOHO China,3.6,张欣,潘石屹、张欣,Pan Shiyi、Zhang Xin,SOHO中国
10716,712,Zhang Xin,zhang_xin,2019,1965.0,57.0,Female,China-Beijing,Real Estate,SOHO China,3.3,张欣,潘石屹、张欣,Pan Shiyi、Zhang Xin,SOHO中国

In [136]:
df123.loc[(df123.person == 'zhang_xin') & (df123.company == 'Haitian'), 'person'] = 'zhang_xin_1'

In [137]:
i = 32
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

zhang_yong

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
260,238,Zhang Yong,zhang_yong,2022,1971.0,51.0,Male,Singapore,Restaurants,Haidilao,10.0,张勇,张勇、舒萍,Zhang Yong & Shu Ping,海底捞
2980,2677,Zhang Yong,zhang_yong,2022,NaN,NaN,Male,China-Zhejiang-Hangzhou,E-Commerce,Alibaba,1.3,张勇,张勇,Zhang Yong,阿里系
3639,38,Zhang Yong,zhang_yong,2021,1971.0,51.0,Male,Singapore,Restaurant,Haidilao,38.0,张勇,张勇、舒萍,Zhang Yong、Shu Ping,海底捞
6584,2686,Zhang Yong,zhang_yong,2021,NaN,NaN,Male,China-Zhejiang-Hangzhou,E-Commerce,Alibaba,1.2,张勇,张勇,Zhang Yong,阿里系
7062,82,Zhang Yong,zhang_yong,2020,1971.0,51.0,Male,Singapore,Restaurants,Haidilao,16.0,张勇,张勇、舒萍,Zhang Yong、Shu Ping,海底捞
10154,192,Zhang Yong,zhang_yong,2019,1971.0,51.0,Male,Singapore,Restaurants,Haidilao,8.4,张勇,张勇、舒萍,Zhang Yong、Shu Ping,海底捞

In [138]:
df123.loc[(df123.person == 'zhang_yong') & (df123.company == 'Alibaba'), 'person'] = 'zhang_yong_1'

In [139]:
i = 33
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

zhou_jian

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,wealth,hs_Character_Fullname_Cn,hs_Rank_Global_ChaName_Cn,hs_Rank_Global_ChaName_En,hs_Rank_Global_ComName_En
1904,1767,Zhou Jian,zhou_jian,2022,1976.0,46.0,Male,China-Guangdong-Shenzhen,Equipments,Maxwell,2.1,周剑,周剑,Zhou Jian,迈为股份
2056,1944,Zhou Jian,zhou_jian,2022,1976.0,46.0,Male,China-Guangdong-Shenzhen,Consumer Goods,UBtech,1.9,周剑,周剑,Zhou Jian,优必选
5646,1868,Zhou Jian,zhou_jian,2021,1976.0,46.0,Male,China-Guangdong-Shenzhen,Consumer Goods,UBtech,1.9,周剑,周剑,Zhou Jian,优必选
6966,3050,Zhou Jian,zhou_jian,2021,1976.0,46.0,Male,NaN,Equipments,Maxwell,1.0,周剑,周剑,Zhou Jian,迈为股份
8864,1692,Zhou Jian,zhou_jian,2020,1976.0,46.0,Male,China-Guangdong-Shenzhen,Robot,UBtech,1.7,周剑,周剑,Zhou Jian,优必选
11610,1497,Zhou Jian,zhou_jian,2019,1976.0,46.0,Male,China-Guangdong-Shenzhen,Robot,UBtech,1.7,周剑,周剑,Zhou Jian,优必选
14629,2074,Zhou Jian,zhou_jian,2018,NaN,NaN,NaN,NaN,IT,UB Tech,1.4,NaN,NaN,NaN,NaN
17359,1952,Zhou Jian,zhou_jian,2017,NaN,NaN,NaN,NaN,IT,UB Tech,1.1,NaN,NaN,NaN,NaN

In [140]:
df123.loc[(df123.person == 'zhou_jian') & (df123.company == 'Maxwell'), 'person'] = 'zhou_jian_1'

In [141]:
i = 34
n = dups[i]
print(n)
df123[df123.person == n][display_cols]

IndexError: list index out of range

In [142]:
# check again for dups
for c, df in df123.groupby(['person']):
    if np.any(df.duplicated(subset=['year'])):
        print(c)
        # dups.append(c)

kommer_damen
leonardo_del_vecchio
lun_ruixiang
serena_simmons
vagit_alekperov
willis_j_johnson

In [143]:
# above ones are duplicated datapoints, will drop later

In [144]:
# how many unique person?
len(df123.person.unique())

5029

In [147]:
# datapoints

In [145]:
df123[df123.duplicated(subset=['person', 'year'], keep=False)][['person', 'year', 'wealth']]

                     person  year  wealth
1472       willis_j_johnson  2022     2.7
2481       willis_j_johnson  2022     1.6
3157           lun_ruixiang  2022     1.2
3159           lun_ruixiang  2022     1.2
5134       willis_j_johnson  2021     2.5
6244       willis_j_johnson  2021     1.3
8612         serena_simmons  2020     1.9
8638         serena_simmons  2020     1.9
11266          kommer_damen  2019     2.1
11901          kommer_damen  2019     1.4
17539  leonardo_del_vecchio  2016    23.0
17540  leonardo_del_vecchio  2016    23.0
17945       vagit_alekperov  2012    16.0
17970       vagit_alekperov  2012    12.0

In [146]:
df123[df123['person'] == 'willis_j_johnson']

,ranking,name,person,year,birth_1,age,sex,permanent_country,industry,company,...,hs_Rank_Global_ChaName_En,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Com_ID,hs_GlobalAndCha,birth_2,birth_3
1472,1347,Willis J Johnson,willis_j_johnson,2022,NaN,NaN,Male,United States-California,Automobile,Copart,...,Willis J Johnson,3874,Copart,美国-富兰克林,USA-Franklin,汽车,0.0,NaN,NaN,NaN
2481,2237,Willis J Johnson,willis_j_johnson,2022,NaN,NaN,Male,United States-California,Automobile,Copart,...,A Jayson Adair,3874,Copart,美国-达拉斯,USA-Dallas,汽车,0.0,NaN,NaN,NaN
5134,1409,Willis J Johnson,willis_j_johnson,2021,NaN,NaN,Male,United States-California,Automobile,Copart,...,Willis J Johnson,3874,Copart,NaN,NaN,汽车,0.0,NaN,NaN,NaN
6244,2530,Willis J Johnson,willis_j_johnson,2021,1970.0,52.0,Male,USA-Dallas,Automobile,Copart,...,A Jayson Adair,6440,Copart,NaN,NaN,汽车,0.0,NaN,NaN,NaN
8344,1251,Willis J Johnson,willis_j_johnson,2020,NaN,NaN,Male,United States-California,Distribution,Copart,...,Willis J Johnson,3874,Copart,NaN,NaN,Distribution,0.0,NaN,NaN,NaN
12209,2038,Willis J Johnson,willis_j_johnson,2019,NaN,NaN,Male,United States-California,Distribution,Copart,...,Willis J Johnson,3874,Copart,NaN,NaN,Distribution,0.0,NaN,NaN,NaN

In [147]:
# wealth by person, year

dps1 = df123[['person', 'year', 'wealth']].copy()

In [148]:
dps1 = dps1.drop_duplicates(subset=['person', 'year']).dropna(how='any').sort_values(by=['person', 'year'])

In [149]:
len(dps1.person.unique())

5028

In [150]:
dps1

                         person  year  wealth
16935  abdulla_ahmed_al_ghurair  2017     1.3
14630  abdulla_ahmed_al_ghurair  2018     1.3
12095  abdulla_ahmed_al_ghurair  2019     1.2
9369   abdulla_ahmed_al_ghurair  2020     1.2
6404   abdulla_ahmed_al_ghurair  2021     1.2
...                         ...   ...     ...
13512        zygmunt_solorz_zak  2018     3.0
11000        zygmunt_solorz_zak  2019     2.6
8079         zygmunt_solorz_zak  2020     2.8
4750         zygmunt_solorz_zak  2021     3.2
1202         zygmunt_solorz_zak  2022     3.2

[17982 rows x 3 columns]

In [151]:
dps1.to_csv('../intermediate/hurun/ddf--datapoints--wealth--by--person--year.csv', index=False)

In [152]:
dps2 = dps1.copy()

In [153]:
dps2['wealth']= dps2['wealth'] * 0.03 * 1e9
dps2.columns = ['person', 'year', 'annual_income']

In [154]:
dps2

                         person  year  annual_income
16935  abdulla_ahmed_al_ghurair  2017     39000000.0
14630  abdulla_ahmed_al_ghurair  2018     39000000.0
12095  abdulla_ahmed_al_ghurair  2019     36000000.0
9369   abdulla_ahmed_al_ghurair  2020     36000000.0
6404   abdulla_ahmed_al_ghurair  2021     36000000.0
...                         ...   ...            ...
13512        zygmunt_solorz_zak  2018     90000000.0
11000        zygmunt_solorz_zak  2019     78000000.0
8079         zygmunt_solorz_zak  2020     84000000.0
4750         zygmunt_solorz_zak  2021     96000000.0
1202         zygmunt_solorz_zak  2022     96000000.0

[17982 rows x 3 columns]

In [155]:
dps2 = dps2.set_index(['person', 'year'])

In [156]:
dps2.loc['jeff_bezos', 2022]['annual_income']

5640000000.0

In [157]:
dps2.to_csv('../intermediate/hurun/ddf--datapoints--annual_income--by--person--year.csv')

In [158]:
dps2

                               annual_income
person                   year
abdulla_ahmed_al_ghurair 2017     39000000.0
                         2018     39000000.0
                         2019     36000000.0
                         2020     36000000.0
                         2021     36000000.0
...                                      ...
zygmunt_solorz_zak       2018     90000000.0
                         2019     78000000.0
                         2020     84000000.0
                         2021     96000000.0
                         2022     96000000.0

[17982 rows x 1 columns]

In [159]:
# check geo

In [160]:
df123[pd.isnull(df123['permanent_country'])].sort_values(by=['person', 'year']).iloc[99].to_dict()

{'ranking': 2677,
 'name': 'Alex C. Lo',
 'person': 'alex_c_lo',
 'year': 2022,
 'birth_1': nan,
 'age': nan,
 'sex': 'Male',
 'permanent_country': nan,
 'industry': 'Food & Beverage',
 'company': 'Uni-President',
 'wealth': 1.3,
 'hs_Rank_Global_Wealth': 85.0,
 'hs_Character_Photo': 'https://res.hurun.cn/default/icon_men.jpg',
 'hs_Character_Name_En': nan,
 'hs_Character_Surname_En': nan,
 'hs_Character_Gender': '先生',
 'hs_Character_Birthday': nan,
 'hs_Character_Age': nan,
 'hs_Character_MTime': '1905-06-30 12:00:00',
 'hs_Character_ID': 4122.0,
 'hs_Character_Fullname_Cn': '罗智先',
 'hs_Character_Surname_Cn': nan,
 'hs_Character_Name_Cn': nan,
 'hs_Character_Nationality': 198.0,
 'hs_Character_NativePlace_Cn': nan,
 'hs_Character_NativePlace_En': nan,
 'hs_Character_BirthPlace_Cn': nan,
 'hs_Character_BirthPlace_En': nan,
 'hs_Character_Permanent_Cn': nan,
 'hs_Character_Education_Cn': nan,
 'hs_Character_Education_En': nan,
 'hs_Character_School_Cn': nan,
 'hs_Character_School_En': nan,
 'hs_Character_Major_Cn': nan,
 'hs_Character_Major_En': nan,
 'hs_Rank_Global_Nationality': nan,
 'hs_Rank_Global_NativePlace_Cn': nan,
 'hs_Rank_Global_NativePlace_En': nan,
 'hs_Rank_Global_BirthPlace_Cn': nan,
 'hs_Rank_Global_BirthPlace_En': nan,
 'hs_Rank_Global_Permanent_Cn': nan,
 'hs_Rank_Global_Permanent_En': nan,
 'hs_Rank_Global_Photo': nan,
 'hs_Rank_Global_Age': nan,
 'hs_Rank_Global_Gender': nan,
 'hs_Rank_Global_Education_Cn': nan,
 'hs_Rank_Global_Education_En': nan,
 'hs_Rank_Global_School_Cn': nan,
 'hs_Rank_Global_School_En': nan,
 'hs_Rank_Global_Year': '2022-03-17',
 'hs_Rank_Global_Relations': '夫妇',
 'hs_Rank_Global_MTime': '2022-03-17 12:00:00',
 'hs_Rank_Global_ID': 11250.0,
 'hs_Rank_Global_ListID': 46.0,
 'hs_Rank_Global_Ranking_Change': '188',
 'hs_Rank_Global_Wealth_Change': '18%',
 'hs_Rank_Global_ChaName_Cn': '罗智先、高秀玲',
 'hs_Rank_Global_ChaName_En': 'Alex C. Lo & Shirley Kao',
 'hs_Rank_Global_Cha_ID': '4122、4075',
 'hs_Rank_Global_ComName_En': '统一',
 'hs_Rank_Global_ComHeadquarters_Cn': '中国-台南',
 'hs_Rank_Global_ComHeadquarters_En': 'China-Tainan',
 'hs_Rank_Global_Industry_Cn': '食品和饮料',
 'hs_Rank_Global_Com_ID': 0.0,
 'hs_GlobalAndCha': nan,
 'birth_2': nan,
 'birth_3': nan}

In [180]:
geo_syns = pd.read_csv('../../../ddf--open_numbers/ddf--synonyms--geo.csv')
geo_map = geo_syns.set_index('synonym')['geo'].to_dict()

In [163]:
gs = df123.groupby(['person'])

In [233]:
def group_func(df):
    res = dict()
    for c in df.columns:
        if c not in ['wealth', 'ranking', 'year']:
            # NOTE: here the hurun list have newer items in front, different than forbes etl, so we don't 
            # need [::-1] part.
            res[c] = ";".join([x for x in df[c].dropna().map(lambda x: str(x).strip()).drop_duplicates().values])
            
    return pd.Series(res)

In [234]:
group_func(gs.get_group('jeff_bezos'))

name                          Jeff Bezos
person                        jeff_bezos
birth_1                           1964.0
age                                 58.0
sex                                 Male
                                 ...
hs_Rank_Global_Industry_Cn     电子商务;在线零售
hs_Rank_Global_Com_ID                0.0
hs_GlobalAndCha
birth_2                             1964
birth_3                             1964
Length: 64, dtype: object

In [235]:
res_df1 = gs.apply(group_func)

In [236]:
res_df1

,name,person,birth_1,age,sex,permanent_country,industry,company,hs_Rank_Global_Wealth,hs_Character_Photo,...,hs_Rank_Global_ChaName_En,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Com_ID,hs_GlobalAndCha,birth_2,birth_3
person,,,,,,,,,,,,,,,,,,,,,
abdulla_ahmed_al_ghurair,Abdulla Ahmed Al Ghurair;Abdulla Ahmed Al Ghur...,abdulla_ahmed_al_ghurair,,,Male,United Arab Emirates-Dubai,Banking,Mashreq Bank,175.0;80.0;90.0,https://res.hurun.cn/default/icon_men.jpg,...,Abdulla Ahmed Al Ghurair,3790,Mashreq Bank,阿拉伯联合酋长国-迪拜,UAE-Dubai,银行业;Banking,0.0,,1955;1956,
abdulla_al_futtaim,Abdulla Al Futtaim,abdulla_al_futtaim,,,Male,United Arab Emirates-Dubai,Automobile Distribution;Automobiles & Componen...,Al Futtaim,95.0;80.0;210.0,https://res.hurun.cn/default/icon_men.jpg,...,Abdulla Al Futtaim,2813,Al Futtaim,阿拉伯联合酋长国-迪拜,UAE-Dubai,汽车销售;Automobiles & Auto Components,0.0,,/,
abdullah_al_rajhi,Abdullah Al Rajhi,abdullah_al_rajhi,,,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking And Investment,90.0,https://res.hurun.cn/default/icon_men.jpg,...,Abdullah Al Rajhi,3715,Al Rajhi Banking And Investment,,,Banking,0.0,,/,
abdullah_bin_sulaiman_al_rajhi,Abdullah bin Sulaiman Al Rajhi,abdullah_bin_sulaiman_al_rajhi,1929.0,93.0,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking & Investment;Al Rajhi Banking...,150.0;85.0;130.0,https://res.hurun.cn/default/icon_men.jpg,...,Abdullah bin Sulaiman Al Rajhi,4977,Al Rajhi Banking And Investment,沙特阿拉伯-利雅得,Saudi Arabia-Riyadh,银行业;Banking,0.0,,,
abdulsamad_rabiu,Abdulsamad Rabiu,abdulsamad_rabiu,1960.0,62.0,Male,Nigeria-Lagos,Construction Materials;Conglomerate;Multi Bran...,BUA;Bua,335.0;455.0;220.0;115.0,https://res.hurun.cn/photo/003394_Abdulsamad_R...,...,Abdulsamad Rabiu,3394,Bua,尼日利亚-拉各斯,Nigeria-Lagos,建筑材料;Multi Brand Retailing,0.0,,1960;1950,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuo_xiaoping,Zuo Xiaoping,zuo_xiaoping,1973.0,49.0,Female,China-Guangdong-Foshan,Construction Materials;Industrial Products;Pla...,Lesso;L&S,295.0;325.0;240.0;100.0,https://res.hurun.cn/default/icon_women.jpg,...,Wong Luen Hei & Zuo Xiaoping;Huang Lianxi、Zuo ...,230、1875,联塑,中国-佛山;广东-佛山,China-Foshan;Guangdong-Foshan,建筑材料;工业产品;塑料管道及管件,0.0,,,
zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,zuo_zongshen,1953.0,69.0,Male,China-Chongqing,"Auto Components;Motorcycles, Real Estate;Motor...",Zongshen,70.0;75.0,https://res.hurun.cn/default/icon_men.jpg,...,Zuo Zongshen;Zuo Zongshen、Yuan Dexiu,621;621、4127,宗申,中国-重庆;重庆-重庆;四川-成都,China-Chongqing;Chongqing-Chongqing;Sichuan-Ch...,摩托车、房地产;汽车零部件;摩托车、 房地产,0.0,,1953,
zuo_zongshen_and_yuan_dexiu,Zuo Zongshen & Yuan Dexiu,zuo_zongshen_and_yuan_dexiu,,,,,"Motorcycles, Real estate",Zongshen,,,...,,,,,,,,,1953,
zygi_wilf,Zygi Wilf,zygi_wilf,1950.0,72.0,Male,United States-Millburn,Sports;Real Estate,Minnesota Vikings;Garden Homes,215.0;195.0;190.0;165.0,https://res.hurun.cn/default/icon_men.jpg,...,Zygi Wilf,3085,Garden Homes,美国-Springfield;广东-潮州,USA-Springfield;Guangdong-Chaozhou,体育运动;Real Estate,0.0,,1951,
zygmunt_solorz_zak,Zygmunt Solorz-Zak,zygmunt_solorz_zak,1956.0,66.0,Male,Poland-Warsaw,Media;Entertainment,Cyfrowy Polsat,200.0;205.0;175.0,https://res.hurun.cn/photo/002996_Zygmunt_Solo...,...,Zygmunt Solorz-Zak,2996,Cyfrowy Polsat,波兰-华沙,Poland-Warsaw,媒体;Entertainment,0.0,,1957,

In [180]:
# NOTE: at this step. We can serve the dataframe above to compare and find matches in Forbes

In [181]:
# now remove columns that we don't need to be in entity domain

In [237]:
res_df1.columns

Index(['name', 'person', 'birth_1', 'age', 'sex', 'permanent_country',
       'industry', 'company', 'hs_Rank_Global_Wealth', 'hs_Character_Photo',
       'hs_Character_Name_En', 'hs_Character_Surname_En',
       'hs_Character_Gender', 'hs_Character_Birthday', 'hs_Character_Age',
       'hs_Character_MTime', 'hs_Character_ID', 'hs_Character_Fullname_Cn',
       'hs_Character_Surname_Cn', 'hs_Character_Name_Cn',
       'hs_Character_Nationality', 'hs_Character_NativePlace_Cn',
       'hs_Character_NativePlace_En', 'hs_Character_BirthPlace_Cn',
       'hs_Character_BirthPlace_En', 'hs_Character_Permanent_Cn',
       'hs_Character_Education_Cn', 'hs_Character_Education_En',
       'hs_Character_School_Cn', 'hs_Character_School_En',
       'hs_Character_Major_Cn', 'hs_Character_Major_En',
       'hs_Rank_Global_Nationality', 'hs_Rank_Global_NativePlace_Cn',
       'hs_Rank_Global_NativePlace_En', 'hs_Rank_Global_BirthPlace_Cn',
       'hs_Rank_Global_BirthPlace_En', 'hs_Rank_Global_Permanent_Cn',
       'hs_Rank_Global_Permanent_En', 'hs_Rank_Global_Photo',
       'hs_Rank_Global_Age', 'hs_Rank_Global_Gender',
       'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En',
       'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En',
       'hs_Rank_Global_Year', 'hs_Rank_Global_Relations',
       'hs_Rank_Global_MTime', 'hs_Rank_Global_ID', 'hs_Rank_Global_ListID',
       'hs_Rank_Global_Ranking_Change', 'hs_Rank_Global_Wealth_Change',
       'hs_Rank_Global_ChaName_Cn', 'hs_Rank_Global_ChaName_En',
       'hs_Rank_Global_Cha_ID', 'hs_Rank_Global_ComName_En',
       'hs_Rank_Global_ComHeadquarters_Cn',
       'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_Industry_Cn',
       'hs_Rank_Global_Com_ID', 'hs_GlobalAndCha', 'birth_2', 'birth_3'],
      dtype='object')

In [238]:
res_df2 = res_df1[['name', 'hs_Character_Birthday', 'birth_1', 'birth_2', 'birth_3', 'age', 'sex', 'permanent_country',
       'industry', 'company']].copy()

In [239]:
res_df2 = res_df2.rename(columns={'hs_Character_Birthday': 'birth'})

In [240]:
res_df2

,name,birth,birth_1,birth_2,birth_3,age,sex,permanent_country,industry,company
person,,,,,,,,,,
abdulla_ahmed_al_ghurair,Abdulla Ahmed Al Ghurair;Abdulla Ahmed Al Ghur...,,,1955;1956,,,Male,United Arab Emirates-Dubai,Banking,Mashreq Bank
abdulla_al_futtaim,Abdulla Al Futtaim,,,/,,,Male,United Arab Emirates-Dubai,Automobile Distribution;Automobiles & Componen...,Al Futtaim
abdullah_al_rajhi,Abdullah Al Rajhi,,,/,,,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking And Investment
abdullah_bin_sulaiman_al_rajhi,Abdullah bin Sulaiman Al Rajhi,1929-01-01,1929.0,,,93.0,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking & Investment;Al Rajhi Banking...
abdulsamad_rabiu,Abdulsamad Rabiu,1960-08-04,1960.0,1960;1950,,62.0,Male,Nigeria-Lagos,Construction Materials;Conglomerate;Multi Bran...,BUA;Bua
...,...,...,...,...,...,...,...,...,...,...
zuo_xiaoping,Zuo Xiaoping,1973-01-01,1973.0,,,49.0,Female,China-Guangdong-Foshan,Construction Materials;Industrial Products;Pla...,Lesso;L&S
zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,1953-01-01,1953.0,1953,,69.0,Male,China-Chongqing,"Auto Components;Motorcycles, Real Estate;Motor...",Zongshen
zuo_zongshen_and_yuan_dexiu,Zuo Zongshen & Yuan Dexiu,,,1953,,,,,"Motorcycles, Real estate",Zongshen
zygi_wilf,Zygi Wilf,1950-04-22,1950.0,1951,,72.0,Male,United States-Millburn,Sports;Real Estate,Minnesota Vikings;Garden Homes
zygmunt_solorz_zak,Zygmunt Solorz-Zak,1956-08-04,1956.0,1957,,66.0,Male,Poland-Warsaw,Media;Entertainment,Cyfrowy Polsat

In [241]:
def get_country(x):
    if x == '':
        return None
    if 'Taipei' in x:
        return "Taiwan"
    if 'Hong Kong' in x:
        return "Hong Kong"
    if x == 'ChinaChangsha':
        return 'China'
    if x == 'United StatesNew Jersey':
        return "United States"
    res = x.split('-')[0].strip()
    if res == 'Dubai':
        return "United Arab Emirates"
    if res == 'Melbourne':
        return 'Australia'
    return res

def run_get_country(x):
    if ';' in x:
        splits = x.split(';')
        return ';'.join(set(map(get_country, splits)))
    else:
        return get_country(x)

res_df2['country'] = res_df2['permanent_country'].map(run_get_country)

In [242]:
res_df2.dropna(subset=['country'])

,name,birth,birth_1,birth_2,birth_3,age,sex,permanent_country,industry,company,country
person,,,,,,,,,,,
abdulla_ahmed_al_ghurair,Abdulla Ahmed Al Ghurair;Abdulla Ahmed Al Ghur...,,,1955;1956,,,Male,United Arab Emirates-Dubai,Banking,Mashreq Bank,United Arab Emirates
abdulla_al_futtaim,Abdulla Al Futtaim,,,/,,,Male,United Arab Emirates-Dubai,Automobile Distribution;Automobiles & Componen...,Al Futtaim,United Arab Emirates
abdullah_al_rajhi,Abdullah Al Rajhi,,,/,,,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking And Investment,Saudi Arabia
abdullah_bin_sulaiman_al_rajhi,Abdullah bin Sulaiman Al Rajhi,1929-01-01,1929.0,,,93.0,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking & Investment;Al Rajhi Banking...,Saudi Arabia
abdulsamad_rabiu,Abdulsamad Rabiu,1960-08-04,1960.0,1960;1950,,62.0,Male,Nigeria-Lagos,Construction Materials;Conglomerate;Multi Bran...,BUA;Bua,Nigeria
...,...,...,...,...,...,...,...,...,...,...,...
zuo_s,Zuo's,1971-01-01,1971.0,,,51.0,Male,China -Beijing,Real Estate Services,KE,China
zuo_xiaoping,Zuo Xiaoping,1973-01-01,1973.0,,,49.0,Female,China-Guangdong-Foshan,Construction Materials;Industrial Products;Pla...,Lesso;L&S,China
zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,1953-01-01,1953.0,1953,,69.0,Male,China-Chongqing,"Auto Components;Motorcycles, Real Estate;Motor...",Zongshen,China
zygi_wilf,Zygi Wilf,1950-04-22,1950.0,1951,,72.0,Male,United States-Millburn,Sports;Real Estate,Minnesota Vikings;Garden Homes,United States
zygmunt_solorz_zak,Zygmunt Solorz-Zak,1956-08-04,1956.0,1957,,66.0,Male,Poland-Warsaw,Media;Entertainment,Cyfrowy Polsat,Poland

In [243]:
# res_df3 = res_df2.dropna(subset=['country']).copy()
res_df3 = res_df2.copy()

In [244]:
res_df3['country'] = res_df3['country'].fillna('')

In [245]:
res_df3[res_df3.country.str.contains(';')].shape  # check how many of them have multiple countries

(21, 11)

In [246]:
res_df3[res_df3.country.str.contains(';')].country.values   # ok, most are just different names for same country

array(['United States;USA', 'United States;USA', 'United States;USA',
       'UK;United Kingdom', 'United States;USA', 'United States;USA',
       'United States;USA', 'United States;USA', 'United States;USA',
       'United States;USA', 'United States;USA', 'United States;USA',
       'United States;USA', 'United States;USA', 'United States;USA',
       'China;Hong Kong', 'United States;USA', 'UK;United Kingdom',
       'United States;USA', 'United States;USA', 'United States;USA'],
      dtype=object)

In [247]:
def _f(x):
    if pd.isnull(x):
        return x
    else:
        if x == '':
            return ''
        elif ';' in x:
            x_ = x.split(';')
            return ';'.join(set([geo_map[c] for c in x_]))
        else:
            return geo_map[x]
    
res_df3['geo'] = res_df3['country'].map(_f)

In [248]:
res_df3.columns

Index(['name', 'birth', 'birth_1', 'birth_2', 'birth_3', 'age', 'sex',
       'permanent_country', 'industry', 'company', 'country', 'geo'],
      dtype='object')

In [249]:
# fix age issue in birth_2
def fix_age(x):
    if x == '':
        return np.nan
    if pd.isnull(x):
        return x
    if x == '/' or x == '#VALUE!':
        return np.nan

    if '、' in x:
        x = x.replace('、', ';')
    if ';' in x:
        split = x.split(';')
        res = filter(lambda x: x not in ['#VALUE!', '/'], split)
        return ';'.join(res)
    return x

In [250]:
res_df3['birth_2'] = res_df3['birth_2'].map(fix_age)

In [251]:
res_df3['birth_3'] = res_df3['birth_3'].map(fix_age)

In [252]:
ent = res_df3.copy()

In [253]:
ent['birth_1'] = ent['birth_1'].replace({'': np.nan})

In [254]:
ent['birth_comb'] = ent['birth_1'].fillna(ent['birth_2']).fillna(ent['birth_3'])

In [255]:
def _f(x):
    if pd.isnull(x):
        return x
    if ';' in x:
        return x.split(';')[0]
    return x
ent['birth_comb'].map(_f)

person
abdulla_ahmed_al_ghurair            1955
abdulla_al_futtaim                   NaN
abdullah_al_rajhi                    NaN
abdullah_bin_sulaiman_al_rajhi    1929.0
abdulsamad_rabiu                  1960.0
                                   ...
zuo_xiaoping                      1973.0
zuo_zongshen                      1953.0
zuo_zongshen_and_yuan_dexiu         1953
zygi_wilf                         1950.0
zygmunt_solorz_zak                1956.0
Name: birth_comb, Length: 5028, dtype: object

In [256]:
ent['birth_comb'] = ent['birth_comb'].map(_f)

In [257]:
# confirm if the order is correct for countries. We want to have latest year's data for country information.
def _f(x):
    if not pd.isnull(x):
        if ';' in x:
            return True
    return False

ent[ent['geo'].map(_f)]

,name,birth,birth_1,birth_2,birth_3,age,sex,permanent_country,industry,company,country,geo,birth_comb
person,,,,,,,,,,,,,
li_hua_1,Li Hua,1966-01-01;1978-01-01,1966.0;1978.0,NaN,NaN,56.0;44.0,Male,China-Guangdong-Shenzhen;China-Hong Kong,Financial Services;NBFC,Futu Holdings,China;Hong Kong,hkg;chn,1966.0

In [258]:
ent.to_csv('../intermediate/hurun/ddf--entities--person.csv')

In [259]:
ent

,name,birth,birth_1,birth_2,birth_3,age,sex,permanent_country,industry,company,country,geo,birth_comb
person,,,,,,,,,,,,,
abdulla_ahmed_al_ghurair,Abdulla Ahmed Al Ghurair;Abdulla Ahmed Al Ghur...,,NaN,1955;1956,NaN,,Male,United Arab Emirates-Dubai,Banking,Mashreq Bank,United Arab Emirates,are,1955
abdulla_al_futtaim,Abdulla Al Futtaim,,NaN,NaN,NaN,,Male,United Arab Emirates-Dubai,Automobile Distribution;Automobiles & Componen...,Al Futtaim,United Arab Emirates,are,NaN
abdullah_al_rajhi,Abdullah Al Rajhi,,NaN,NaN,NaN,,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking And Investment,Saudi Arabia,sau,NaN
abdullah_bin_sulaiman_al_rajhi,Abdullah bin Sulaiman Al Rajhi,1929-01-01,1929.0,NaN,NaN,93.0,Male,Saudi Arabia-Riyadh,Banking,Al Rajhi Banking & Investment;Al Rajhi Banking...,Saudi Arabia,sau,1929.0
abdulsamad_rabiu,Abdulsamad Rabiu,1960-08-04,1960.0,1960;1950,NaN,62.0,Male,Nigeria-Lagos,Construction Materials;Conglomerate;Multi Bran...,BUA;Bua,Nigeria,nga,1960.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuo_xiaoping,Zuo Xiaoping,1973-01-01,1973.0,NaN,NaN,49.0,Female,China-Guangdong-Foshan,Construction Materials;Industrial Products;Pla...,Lesso;L&S,China,chn,1973.0
zuo_zongshen,Zuo Zongshen;Zuo Zongshen & family,1953-01-01,1953.0,1953,NaN,69.0,Male,China-Chongqing,"Auto Components;Motorcycles, Real Estate;Motor...",Zongshen,China,chn,1953.0
zuo_zongshen_and_yuan_dexiu,Zuo Zongshen & Yuan Dexiu,,NaN,1953,NaN,,,,"Motorcycles, Real estate",Zongshen,,,1953
zygi_wilf,Zygi Wilf,1950-04-22,1950.0,1951,NaN,72.0,Male,United States-Millburn,Sports;Real Estate,Minnesota Vikings;Garden Homes,United States,usa,1950.0
zygmunt_solorz_zak,Zygmunt Solorz-Zak,1956-08-04,1956.0,1957,NaN,66.0,Male,Poland-Warsaw,Media;Entertainment,Cyfrowy Polsat,Poland,pol,1956.0

In [ ]:
# End. below should be ignored

In [180]:
ent.loc['adam_neuman']

name                            Adam Neuman
birth
birth_1                                 NaN
birth_2                                1980
birth_3                                 NaN
age
sex
permanent_country
industry             Real Estate;Technology
company                              WeWork
country
geo
birth_comb                             1980
Name: adam_neuman, dtype: object

In [165]:
gs.get_group(3874)

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,hs_Character_Surname_En,...,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year,person
1472,先生,1900-01-01,未知,Male,3874,威利斯·约翰逊,Willis J Johnson,NaN,NaN,NaN,...,Copart,Copart,美国-富兰克林,USA-Franklin,汽车,Automobile,0,NaN,2022,willis_j_johnson
2481,先生,1900-01-01,未知,Male,3874,威利斯·约翰逊,Willis J Johnson,NaN,NaN,NaN,...,Copart,Copart,美国-达拉斯,USA-Dallas,汽车,Automobile,0,NaN,2022,willis_j_johnson
5134,先生,1900-01-01,未知,Male,3874,威利斯·约翰逊,Willis J Johnson,NaN,NaN,NaN,...,Copart,Copart,NaN,NaN,汽车,Automobile,0,NaN,2021,willis_j_johnson
8344,先生,1900-01-01,未知,Male,3874,威利斯·约翰逊,Willis J Johnson,NaN,NaN,NaN,...,Copart,Copart,NaN,NaN,Distribution,Distribution,0,NaN,2020,willis_j_johnson
12209,先生,1900-01-01,未知,Male,3874,威利斯·约翰逊,Willis J Johnson,NaN,NaN,NaN,...,Copart,Copart,NaN,NaN,Distribution,Distribution,0,NaN,2019,willis_j_johnson

In [166]:
res_df1 = res_df1.unstack()

In [167]:
df2 = df1[df1['hs_Character_ID'].isin([39, 285, 335, 430, 560, 1925, 2380, 3209, 
                                       3874, 5294, 5145, 3125])].copy()

In [168]:
df2 = df2.sort_values(by=['hs_Character_ID', 'hs_Rank_Global_Cha_ID', 'hs_Rank_Global_ComName_En'])

In [171]:
df2['hs_Rank_Global_ComName_En'] = df2['hs_Rank_Global_ComName_En'].str.strip()

In [174]:
df2[['person', 'year', 'hs_Rank_Global_ComName_En',
     'hs_Character_Birthday']].drop_duplicates(subset=['person', 'hs_Character_Birthday'])

,person,year,hs_Rank_Global_ComName_En,hs_Character_Birthday
246,li_hua,2022,Excellence,1966-01-01
682,wang_yanqing,2022,Lead,1966-04-01
1904,zhou_jian,2022,Maxwell,1976-01-01
231,li_ping,2022,CATL,1968-01-01
5455,xu_xudong,2021,Far Eastern,1970-01-01
2183,chen_yanni,2022,Wolong,1982-01-01
1712,jim_davis,2022,Allegis,1900-01-01
1565,serena_simmons,2022,Valhi,1900-01-01
11901,kommer_damen,2019,Damen Shipyard,1900-01-01
1472,willis_j_johnson,2022,Copart,1900-01-01
3157,lun_ruixiang,2022,Huijing,1967-01-01
2734,jin_lei,2022,Changchun High-tech Industries,1954-09-23

In [ ]:
# manually fixing:

In [108]:
df2.loc[1308, 'person'] = 'li_hua_1'
df2.loc[[5483, 8796], 'person'] = 'li_hua_2'

df2.loc[[9744], 'person'] = 'wang_yanqing_1'

df2.loc[[1904], 'person'] = 'zhou_jian_1'

df2.loc[[3145, 12461], 'person'] = 'li_ping_1'

df2.loc[[1718, 5930, 8175, 12072], 'person'] = 'xu_xudong_1'

df2.loc[[8997], 'person'] = 'chen_yanni_1'

df2.loc[[1712, 11555], 'person'] = 'jim_davis_1'

In [109]:
df2[['person', 'year', 'hs_Rank_Global_ComName_En']]

                 person  year hs_Rank_Global_ComName_En
246              li_hua  2022                Excellence
3848             li_hua  2021                Excellence
7200             li_hua  2020               Excellence
10366            li_hua  2019               Excellence
1308           li_hua_1  2022             Futu Holdings
5483           li_hua_2  2021           Huayu Education
8796           li_hua_2  2020           Huayu Education
682        wang_yanqing  2022                      Lead
4424       wang_yanqing  2021                      Lead
8236       wang_yanqing  2020                      Lead
11432      wang_yanqing  2019                      Lead
9744     wang_yanqing_1  2020       Guangwei Composites
1904        zhou_jian_1  2022                   Maxwell
2056          zhou_jian  2022                    UBtech
5646          zhou_jian  2021                    UBtech
8864          zhou_jian  2020                    UBtech
11610         zhou_jian  2019                    UBtech
231             li_ping  2022                      CATL
4019            li_ping  2021                      CATL
8000            li_ping  2020                      CATL
12008           li_ping  2019                      CATL
3145          li_ping_1  2022                   Teamgo
12461         li_ping_1  2019                   Teamgo
5455          xu_xudong  2021               Far Eastern
8511          xu_xudong  2020               Far Eastern
11746         xu_xudong  2019              Far Eastern
1718        xu_xudong_1  2022   XuSheng Auto Technology
5930        xu_xudong_1  2021   XuSheng Auto Technology
8175        xu_xudong_1  2020   XuSheng Auto Technology
12072       xu_xudong_1  2019   XuSheng Auto Technology
2183         chen_yanni  2022                    Wolong
5662         chen_yanni  2021                  Wolong
9084         chen_yanni  2020                  Wolong
12408        chen_yanni  2019                  Wolong
8997       chen_yanni_1  2020              Wolwo Pharma
1712        jim_davis_1  2022                   Allegis
11555       jim_davis_1  2019                   Allegis
229           jim_davis  2022               New Balance
3820          jim_davis  2021               New Balance
7206          jim_davis  2020               New Balance
10204         jim_davis  2019               New Balance
11901      kommer_damen  2019            Damen Shipyard
2225       kommer_damen  2022           Damen Shipyards
4924       kommer_damen  2021           Damen Shipyards
8608       kommer_damen  2020           Damen Shipyards
11266      kommer_damen  2019           Damen Shipyards
1472   willis_j_johnson  2022                    Copart
2481   willis_j_johnson  2022                    Copart
5134   willis_j_johnson  2021                    Copart
8344   willis_j_johnson  2020                    Copart
12209  willis_j_johnson  2019                    Copart

In [118]:
gs2 = df2.groupby(['person'])

In [119]:
def group_func2(df):
#     if df.shape[0] > 4:
#         print(df[['hs_Character_Fullname_En', 'hs_Character_ID']])
#         # raise(ValueError('too much data'))
#         return pd.Series([])
    res = dict()
    for c in df.columns:
        if c in ['hs_Character_Age']:
            res[c] = df[c].max()
        else:
            res[c] = ";".join([str(x).strip() for x in df[c].dropna().unique()])
            
    return pd.Series(res)

In [120]:
res_df2 = gs2.apply(group_func2)

In [121]:
res_df2

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,hs_Character_Surname_En,...,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year,person
person,,,,,,,,,,,,,,,,,,,,,
chen_yanni,女士,1982-01-01,40,Female,1925,陈嫣妮,Chen Yanni,陈,嫣妮,Chen,...,卧龙控股,Wolong;Wolong,中国-绍兴;浙江-绍兴,China-Shaoxing;Zhejiang-Shaoxing,电气设备、房地产;工业产品,Electrical equipment;Industrial Products;Manuf...,0,,2022;2021;2020;2019,chen_yanni
chen_yanni_1,女士,1982-01-01,38,Female,1925,陈嫣妮,Chen Yanni,陈,嫣妮,Chen,...,我武生物,Wolwo Pharma,浙江-湖州,Zhejiang-Huzhou,医药,Pharmaceuticals,0,,2020,chen_yanni_1
jim_davis,先生,1900-01-01,未知,Male,2380,吉姆·戴维斯,Jim Davis,,,,...,New Balance,New Balance,美国-牛顿,USA-Newton,服装与配饰;Multi Brand Retailing,Apparel & Accessories;Multi Brand Retailing,0,,2022;2021;2020;2019,jim_davis
jim_davis_1,先生,1900-01-01,未知,Male,2380,吉姆·戴维斯,Jim Davis,,,,...,Allegis,Allegis,美国-马里兰,USA-Cockeysville,人力资源管理软件;Services,Human Resource Management;Services,0,,2022;2019,jim_davis_1
kommer_damen,先生,1900-01-01,未知,Male,3209,科默·达曼,Kommer Damen,,,,...,Damen Shipyard;Damen Shipyards,Damen Shipyard;Damen Shipyards,荷兰-霍林赫姆,Netherlands-Gorinchem,Shipbuilding;工程;Logistics & Shipping,Shipbuilding;Construction & Engineering;Engine...,0,,2019;2022;2021;2020,kommer_damen
li_hua,先生,1966-01-01,56,Male,39,李华,Li Hua,李,华,Li,...,卓越,Excellence;Excellence,中国-深圳;广东-深圳,China-Shenzhen;Guangdong-Shenzhen,房地产,Developer;Real Estate;Real estate,0,,2022;2021;2020;2019,li_hua
li_hua_1,先生,1966-01-01,56,Male,39,李华,Li Hua,李,华,Li,...,富途证券,Futu Holdings,中国-深圳,China-Shenzhen,金融服务,Financial Services,0,,2022,li_hua_1
li_hua_2,先生,1966-01-01,55,Male,39,李华,Li Hua,李,华,Li,...,宇华教育,Huayu Education,河南-郑州,Henan-Zhengzhou,教育,Education,0,,2021;2020,li_hua_2
li_ping,先生,1968-01-01,54,Male,430,李平,Li Ping,李,平,Li,...,宁德时代,CATL,中国-宁德;福建-宁德,China-Ningde;Fujian-Ningde,锂电池;绿色能源,Batteries;Green Energy;Electronics,0,,2022;2021;2020;2019,li_ping
li_ping_1,先生,1968-01-01,54,Male,430,李平,Li Ping,李,平,Li,...,天高,Teamgo,中国-广州;广东-广州,China-Guangzhou;Guangdong-Guangzhou,矿业开发、冶金贸易,"Metals & Mining;Mining, metallurgy",0,,2022;2019,li_ping_1
wang_yanqing,先生,1966-04-01,56,Male,285,王燕清,Wang Yanqing,王,燕清,Wang,...,先导智能;先导股份,Lead,中国-无锡;江苏-无锡,China-Wuxi;Jiangsu -Wuxi,工业设备;自动化设备,Equipments;TMT,0,,2022;2021;2020;2019,wang_yanqing
wang_yanqing_1,先生,1966-04-01,54,Male,285,王燕清,Wang Yanqing,王,燕清,Wang,...,光威复材,Guangwei Composites,山东-东营,Shandong-Dongying,化工,Chemical,0,,2020,wang_yanqing_1
willis_j_johnson,先生,1900-01-01,未知,Male,3874,威利斯·约翰逊,Willis J Johnson,,,,...,Copart,Copart,美国-富兰克林;美国-达拉斯,USA-Franklin;USA-Dallas,汽车;Distribution,Automobile;Automobile;Distribution,0,,2022;2021;2020;2019,willis_j_johnson
xu_xudong,先生,1970-01-01,51,Male,560,徐旭东,Xu Xudong,徐,旭东,Xu,...,远东,Far Eastern;Far Eastern,中国台北-新北;中国台湾-新北,Chinese Taipei-New Taipei;ChineseTaipei-New Ta...,金融服务;纺织、金融、石化,Financial Services;Financial Services,0,,2021;2020;2019,xu_xudong
xu_xudong_1,先生,1970-01-01,52,Male,560,徐旭东,Xu Xudong,徐,旭东,Xu,...,旭升汽车技术;旭升股份,XuSheng Auto Technology,中国-宁波;浙江-宁波,China-Ningbo;Zhejiang-Ningbo,汽车零部件,Auto Components;Manufacturing,0,,2022;2021;2020;2019,xu_xudong_1
zhou_jian,先生,1976-01-01,46,Male,335,周剑,Zhou Jian,周,剑,Zhou,...,优必选,UBtech,中国-深圳;广东-深圳,China-Shenzhen;Guangdong-Shenzhen,机器人;消费品,Consumer Goods;Robot,0,,2022;2021;2020;2019,zhou_jian
zhou_jian_1,先生,1976-01-01,46,Male,335,周剑,Zhou Jian,周,剑,Zhou,...,迈为股份,Maxwell,中国-苏州,China-Suzhou,工业设备,Equipments,0,,2022,zhou_jian_1

In [122]:
res_19_22 = pd.concat([res_df1, res_df2], ignore_index=True)

In [130]:
cols_ = ['hs_Character_Age', 'hs_Character_BirthPlace_Cn',
       'hs_Character_BirthPlace_En', 'hs_Character_Birthday',
       'hs_Character_Education_Cn', 'hs_Character_Education_En',
       'hs_Character_Fullname_Cn', 'hs_Character_Fullname_En',
       'hs_Character_Gender', 'hs_Character_Gender_Lang', 'hs_Character_ID',
       'hs_Character_Major_Cn', 'hs_Character_Major_En',
       'hs_Character_Name_Cn', 'hs_Character_Name_En',
       'hs_Character_Nationality', 'hs_Character_NativePlace_Cn',
       'hs_Character_NativePlace_En', 'hs_Character_Permanent_Cn',
       'hs_Character_Permanent_En', 'hs_Character_Photo',
       'hs_Character_School_Cn', 'hs_Character_School_En',
       'hs_Character_Surname_Cn', 'hs_Character_Surname_En', 'hs_GlobalAndCha',
       'hs_Rank_Global_Age', 'hs_Rank_Global_BirthPlace_Cn',
       'hs_Rank_Global_BirthPlace_En', 'hs_Rank_Global_ChaName_Cn',
       'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_Cha_ID',
       'hs_Rank_Global_ComHeadquarters_Cn',
       'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_ComName_Cn',
       'hs_Rank_Global_ComName_En', 'hs_Rank_Global_Com_ID',
       'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En',
       'hs_Rank_Global_Gender', 'hs_Rank_Global_ID',
       'hs_Rank_Global_Industry_Cn', 'hs_Rank_Global_Industry_En',
       'hs_Rank_Global_ListID', 'hs_Rank_Global_Nationality',
       'hs_Rank_Global_NativePlace_Cn', 'hs_Rank_Global_NativePlace_En',
       'hs_Rank_Global_Permanent_Cn', 'hs_Rank_Global_Permanent_En',
       'hs_Rank_Global_Photo', 'hs_Rank_Global_Relations',
       'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En', 'person',
       'year'
        ]

cols = ['hs_Character_Fullname_En', 'hs_Character_Name_En', 'hs_Character_Surname_En',
        'hs_Character_Age', 'hs_Character_Gender_Lang', 'hs_Character_Birthday',
        'hs_Character_Permanent_En', 'hs_Rank_Global_Industry_En',
       ]

In [131]:
newname = ['full_name', 'first_name', 'last_name', 'age', 'gender', 'birth', 'permanent', 'industry']

rename_dict = dict(zip(cols, newname))

In [127]:
res_19_22.set_index(['person'])[cols]

,hs_Character_Fullname_En,hs_Character_Gender,hs_Character_Age,hs_Character_Permanent_En,hs_Rank_Global_Industry_En
person,,,,,
ma_yun,Ma Yun,先生,58,China-Zhejiang-Hangzhou,E-Commerce;TMT
ma_huateng,Ma Huateng,先生,51,China-Guangdong-Shenzhen,Gaming;Internet Services;Internet services
xu_jiayin,Xu Jiayin,先生,64,China-Guangdong-Guangzhou,"Developer;Real Estate, Investments;Real estate..."
he_xiangjian,He Xiangjian,先生,80,China-Guangdong-Foshan,"Household Appliances;Home appliances, Real Est..."
sun_piaoyang,Sun Piaoyang,先生,64,China-Shanghai,Pharmaceuticals
...,...,...,...,...,...
willis_j_johnson,Willis J Johnson,先生,未知,United States-California,Automobile;Automobile;Distribution
xu_xudong,Xu Xudong,先生,51,China-Zhejiang-Ningbo,Financial Services;Financial Services
xu_xudong_1,Xu Xudong,先生,52,China-Zhejiang-Ningbo,Auto Components;Manufacturing
zhou_jian,Zhou Jian,先生,46,China-Guangdong-Shenzhen,Consumer Goods;Robot
zhou_jian_1,Zhou Jian,先生,46,China-Guangdong-Shenzhen,Equipments

In [133]:
res_19_22 = res_19_22.rename(columns=rename_dict)

In [134]:
col_ordered = newname

for c in res_19_22.columns:
    if c not in newname:
        col_ordered.append(c)

In [135]:
res_19_22 = res_19_22[col_ordered]

In [136]:
res_19_22

,full_name,first_name,last_name,age,gender,birth,permanent,industry,hs_Character_BirthPlace_Cn,hs_Character_BirthPlace_En,...,hs_Rank_Global_NativePlace_Cn,hs_Rank_Global_NativePlace_En,hs_Rank_Global_Permanent_Cn,hs_Rank_Global_Permanent_En,hs_Rank_Global_Photo,hs_Rank_Global_Relations,hs_Rank_Global_School_Cn,hs_Rank_Global_School_En,person,year
0,Ma Yun,Yun,Ma,58,Male,1964-10-15,China-Zhejiang-Hangzhou,E-Commerce;TMT,中国-浙江-杭州,China-Zhejiang-Hangzhou,...,,,,,,家族,,,ma_yun,2022;2021;2020;2019
1,Ma Huateng,Huateng,Ma,51,Male,1971-10-01,China-Guangdong-Shenzhen,Gaming;Internet Services;Internet services,中国-海南,China-Hainan,...,,,,,,未知,,,ma_huateng,2022;2021;2020;2019
2,Xu Jiayin,Jiayin,Xu,64,Male,1958-10-01,China-Guangdong-Guangzhou,"Developer;Real Estate, Investments;Real estate...",中国-河南-周口,China - Henan - Zhoukou,...,,,,,,未知,,,xu_jiayin,2022;2021;2020;2019
3,He Xiangjian,Xiangjian,He,80,Male,1942-01-01,China-Guangdong-Foshan,"Household Appliances;Home appliances, Real Est...",中国-广东-佛山,China-Guangdong-Foshan,...,,,,,,家族;父子,,,he_xiangjian,2022;2021;2020;2019
4,Sun Piaoyang,Piaoyang,Sun,64,Male,1958-04-01,China-Shanghai,Pharmaceuticals,中国-江苏-镇江,China-Jiangsu-Jiang,...,,,,,,未知;夫妇,,,sun_piaoyang,2022;2021;2020;2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,Willis J Johnson,,,未知,Male,1900-01-01,United States-California,Automobile;Automobile;Distribution,,,...,,,,,,未知,,,willis_j_johnson,2022;2021;2020;2019
4396,Xu Xudong,Xudong,Xu,51,Male,1970-01-01,China-Zhejiang-Ningbo,Financial Services;Financial Services,,,...,,,,,,未知,,,xu_xudong,2021;2020;2019
4397,Xu Xudong,Xudong,Xu,52,Male,1970-01-01,China-Zhejiang-Ningbo,Auto Components;Manufacturing,,,...,,,,,,父女,,,xu_xudong_1,2022;2021;2020;2019
4398,Zhou Jian,Jian,Zhou,46,Male,1976-01-01,China-Guangdong-Shenzhen,Consumer Goods;Robot,中国-上海,China-Shanghai,...,,,,,,未知,,,zhou_jian,2022;2021;2020;2019
4399,Zhou Jian,Jian,Zhou,46,Male,1976-01-01,China-Guangdong-Shenzhen,Equipments,中国-上海,China-Shanghai,...,,,,,,未知,,,zhou_jian_1,2022

In [139]:
res_19_22.to_csv('./tmp_hurun_chars.csv')

In [137]:
res_19_22.iloc[0]

full_name                                                                  Ma Yun
first_name                                                                    Yun
last_name                                                                      Ma
age                                                                            58
gender                                                                       Male
birth                                                                  1964-10-15
permanent                                                 China-Zhejiang-Hangzhou
industry                                                           E-Commerce;TMT
hs_Character_BirthPlace_Cn                                               中国-浙江-杭州
hs_Character_BirthPlace_En                                China-Zhejiang-Hangzhou
hs_Character_Education_Cn                                                      本科
hs_Character_Education_En                                           Undergraduate
hs_Character_Fullname_Cn                                                       马云
hs_Character_Gender                                                            先生
hs_Character_ID                                                                 1
hs_Character_Major_Cn                                  Hangzhou Normal University
hs_Character_Major_En                                                        英语专业
hs_Character_Name_Cn                                                            云
hs_Character_Nationality                                                      198
hs_Character_NativePlace_Cn                                              中国-浙江-绍兴
hs_Character_NativePlace_En                               China-Zhejiang-Shaoxing
hs_Character_Permanent_Cn                                                中国-浙江-杭州
hs_Character_Photo                   https://res.hurun.cn/photo/000001_Ma_Yun.jpg
hs_Character_School_Cn                                                     杭州师范学院
hs_Character_School_En                                                     杭州师范学院
hs_Character_Surname_Cn                                                         马
hs_GlobalAndCha
hs_Rank_Global_Age
hs_Rank_Global_BirthPlace_Cn
hs_Rank_Global_BirthPlace_En
hs_Rank_Global_ChaName_Cn                                                      马云
hs_Rank_Global_ChaName_En                                                  Ma Yun
hs_Rank_Global_Cha_ID                                                           1
hs_Rank_Global_ComHeadquarters_Cn                                     中国-杭州;浙江-杭州
hs_Rank_Global_ComHeadquarters_En                China-Hangzhou;Zhejiang-Hangzhou
hs_Rank_Global_ComName_Cn                                                     阿里系
hs_Rank_Global_ComName_En                                                 Alibaba
hs_Rank_Global_Com_ID                                                           0
hs_Rank_Global_Education_Cn
hs_Rank_Global_Education_En
hs_Rank_Global_Gender
hs_Rank_Global_ID                                               8549;5312;2491;23
hs_Rank_Global_Industry_Cn                                         电子商务、金融科技;电子商务
hs_Rank_Global_ListID                                                   46;15;7;2
hs_Rank_Global_Nationality
hs_Rank_Global_NativePlace_Cn
hs_Rank_Global_NativePlace_En
hs_Rank_Global_Permanent_Cn
hs_Rank_Global_Permanent_En
hs_Rank_Global_Photo
hs_Rank_Global_Relations                                                       家族
hs_Rank_Global_School_Cn
hs_Rank_Global_School_En
person                                                                     ma_yun
year                                                          2022;2021;2020;2019
Name: 0, dtype: object

In [147]:
res_19_22.head()

,full_name,first_name,last_name,age,gender,birth,permanent,industry,hs_Character_BirthPlace_Cn,hs_Character_BirthPlace_En,...,hs_Rank_Global_NativePlace_Cn,hs_Rank_Global_NativePlace_En,hs_Rank_Global_Permanent_Cn,hs_Rank_Global_Permanent_En,hs_Rank_Global_Photo,hs_Rank_Global_Relations,hs_Rank_Global_School_Cn,hs_Rank_Global_School_En,person,year
0,Ma Yun,Yun,Ma,58,Male,1964-10-15,China-Zhejiang-Hangzhou,E-Commerce;TMT,中国-浙江-杭州,China-Zhejiang-Hangzhou,...,,,,,,家族,,,ma_yun,2022;2021;2020;2019
1,Ma Huateng,Huateng,Ma,51,Male,1971-10-01,China-Guangdong-Shenzhen,Gaming;Internet Services;Internet services,中国-海南,China-Hainan,...,,,,,,未知,,,ma_huateng,2022;2021;2020;2019
2,Xu Jiayin,Jiayin,Xu,64,Male,1958-10-01,China-Guangdong-Guangzhou,"Developer;Real Estate, Investments;Real estate...",中国-河南-周口,China - Henan - Zhoukou,...,,,,,,未知,,,xu_jiayin,2022;2021;2020;2019
3,He Xiangjian,Xiangjian,He,80,Male,1942-01-01,China-Guangdong-Foshan,"Household Appliances;Home appliances, Real Est...",中国-广东-佛山,China-Guangdong-Foshan,...,,,,,,家族;父子,,,he_xiangjian,2022;2021;2020;2019
4,Sun Piaoyang,Piaoyang,Sun,64,Male,1958-04-01,China-Shanghai,Pharmaceuticals,中国-江苏-镇江,China-Jiangsu-Jiang,...,,,,,,未知;夫妇,,,sun_piaoyang,2022;2021;2020;2019

In [143]:
df18 = hurun_data[2018]

In [148]:
df18.head()

,ID,Ranking,NameEn,Wealth,Birthday,CNameEn,IndustryEn,year
0,13849,1,Jeff Bezos,123.0,1964,Amazon,Online Retail,2018
1,13850,2,Warren Buffett,102.0,1931,Berkshire Hathaway,Investments,2018
2,13851,3,Bill Gates,90.0,1956,Microsoft,Investments,2018
3,13852,4,Mark Zuckerberg,79.0,1985,Facebook,Technology,2018
4,13853,5,Bernard Arnault,78.0,1950,LVMH,Single Brand Retailing,2018

In [149]:
not_exist = list()

for n in df18['NameEn'].values:
    if n not in res_19_22['full_name'].values:
        not_exist.append(n)

In [150]:
len(not_exist)

931

In [40]:
from ddf_utils.str import to_concept_id

In [41]:
res_df1['person'] = res_df1.index.map(to_concept_id)

In [43]:
np.any(res_df1['person'].duplicated())

True

In [46]:
res_df1[res_df1['person'].duplicated(keep=False)].sort_index()

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,hs_Character_Surname_En,...,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,person
hs_Character_Fullname_En,,,,,,,,,,,,,,,,,,,,,
Alan G Hassenfeld,先生,1949-01-01,73,Male,6309,Alan G Hassenfeld,Alan G Hassenfeld,,,,...,6309,Hasbro Toys,Hasbro,美国-波塔基特,USA-Pawtucket,玩具,Toys,0,,alan_g_hassenfeld
Alan G. Hassenfeld,先生,1948-11-16,72,Male,3716,艾伦·哈森菲尔德,Alan G. Hassenfeld,,,,...,3716,Hasbro Toys,Hasbro Toys,,,Entertainment,Entertainment,0,,alan_g_hassenfeld
Alice N Schwartz,女士,1927-01-01,95,Female,6215,Alice N Schwartz,Alice N Schwartz,,,,...,6215,Bio-Rad Laboratories,Bio-Rad Laboratories,美国-El Cerrito,USA-El Cerrito,制药,Pharmaceuticals,0,,alice_n_schwartz
Alice N. Schwartz,女士,1900-01-01,未知,Female,3796,爱丽丝·施瓦兹,Alice N. Schwartz,,,,...,3796,Bio-Rad Laboratories,Bio-Rad Laboratories,,,Pharmaceuticals,Pharmaceuticals,0,,alice_n_schwartz
Ana Maria Marcondes Penido Sant'Anna,女士,1958-01-01,62,Female,5039,Ana Maria Marcondes Penido Sant'Anna,Ana Maria Marcondes Penido Sant'Anna,,,,...,5039,CCR Group,CCR Group,,,Construction,Construction,0,,ana_maria_marcondes_penido_sant_anna
Ana Maria Marcondes Penido Sant’Anna,女士,1900-01-01,未知,Female,3632,安娜·玛丽亚·马孔德斯佩尼多·圣安娜,Ana Maria Marcondes Penido Sant’Anna,,,,...,3632,CCR Group,CCR Group,,,Construction,Construction,0,,ana_maria_marcondes_penido_sant_anna
Andrew W Houston,先生,1984-01-01,38,Male,4988,Andrew W. Houston,Andrew W Houston,,,,...,4988,Dropbox,Dropbox,美国-旧金山,USA-San Francisco,云解决方案;Technology,Cloud Solutions;Technology,0,,andrew_w_houston
Andrew W. Houston,先生,1983-03-04,36,Male,2712,安德鲁·豪斯顿,Andrew W. Houston,,,,...,2712,Dropbox,Dropbox,,,Technology,Technology,0,,andrew_w_houston
Chase Coleman III,先生,1900-01-01,未知,Male,2899,蔡斯·科尔曼三世,Chase Coleman III,,,,...,2899,Tiger Global Management,Tiger Global Management,,,Hedge Funds,Hedge Funds,0,,chase_coleman_iii
"Chase Coleman, III",先生,1976-01-01,46,Male,4886,"Chase Coleman, III","Chase Coleman, III",,,,...,4886,Tiger Global Management,Tiger Global Management,美国-纽约,USA-New York,资产管理;Hedge Funds,Investment Management;Asset Management;Hedge F...,0,,chase_coleman_iii
Craig C Culver,先生,1951-01-01,71,Male,4980,Craig C. Culver,Craig C Culver,,,,...,4980,Culver Franchising System,Culver's ;Culvers,美国-普雷里德萨克,USA-Prairie du Sac,食品和饮料;Food Chain,Food & Beverages,0,,craig_c_culver
Craig C. Culver,先生,1900-01-01,未知,Male,3407,克雷格·C·卡尔弗,Craig C. Culver,,,,...,3407,Culver Franchising System,Culvers,,,Food Chain,Food & Beverages,0,,craig_c_culver
Daniel D'Aniello,先生,1947-01-01,75,Male,4907,Daniel D'Aniello,Daniel D'Aniello,,,,...,4907,Carlyle,Carlyle,美国-维也纳,USA-Vienna,资产管理;Investments,Investment Management;Asset Management;Investm...,0,,daniel_d_aniello
Daniel D’Aniello,先生,1946-09-14,73,Male,3049,丹尼尔·达尼洛,Daniel D’Aniello,,,,...,3049,Carlyle,Carlyle,,,Investments,Investments,0,,daniel_d_aniello
Denis O'Brien,先生,1959-01-01,63,Male,4923,Denis O'Brien,Denis O'Brien,,,,...,4923,Digicel,Digicel,爱尔兰-都柏林,Ireland-Dublin,电信;Telecom,Telecom;Telecommunications;Telecommunication,0,,denis_o_brien
Denis O’Brien,先生,1958-04-19,61,Male,2607,丹尼斯·奥布莱恩,Denis O’Brien,,,,...,2607,Digicel,Digicel,,,Telecom,Telecommunication,0,,denis_o_brien
Frank Fertitta III,先生,1963-01-01,59,Male,4930,"Frank Fertitta, III",Frank Fertitta III,,,,...,4930,ZUFFA,Zuffa;ZUFFA,美国-拉斯维加斯,USA-Las Vegas,娱乐;Entertainment,Entertainment;Sports,0,,frank_fertitta_iii
"Frank Fertitta, III",先生,1900-01-01,未知,Male,2901,弗兰克·费蒂塔三世,"Frank Fertitta, III",,,,...,2901,ZUFFA,ZUFFA,,,Entertainment,Sports,0,,frank_fertitta_iii
Hilton H Schlosberg,先生,1953-01-01,69,Male,4917,Hilton H. Schlosberg,Hilton H Schlosberg,,,,...,4917,Monster Beverage Co.,Monster Beverage,美国-欧文,USA-Irvine,功能饮料;Beverages,Energy Drink;Beverages,0,,hilton_h_schlosberg
Hilton H. Schlosberg,先生,1900-01-01,未知,Male,3491,希尔顿希尔斯伯格,Hilton H. Schlosberg,,,,...,3491,Monster Beverage Co.,Monster Beverage,,,Beverages,Beverages,0,,hilton_h_schlosberg
Jacques D'Amours,先生,1957-01-01,65,Male,4991,Jacques D'Amours,Jacques D'Amours,,,,...,4991,Alimentation Couche-Tard,Alimentation Couche Tard;Alimentation Couche-Tard,加拿大-蒙特利尔,Canada-Montreal,多品牌零售;Retail,Retail;Multi-Brand Retail,0,,jacques_d_amours
Jacques D’Amours,先生,1900-01-01,未知,Male,3298,雅克·德慕,Jacques D’Amours,,,,...,3298,Alimentation Couche-Tard,Alimentation Couche-Tard,,,Retail,Retail,0,,jacques_d_amours
Jean Claude Marian,先生,1900-01-01,未知,Male,4032,让·克劳德·玛丽安,Jean Claude Marian,,,,...,4032,Orpea,Orpea,,,Healthcare/nursing,Healthcare,0,,jean_claude_marian
Jean-Claude Marian,先生,1900-01-01,未知,Male,6344,Jean-Claude Marian,Jean-Claude Marian,,,,...,6344,Orpea,Orpea,法国-皮托,France-Puteaux,医疗健康,Healthcare,0,,jean_claude_marian
Lip Keong Chen,先生,1949-01-01,71,Male,4865,陈立强,Lip Keong Chen,,,,...,4865,NagaCorp,NagaCorp,,,"Gaming, Casino","Gaming, Casino",0,,lip_keong_chen
Lip Keong Chen,先生,1900-01-01,未知,Male,2664,陈立强,Lip Keong Chen,,,,...,2664,NagaCorp,NagaCorp,马来西亚-吉隆坡,Cambodia-Phnom Penh,"赌场;Gaming, Casino","Gaming;Casino;Gaming, Casino",0,,lip_keong_chen
Michael H McCain,先生,1959-01-01,63,Male,5188,Michael H. McCain,Michael H McCain,,,,...,5188,Maple leaf Foods,Maple Leaf Foods;Maple leaf Foods,加拿大-弗洛伦斯维尔,Canada-Florenceville,肉制品;Food & Beverages,Food Processing;Meat Products;Food & Beverages,0,,michael_h_mccain
Michael H. McCain,先生,1900-01-01,未知,Male,3841,迈克尔·麦凯恩,Michael H. McCain,,,,...,3841,Maple leaf Foods,Maple leaf Foods,,,Food & Beverages,Food & Beverages,0,,michael_h_mccain
Ramon S Ang,先生,1954-01-01,68,Male,4914,Ramon S. Ang,Ramon S Ang,,,,...,4914,San Miguel,San Miguel,菲律宾-马尼拉,Philippines-Manila,酒类饮品;Food & Beverages,Alcohol;Alcoholic Beverages;Food & Beverages,0,,ramon_s_ang
Ramon S. Ang,先生,1954-01-04,65,Male,3321,雷蒙·S·昂,Ramon S. Ang,,,,...,3321,San Miguel,San Miguel,,,Food & Beverages,Food & Beverages,0,,ramon_s_ang
Salman Al-Hokair,先生,1967-01-01,54,Male,5112,Salman Al-Hokair,Salman Al-Hokair,,,,...,5112,Fawaz Abdulaziz AlHokair,Fawaz Abdulaziz AlHokair,,,多品牌零售;Retail,Multi-Brand Retail;Retail,0,,salman_al_hokair
Salman Al-Hokair,先生,1900-01-01,未知,Male,4071,萨尔曼·霍卡尔,Salman Al-Hokair,,,,...,4071,Fawaz Abdulaziz AlHokair,Fawaz Abdulaziz AlHokair,,,Retail,Retail,0,,salman_al_hokair
William R Berkley Jr,先生,1978-01-01,44,Male,6201,William R Berkley Jr,William R Berkley Jr,,,,...,6201,WR Berkley Corp,WR Berkley,美国-格林尼治,USA-Greenwich,保险,Insurance,0,,william_r_berkley_jr
William R. Berkley Jr,先生,1900-01-01,未知,Male,3337,小威廉·伯克利,William R. Berkley Jr,,,,...,3337,WR Berkley Corp,WR Berkley,,,Insurance (property & casualty),Insurance,0,,william_r_berkley_jr
William Wrigley Jr,先生,1964-01-01,58,Male,4922,"William Wrigley, Jr",William Wrigley Jr,,,,...,4922,Wrigley Management,Wrigley Management,美国-棕榈滩,USA-Palm Beach,巧克力与甜食;Food & Beverages,Confectionery;Chocolates & Confectionery;Food ...,0,,william_wrigley_jr
"William Wrigley, Jr",先生,1963-10-06,56,Male,2958,小威廉·瑞格利,"William Wrigley, Jr",,,,...,2958,Wrigley Management,Wrigley Management,,,Food & Beverages,Food & Beverages,0,,william_wrigley_jr

In [49]:
df[df['hs_Character_Fullname_En'] == 'Alan G Hassenfeld']

,hs_Character_Gender,hs_Character_Birthday,hs_Character_Age,hs_Character_MTime,hs_Character_Gender_Lang,hs_Character_ID,hs_Character_Fullname_Cn,hs_Character_Fullname_En,hs_Character_Surname_Cn,hs_Character_Name_Cn,...,hs_Rank_Global_Cha_ID,hs_Rank_Global_ComName_Cn,hs_Rank_Global_ComName_En,hs_Rank_Global_ComHeadquarters_Cn,hs_Rank_Global_ComHeadquarters_En,hs_Rank_Global_Industry_Cn,hs_Rank_Global_Industry_En,hs_Rank_Global_Com_ID,hs_GlobalAndCha,year
2701,先生,1949-01-01,73,2021-03-02 12:00:00,Male,6309,Alan G Hassenfeld,Alan G Hassenfeld,NaN,NaN,...,6309,Hasbro Toys,Hasbro,美国-波塔基特,USA-Pawtucket,玩具,Toys,0,NaN,2022
6247,先生,1949-01-01,72,2021-03-02 12:00:00,Male,6309,Alan G Hassenfeld,Alan G Hassenfeld,NaN,NaN,...,6309,Hasbro Toys,Hasbro,NaN,NaN,玩具,Toys,0,NaN,2021

In [68]:
df9[df9['hs_Character_Fullname_En'].str.contains('Bill Gates')]['hs_Character_Permanent_En']

1    United States-Washington State-Medina
Name: hs_Character_Permanent_En, dtype: object

In [85]:
def search_name(name_input):
    if 'family' in name_input:
        name = name_input.replace('family', '').strip()
    else:
        name = name_input
    if '&' in name:
        name = name.split('&')[0].strip()
    result = df9[df9['hs_Character_Fullname_En'] == name]['hs_Character_Permanent_En']
    if len(result) > 1:
        print("multiple match: ", name_input)
        return result
    if len(result) == 0:
        print("no match found: ", name_input)
        return result
        
    return result.iloc[0]

In [86]:
matches = [search_name(x) for x in df7['NameEn'].values]

no match found:  Liliane Bettencourt
no match found:  Ingvar Kamprad & family
no match found:  Jack Ma Yun & family
no match found:  James & Arthur Irving
no match found:  Pony Ma
no match found:  Paul Allen
no match found:  Khalifa bin Zayed Al Nahyan & family
no match found:  Serge Dassault & family
no match found:  Henry Cheng & family
no match found:  Joseph Lau
no match found:  Pallonji Mistry
no match found:  Charlene Carvalho
no match found:  Samuel Newhouse Jr
no match found:  Klaus-Michael Kuhne
no match found:  Peter Woo & Pao Pui Yung
no match found:  Henry Sy & family
no match found:  Lucas Walton
no match found:  Lorenzo Mendoza
no match found:  Mohammed bin Rashid Al Maktoum
no match found:  August von Finck
no match found:  Lu Guanqiu & family
no match found:  Joseph Tsai Chung-Hsin
no match found:  Eka Tjipta Widjaja & family
no match found:  Lin Yu-Lin & family
no match found:  Barry Sherman
no match found:  Leise Maersk McKinney Moller & family
no match found:  Pauline MacMillan Keinath
no match found:  Whitney MacMillan
no match found:  Terry Guo Tai-Ming
no match found:  Michael & Marian Ilitch & family
no match found:  Elisio Alexandre Soares dos Santos & family
no match found:  Yuan Yafei
no match found:  Adam Kwok & family
no match found:  Jia Yueting
no match found:  Antonia Ax:son Johnson & family
no match found:  Merlin Swire & family
no match found:  Americo Amorim
no match found:  Philip & Tina Green
no match found:  Denis O'Brien
no match found:  Karl-Heinz Kipp
no match found:  Pansy Ho
no match found:  Pollyanna Chu
no match found:  Yuri Milner
multiple match:  Jim Davis & family
no match found:  Desh Bandhu Gupta
no match found:  Frederik Paulson
no match found:  Kirk Kristiansen
no match found:  Richard LeFrak & family
no match found:  Gianfelice Mario Rocca
no match found:  Leandro Rizzuto
no match found:  Paolo Mario Rocca
no match found:  Richard DeVos
no match found:  Tom & Judy Love
no match found:  John  L Morris
no match found:  Savitri Jindal & family
no match found:  Katsuhito Yamauchi
no match found:  Sergei Popov
no match found:  Zhou Xiaoguang & Yu Yunxin
no match found:  Alexandre Ricard & family
no match found:  Andy von Bechtolsheim
no match found:  Stewart & Lynda Resnick
no match found:  Keichiro Takahara & family
no match found:  Jeremy Jacobs, Sr
no match found:  Tsai Hong-Tu Brothers & family
no match found:  Xiao Wen'ge
no match found:  Henry Ross Perot Sr
no match found:  Indu Jain
no match found:  Andrei Guriev
no match found:  Filaret Galchev
no match found:  Samwer Brothers
no match found:  Sumiko Nagamori
no match found:  Yang Kai
no match found:  Daisy Igel & family
no match found:  David Consunji
no match found:  Phorntep Phornprapha
no match found:  Roger Wang Hung
no match found:  Walter Kwok & family
no match found:  Wang Guangxi & Guo Tianshu
no match found:  Chamnong Bhirombhakdi & family
no match found:  Ursula Engelhorn
no match found:  Fred & Ron Mannix
no match found:  George Lindemann Sr
no match found:  Hans-Adam von & zu Liechtenstein
no match found:  Jin Sook & Do Won Chang
no match found:  Lin Wenjing
no match found:  Siegfried Meister
no match found:  Silas Chou
no match found:  Francis Choi Chee Ming
multiple match:  Zhang Jin
no match found:  Andrew taylor
no match found:  Jo Ann Taylor
no match found:  Ashwin Dani
no match found:  Bennett Dorrance
no match found:  Edward DeBartolo Jr
no match found:  Michael Ying
no match found:  Albert Frere
no match found:  Barry Lin Bai-Li
no match found:  Denise York
no match found:  Dorothea Steinbruch & family
no match found:  George Ty & family
no match found:  Jason Chang C.S. & family
no match found:  Luca Rovati & family
no match found:  Marc Ladreit de Lacharriere
no match found:  Michael Platt
no match found:  William P. Lauder
multiple match:  Li Li & Li Tan
no match found:  Peter Peterson
no match found:  Rafael del Pino Calvo-Sotelo
no match found:  Vichai Srivaddhanaprabha
no match found:  Wang Wenbiao
no match found:  Erich Kellerhals
no match found:  Francesco Aquilini
no match found:  John Paul DeJoria
no match found:  Robert McNair
no match found:  Robert Wood Johnson IV
no match found:  Vijay Chauhan & family
no match found:  Bruce Halle
no match found:  Clemmie Spangler Jr
no match found:  Denise DeBartolo York
no match found:  Joan Tisch
no match found:  Kushal Pal Singh
no match found:  Sarik Tara
no match found:  Shah Karim Al Hussaini
no match found:  Vivek Chaand Sehgal
no match found:  Xie Shihuang
no match found:  Adam Neuman
no match found:  Guo Wengui & family
no match found:  Lawrence Ho
no match found:  Roberto Bonatti
no match found:  Alwin Lehner & family
no match found:  Daniel Jaeggi
no match found:  Fernando Augusto Zobel
no match found:  Jamie Augusto Zobel
no match found:  Juan Coneo Solari & family
no match found:  Marco Dunand
no match found:  Michael Wu & family
no match found:  Samuel Yin Yan-Liang
no match found:  Sit Kwong Lam
no match found:  Tsai Chen-Yu
no match found:  Wu Gang
no match found:  Andre Hoffman
no match found:  Antonio Dell Valle Ruiz
no match found:  Jerrold Perenchio
no match found:  Liu Yuhua & Zhao Yan
no match found:  Maja Hoffman
no match found:  Paul Demarais & family
no match found:  Tom Benson
no match found:  Vera Michalski Hoffman
no match found:  Aloysio de Andrade Faria
no match found:  Ashwin Choksi
no match found:  Dulce Pugliese de Godoy Bueno
no match found:  Edson de Godoy Bueno & family
no match found:  Erivan Haub & family
no match found:  Hasmukh Chudgar & family
no match found:  Jing Baifu
no match found:  Johan Johannson
no match found:  Smitha V Crishna
no match found:  Su Weizhong
no match found:  Vyacheslav Kantor
no match found:  Alexander Spanos & family
no match found:  Craig McCaw
no match found:  Jacques Saade & family
no match found:  Lin Tianfu
no match found:  Carlo Benetton
no match found:  Chase Coleman, III
no match found:  Chen Yung-Tai
no match found:  Daniel D'Aniello
no match found:  Danil Khachaturov
no match found:  Gilberto Benetton
no match found:  Irene Lee & family
no match found:  Li Yong
no match found:  Pearse Lyons
no match found:  Scott Farquhar
no match found:  Shuai Fangwen & Cao Zaiyun
no match found:  Wang Chaoyong & Li Yifei
no match found:  Yeoh Tiong Lay & family
no match found:  Duncan MacMillan
no match found:  Fu Mingkang & family
no match found:  H Wayne Huizenga
no match found:  Ma Hong & Huang Xiaoxuan
no match found:  Ni Zhaoxing & family
no match found:  Que Wenbin
no match found:  Stephen Hilbert
no match found:  Barry Charles Diller
no match found:  Ding Shizhong
no match found:  Huang Xiaojie
no match found:  Leitner Wolfgang
no match found:  Liao Long-Shing
no match found:  Lin Shu-Hung
no match found:  Liu Baolin
no match found:  Mannalal B Agarwal & family
no match found:  Manoj Bhargava
no match found:  Michael & Rainer Schmidt-Ruthenbeck
no match found:  Mukund Rungta
no match found:  Shao Zhongyi
no match found:  Yang Shuping & family
no match found:  Ali Wakrim & family
no match found:  August Oetker Jr
no match found:  Aziz Akhannouch & family
no match found:  Donald Hall
no match found:  Eduardo Belmont
no match found:  He Simo
no match found:  Hedda Brahm Droege
no match found:  Hiroko Takei & family
no match found:  Hsu Cheng & family
no match found:  Jurgen Bickle
no match found:  Kim Bum-Soo
multiple match:  Kommer Damen
no match found:  Lee Hwa Kyung & family
no match found:  Mahdi al-Tajir
no match found:  Mikhail Balakin
no match found:  Tseng Shin- Yi
no match found:  Wu Daohong
no match found:  Bo Shijiu & Li Guiping
no match found:  Cao Dewang
no match found:  Chin Jong-Hwa
no match found:  Cui Lijie
no match found:  Dai Weili
no match found:  David & Vicky Teoh
no match found:  Farhad Akhmedov
no match found:  Frank McCourt
no match found:  Henry Hillman
no match found:  Huo Qinghua & family
no match found:  Kunio Busujima
no match found:  Lin Ming-Hsiung
no match found:  Mikhail Gutseriev
no match found:  Peter Alfond
no match found:  Stanley Perron
no match found:  Wang Wenliang
no match found:  Zhou Liangzhang & family
no match found:  Alexei Ananyev
no match found:  Alicia & Tannetta Fentener van Vlissingen
no match found:  Charles Dunstone
no match found:  Dato Sri Tahir
no match found:  Dimitry Ananyev
no match found:  Fred Chang
no match found:  Huang Zhuangmian
no match found:  James Richardson
no match found:  Louis Le Duff
no match found:  Mallika Srinivasan
no match found:  Nandlal Rungta
no match found:  Per & Winnie Enevoldsen
no match found:  Sol & Eddie Zakay
no match found:  Sun Hongbing
no match found:  Sun Shangchuan & Liu Wei
no match found:  Wilbur Ross Jr
no match found:  Yao Xinyi
no match found:  Zhang Wanzheng
no match found:  Zhong Yu
no match found:  Zhuang Min
no match found:  Ana Maria Marcondes Penido Sant'Anna
no match found:  Chen Qixing
no match found:  David Rockefeller Sr
no match found:  He Yamin & family
no match found:  Herbert Allen, Jr & family
no match found:  Ihor Kolomoyskyy
no match found:  J.K. Rowling
no match found:  Koos van Oord & family
no match found:  Maxim Nogotkov
no match found:  Neal Patterson
no match found:  Randal Kirk
no match found:  Regina de Camargo Pires Oliveira Dias
no match found:  Renata de Camargo Nascimento
no match found:  Robert Coyuito jr
no match found:  Rosana Camargo de Arruda Botelho
no match found:  Slavica Ecclestone
no match found:  Susanne Zimmermann von Siefart
no match found:  Tom Persson
no match found:  Wim van der Leegte
no match found:  Zhou Weijian & Wang Manli
no match found:  Andrew Buckeridge
no match found:  Angela leong on-ki
no match found:  Barbara Agnes Ferrari Bengolea & Amalia Amoedo
no match found:  Cai Wensheng & family
no match found:  Chau Cheok Wa
no match found:  Deng Wei
no match found:  Drayton McLane
no match found:  Huang Wenji
no match found:  Jim McColl
no match found:  John Kapoor
no match found:  Jose & Francisco Jose Calderon Rojas
no match found:  Kang Qiao
no match found:  Lin Ming-Cheng
no match found:  Liu Xiaodong
no match found:  Lu Zhaoxi
no match found:  Marie-Jeanne Meyer
no match found:  Mehmet Sinan Tara
no match found:  Monique Roosmale Nepveu
no match found:  Nobutada Saji
no match found:  NR Narayana Murthy
no match found:  Peng Lei
no match found:  Peter Nygard
no match found:  Qi Jinxing & Qi Jiaqi
no match found:  Red McCombs
no match found:  Rodolphe Marchais
no match found:  Sam Buckeridge
no match found:  Sergio Lins Andrade & family
no match found:  Suhon LIn
no match found:  Thomas Lau
no match found:  Tu Guoshen
no match found:  Vincent Lo
no match found:  Wei Ing-Chou
no match found:  William Fung
no match found:  William Macaulay
no match found:  Wu Qiang
no match found:  Xu Jiangang & Xu Feijun
no match found:  Xu Xiong
no match found:  Xu Ziquan & Kang Ning
no match found:  Yao Xinquan
no match found:  Zhou Liwu & Han Xiaofang
no match found:  Zhu Yicai & Wu Xueqin
no match found:  Carol Jenkins Barnett
no match found:  Carolus Nolet & family
no match found:  Charles Munger
no match found:  Chung Mong Jin
no match found:  Fayez Sarofim
no match found:  Gregorio Perez Companc
no match found:  Guo Donglin
no match found:  Hary Tanoesoedibjo
no match found:  Huang Bingwen & family
no match found:  Jithendra Virwani
no match found:  Johanathan Gray
no match found:  John de Mol
no match found:  Keeree Kanjanapa
no match found:  Kerr Neilson & family
no match found:  Lens Ainsworth
no match found:  Lev Kvetnoi
no match found:  Li Jun
no match found:  Liu Bing
no match found:  Liu Jianmin & Wang Aiqin
no match found:  Marc Coucke
no match found:  Maria de Lourdes Egydio Villela
no match found:  Miguel McKelvey
no match found:  Rajesh Mehta
no match found:  Robert Citrone
no match found:  Ryoichi Jinnai
no match found:  Salman & Ahmed Rahman
no match found:  Silvio Santos
no match found:  Stephen Saad
no match found:  Takashi Tada
no match found:  Wei Ying-chiao
no match found:  Wei Yin-heng
no match found:  Xiao Chunhong
no match found:  Zadik Bino
no match found:  Zhang Zhirong & family
no match found:  Zhou Furen
no match found:  Zhu Jiman & Bai Lihui
no match found:  Allan Gray
no match found:  Anders & Soren Westermann
no match found:  Anne Gittinger
no match found:  Belmiro de Azevedo
no match found:  Boonchai Bencharongkul
no match found:  Bruno Steinhoff
no match found:  Cargill MacMillan, III.
no match found:  Charlotte Colket Weber
no match found:  Cho Yang Rai
no match found:  Danny Tan Chee Sing
no match found:  Edward Stack
no match found:  Eric Sprott
no match found:  Feng Huanpei & Fan Zhaoxia
no match found:  Fu MeiCheng
no match found:  Haim Saban
no match found:  Han Tao
no match found:  Henadiy Boholyubov
no match found:  Hui Sai Fun
no match found:  J. Tomilson Hill
no match found:  James Wu & family
no match found:  Jerry Reinsdorf
no match found:  John MacMillan
no match found:  Jonathan Harmsworth & family
no match found:  Jose Llado Fernandez Urrutia
no match found:  Jose Mendes Nogueira & family
no match found:  Kazuo Inamori & family
no match found:  Konstantin Grigorishin
no match found:  Lan Huasheng
no match found:  Laurent Burelle
no match found:  Leopoldo del Pino y Calvo Sotelo
no match found:  Li Denghai
no match found:  Liu Jianjun
no match found:  Liu Ruopeng
no match found:  Liu Zhengguo
no match found:  Martha MacMillan
no match found:  Nirav Modi
no match found:  Peter Sondakh
no match found:  Pierre Papillaud
no match found:  Ramesh Genomal & family
no match found:  Ranjith & Beljinder Boparan
no match found:  Sanjay S Lalbhai
no match found:  Sudhir Ruparelia
no match found:  Suzan Sabanci Dincer
no match found:  Syed Mokhtar AlBukhary

no match found:  Valerie & family
no match found:  Wang Chunsheng & Lyu Li
no match found:  Wang Xuexin
no match found:  Wang Zhongjun
no match found:  Wei Yin-chun
no match found:  William MacMillan
no match found:  Wilma Tisch
no match found:  Xiao Fen
no match found:  Xiao Keng & family
no match found:  Yoshikazu Tanaka
no match found:  Zhang Xinghai & Yan Min
no match found:  Zheng Jianjiang & He Yiju
no match found:  Ahsen Ozokur
no match found:  Archbold D. van Beuren & family
no match found:  Ayman Asfari
no match found:  Benedicta Chamberlain & family
no match found:  Benjamin de Rothschild & family
no match found:  Bruce Cheng Chung-Hua
no match found:  Cai Xiaoru
no match found:  Cao Kejian
no match found:  Chatri Sophonpanich
no match found:  Chen Baozhen
no match found:  Chen Dakui & family
no match found:  Chen Jiangtao
no match found:  Chen Tei-Fu
no match found:  Cheng Xianfeng
no match found:  Cho Chang-Gul
no match found:  Ding Xinxin & Zhang Xingjuan
no match found:  Ding Yuhua
no match found:  Gao Jisheng & Gao Jinna
no match found:  Gao Yugen
no match found:  Gary Burrel
no match found:  GV Prasad
no match found:  Han Xu  & Zhang Renhua
no match found:  Hua Yong
no match found:  Huang Nubo
no match found:  Imogene Powers Johnson
no match found:  Johnson Ko
no match found:  Jon Ramon Aboitiz & family
no match found:  Koo Bon Moo
no match found:  Kris Gopalakrishnan
no match found:  Lim Chap Huat
no match found:  Lin Qi
no match found:  Lin Rongxin
no match found:  Liu Fuhai
no match found:  Lu Chuping & Peng Hui
no match found:  Luca Garavoglia,
no match found:  Maddalena Garavoglia
no match found:  Mofatraj Munot
no match found:  Mohammed Al Issa & family
no match found:  Niklas Herlin
no match found:  Pawan Kant Munjal
no match found:  Peng Xing
no match found:  Sanford Diller
no match found:  Sevket Sabanci
no match found:  Shi Yonglei&family
no match found:  Suman Kant Munjal
no match found:  Sunil Kant Munjal
no match found:  Thomas Kaplan
no match found:  Vladimir Bogdanov
no match found:  Wang Chou-Hsiong
no match found:  Wang Haipeng
no match found:  Wang Yonghong
no match found:  Wang Zhentao & Wang Chen
no match found:  William Ackman
no match found:  Xu Pengming
no match found:  Zhang Anqiang
no match found:  Zhao Xiaoqiang
no match found:  Zhou Chuanyou
no match found:  Zhou Mingjie & Xu Su
no match found:  Achal Anil Bakeri & family
no match found:  Ai Lihua & family
no match found:  Alexander Lebedev
no match found:  Ana Lucia de Mattos Barretto Villela
no match found:  Analjit Singh
no match found:  Andreas E.Rihs & family
no match found:  Antonio Luiz Seabra
no match found:  Ao Xiaoqiang
no match found:  Azad Moopen
no match found:  Ceasar Beltrao De Almeida & family
no match found:  Chen Yansheng & Chen Dongqiong
no match found:  Chizuko & Michio Matsui
no match found:  Cui Weixing
no match found:  Dinesh Nandwana
no match found:  Dona Bertarelli
no match found:  Donald R Sobey
no match found:  Douglas Hsu Hsu-Tung
no match found:  Francisco Deusmar de Queiros
no match found:  Howard  Jenkins
no match found:  Howard Marks
no match found:  Huang Hongsheng & Lin Weiping
no match found:  Jeffrey Katzenberg
no match found:  Jiang Xipei
no match found:  Jon Huntsman & family
no match found:  Joop van den Ende
no match found:  Joy Alukkas
no match found:  K Satish Reddy
no match found:  Kang Jingwei
no match found:  Kim Nam-Jung
no match found:  Kirill Shamalov
no match found:  Koh Wee Meng
no match found:  Lachman Das Mittal
no match found:  Lee Hae-Jin
no match found:  Li Binlan
no match found:  Li Fuchen & family
no match found:  Li Weiwei
no match found:  Liu Shaobai & Huang Xiaofen
no match found:  Liu Zaiwang & Fu Haixia
no match found:  Lu Feng
no match found:  Lu Yonghua & Mao Caihong
no match found:  Massimo Moratty
no match found:  Paul Foster
no match found:  Rajeev Juneja
no match found:  Ramesh Juneja
no match found:  Rana Kapoor
no match found:  Robert Tsao Hsing-Cheng
no match found:  Ru Jiyong & family
no match found:  Sergei Kislov
no match found:  Shen Huayuan
no match found:  Soichiro Fukutake
no match found:  Su Yen-Hui & family
no match found:  Summerfield Johnston Jr
no match found:  Takao Yasuda
no match found:  Tang Jian & Liu Cuiying
no match found:  TS Kalyanaraman
no match found:  Victor Fung & family
no match found:  Vidya Chhabria & family
no match found:  Vito Rodriguez Rodriguez
no match found:  Vivian Que Azcona & family
no match found:  Wan Lianbu & family
no match found:  Wang Mingxiang & Zhou Yifeng
no match found:  Wu Chung-Yi
no match found:  Yang Xuegang & Lu Xiaomei
no match found:  Yu Peidi & Yu Li
no match found:  Zang Jianjun
no match found:  Zhang Desheng
no match found:  Zuo Hongbo & Zhe Shuxia

In [92]:
df9[df9['hs_Character_Fullname_En'].str.contains('Andre')][['hs_Character_Fullname_En', 'hs_Character_Permanent_En']]

      hs_Character_Fullname_En             hs_Character_Permanent_En
114         Andrey Melnichenko                         Russia-Moscow
181                Andrew Beal            United States-Texas-Dallas
428                     Andrew  United States-California-Los Angeles
463               Andrei Skoch                         Russia-Moscow
502         Andreas Strungmann                     Germany-Tegernsee
532             Andrew Forrest                       Australia-Perth
580              Andrei Guryev                         Russia-Moscow
664              Andrew Currie                     Switzerland-Rolle
665          Andrew W. Houston           United States-San Francisco
721            Andrei Kozitsyn              Russia-Verkhniaya Pyshma
830      Andreas Santo Domingo       United States-New York-New York
885               Andrej Babis                 Czech Republic-Prague
906          Andreas Halvorsen      United States-Connecticut-Darien
1007            Andre Hoffmann                     Switzerland-Basel
1100              Andreas Oeri                     Switzerland-Basel
1101             Andrew Taylor       United States-Missouri-St louis
1349             Andre Esteves                 United Kingdom-London
1409            Andrei Bokarev                         Russia-Moscow
1571        Alexandra Andresen                           Norway-Oslo
1572                Andrew Tan                    Philippines-Quezon
1605        Katherina Andresen                 Netherlands-Amsterdam
1901            Andrei Kosogov                         Russia-Moscow
2268  Andrea Reimann-Ciardelli   United States-New Hampshire-Hanover
2441        Andrea Della Valle            Italy-Marche-Casette D’ete

In [87]:
forbes_person[forbes_person['name'] == 'Liliane Bettencourt']

,person,name,age,gender,country,source,industry
2009,liliane_bettencourt,Liliane Bettencourt,99.0,F,France,L'Oreal,Pharmaceuticals; Manufacturing; Consumer Produ...

In [5]:
data = pd.read_csv('../source/hurun_2022.csv')

In [6]:
data.columns

Index(['hs_Character_Gender', 'hs_Character_Birthday', 'hs_Character_Age',
       'hs_Character_MTime', 'hs_Character_Gender_Lang', 'hs_Character_ID',
       'hs_Character_Fullname_Cn', 'hs_Character_Fullname_En',
       'hs_Character_Surname_Cn', 'hs_Character_Name_Cn',
       'hs_Character_Surname_En', 'hs_Character_Name_En', 'hs_Character_Photo',
       'hs_Character_Nationality', 'hs_Character_NativePlace_Cn',
       'hs_Character_NativePlace_En', 'hs_Character_BirthPlace_Cn',
       'hs_Character_BirthPlace_En', 'hs_Character_Permanent_Cn',
       'hs_Character_Permanent_En', 'hs_Character_Education_Cn',
       'hs_Character_Education_En', 'hs_Character_School_Cn',
       'hs_Character_School_En', 'hs_Character_Major_Cn',
       'hs_Character_Major_En', 'hs_Rank_Global_Nationality',
       'hs_Rank_Global_NativePlace_Cn', 'hs_Rank_Global_NativePlace_En',
       'hs_Rank_Global_BirthPlace_Cn', 'hs_Rank_Global_BirthPlace_En',
       'hs_Rank_Global_Permanent_Cn', 'hs_Rank_Global_Permanent_En',
       'hs_Rank_Global_Photo', 'hs_Rank_Global_Age', 'hs_Rank_Global_Gender',
       'hs_Rank_Global_Education_Cn', 'hs_Rank_Global_Education_En',
       'hs_Rank_Global_School_Cn', 'hs_Rank_Global_School_En',
       'hs_Rank_Global_Year', 'hs_Rank_Global_Relations',
       'hs_Rank_Global_MTime', 'hs_Rank_Global_ID', 'hs_Rank_Global_ListID',
       'hs_Rank_Global_Ranking', 'hs_Rank_Global_Ranking_Change',
       'hs_Rank_Global_Wealth', 'hs_Rank_Global_Wealth_USD',
       'hs_Rank_Global_Wealth_Change', 'hs_Rank_Global_ChaName_Cn',
       'hs_Rank_Global_ChaName_En', 'hs_Rank_Global_Cha_ID',
       'hs_Rank_Global_ComName_Cn', 'hs_Rank_Global_ComName_En',
       'hs_Rank_Global_ComHeadquarters_Cn',
       'hs_Rank_Global_ComHeadquarters_En', 'hs_Rank_Global_Industry_Cn',
       'hs_Rank_Global_Industry_En', 'hs_Rank_Global_Com_ID',
       'hs_GlobalAndCha', 'year'],
      dtype='object')

In [41]:
for k, v in data[data['hs_Character_ID'] == 1].iloc[0].iteritems():
    print(k, ": ", v)

hs_Character_Gender :  先生
hs_Character_Birthday :  1964-10-15
hs_Character_Age :  58
hs_Character_MTime :  1905-06-30 12:00:00
hs_Character_Gender_Lang :  Male
hs_Character_ID :  1
hs_Character_Fullname_Cn :  马云
hs_Character_Fullname_En :  Ma Yun
hs_Character_Surname_Cn :  马
hs_Character_Name_Cn :  云
hs_Character_Surname_En :  Ma
hs_Character_Name_En :  Yun
hs_Character_Photo :  https://res.hurun.cn/photo/000001_Ma_Yun.jpg
hs_Character_Nationality :  198
hs_Character_NativePlace_Cn :  中国-浙江-绍兴
hs_Character_NativePlace_En :  China-Zhejiang-Shaoxing
hs_Character_BirthPlace_Cn :  中国-浙江-杭州
hs_Character_BirthPlace_En :  China-Zhejiang-Hangzhou
hs_Character_Permanent_Cn :  中国-浙江-杭州
hs_Character_Permanent_En :  China-Zhejiang-Hangzhou
hs_Character_Education_Cn :  本科
hs_Character_Education_En :  Undergraduate
hs_Character_School_Cn :  杭州师范学院
hs_Character_School_En :  杭州师范学院
hs_Character_Major_Cn :  Hangzhou Normal University
hs_Character_Major_En :  英语专业
hs_Rank_Global_Nationality :  nan
hs_Rank_Global_NativePlace_Cn :  nan
hs_Rank_Global_NativePlace_En :  nan
hs_Rank_Global_BirthPlace_Cn :  nan
hs_Rank_Global_BirthPlace_En :  nan
hs_Rank_Global_Permanent_Cn :  nan
hs_Rank_Global_Permanent_En :  nan
hs_Rank_Global_Photo :  nan
hs_Rank_Global_Age :  nan
hs_Rank_Global_Gender :  nan
hs_Rank_Global_Education_Cn :  nan
hs_Rank_Global_Education_En :  nan
hs_Rank_Global_School_Cn :  nan
hs_Rank_Global_School_En :  nan
hs_Rank_Global_Year :  2022-03-17
hs_Rank_Global_Relations :  家族
hs_Rank_Global_MTime :  2022-03-17 12:00:00
hs_Rank_Global_ID :  8549
hs_Rank_Global_ListID :  46
hs_Rank_Global_Ranking :  34
hs_Rank_Global_Ranking_Change :  -9
hs_Rank_Global_Wealth :  2350.0
hs_Rank_Global_Wealth_USD :  37.0
hs_Rank_Global_Wealth_Change :  -33%
hs_Rank_Global_ChaName_Cn :  马云
hs_Rank_Global_ChaName_En :  Ma Yun
hs_Rank_Global_Cha_ID :  1
hs_Rank_Global_ComName_Cn :  阿里系
hs_Rank_Global_ComName_En :  Alibaba
hs_Rank_Global_ComHeadquarters_Cn :  中国-杭州
hs_Rank_Global_ComHeadquarters_En :  China-Hangzhou
hs_Rank_Global_Industry_Cn :  电子商务、金融科技
hs_Rank_Global_Industry_En :  E-Commerce
hs_Rank_Global_Com_ID :  0
hs_GlobalAndCha :  nan
year :  2022

In [7]:
df = data.set_index('hs_Character_ID')

In [8]:
df = df[['hs_Character_Fullname_En', 
         'hs_Character_Gender', 
         'hs_Character_Age', 
         'hs_Character_Permanent_En', 
         'hs_Rank_Global_Year', 
         'hs_Rank_Global_Wealth_USD',
         'hs_Rank_Global_Industry_En'
        ]]

In [10]:
from ddf_utils.str import to_concept_id

In [11]:
df.index.name = 'id'
df.columns = ['name', 'gender', 'Age', 'place', 'date', 'billion', 'industry']

In [12]:
df['person'] = df['name'].map(to_concept_id)

In [13]:
df

,name,gender,Age,place,date,billion,industry,person
id,,,,,,,,
2200,Elon Musk,先生,51,United States-California-Los Angeles,2022-03-17,205.0,E-Cars,elon_musk
2174,Jeff Bezos,先生,58,United States-Washington State-Seattle,2022-03-17,188.0,E-Commerce,jeff_bezos
2177,Bernard Arnault,先生,73,France-Paris Province-Paris,2022-03-17,153.0,Luxury Goods,bernard_arnault
2175,Bill Gates,先生,67,United States-Washington State-Medina,2022-03-17,124.0,Software & Services,bill_gates
2176,Warren Buffett,先生,92,United States-Nebraska-Omaha,2022-03-17,119.0,Investments,warren_buffett
...,...,...,...,...,...,...,...,...
6225,Lloyd D Frink,先生,56,USA-Washington,2022-03-17,1.0,Online Marketplace,lloyd_d_frink
327,Tu Jianhua,先生,59,China-Chongqing,2022-03-17,1.0,Productivity software,tu_jianhua
3363,Helena Revoredo,女士,未知,Spain-Madrid,2022-03-17,1.0,Technology Services,helena_revoredo
5118,Vardis Vardinoyannis,先生,89,Greece-Athens,2022-03-17,1.0,Commodities,vardis_vardinoyannis
4090,William Fung Kwok-lun,先生,未知,China-Hong Kong,2022-03-17,1.0,Logistics,william_fung_kwok_lun

In [35]:
df[df.name == 'Ma Yun']

,name,gender,Age,place,date,billion,industry,person
id,,,,,,,,
1,Ma Yun,先生,58,China-Zhejiang-Hangzhou,2022-03-17,37.0,E-Commerce,ma_yun

In [14]:
# we have a problem: there are duplicated entries
# TODO: check what's the best way to do
df[df.person.duplicated(keep=False)].sort_values(by='person')

,name,gender,Age,place,date,billion,industry,person
id,,,,,,,,
1926,Chen Yanni,女士,57,China-Zhejiang-Huzhou,2022-03-17,1.7,Biotechnology,chen_yanni
1925,Chen Yanni,女士,40,China-Zhejiang-Shaoxing,2022-03-17,1.8,Electrical equipment,chen_yanni
7,Huang Zheng,先生,42,China-Shanghai,2022-03-17,19.0,E-Commerce,huang_zheng
7288,Huang Zheng,女士,51,China-Guangdong-Shenzhen,2022-03-17,1.1,Consumer Electronics,huang_zheng
199,Jiang Bin,先生,56,China -Shandong - Weifang,2022-03-17,7.3,Semiconductors,jiang_bin
1399,Jiang Bin,先生,55,China-Fujian-Xiamen,2022-03-17,1.0,Healthcare,jiang_bin
2380,Jim Davis,先生,未知,United States-Massachusetts-Newton,2022-03-17,2.4,Human Resource Management,jim_davis
2380,Jim Davis,先生,未知,United States-Massachusetts-Newton,2022-03-17,11.0,Apparel & Accessories,jim_davis
5294,Jin Lei,先生,68,NaN,2022-03-17,1.4,Biotechnology,jin_lei
5294,Jin Lei,先生,68,NaN,2022-03-17,2.3,Medical Devices,jin_lei
39,Li Hua,先生,56,China-Guangdong-Shenzhen,2022-03-17,11.0,Developer,li_hua
39,Li Hua,先生,56,China-Guangdong-Shenzhen,2022-03-17,2.9,Financial Services,li_hua
133,Li Li,先生,58,China-Guangdong-Shenzhen,2022-03-17,3.5,Pharmaceuticals,li_li
298,Li Li,先生,57,China-Hunan-Changsha,2022-03-17,3.3,Healthcare,li_li
6596,Li Min,先生,51,China-Shanghai,2022-03-17,1.1,Industrial Products,li_min
5229,Li Min,先生,57,NaN,2022-03-17,3.3,Semiconductors,li_min
430,Li Ping,先生,54,China-Fujian-Ningde,2022-03-17,1.2,Metals & Mining,li_ping
1851,Li Ping,女士,未知,China-Zhejiang-Hangzhou,2022-03-17,3.6,Real Estate,li_ping
430,Li Ping,先生,54,China-Fujian-Ningde,2022-03-17,11.0,Batteries,li_ping
299,Li Xiaoming,先生,64,China-Yunnan-Yuxi,2022-03-17,9.9,Packaging,li_xiaoming
455,Li Xiaoming,先生,61,China-Beijing,2022-03-17,1.5,Developer,li_xiaoming
5145,Lun Ruixiang,先生,55,China-Hong Kong,2022-03-17,1.2,Developer,lun_ruixiang
5145,Lun Ruixiang,先生,55,China-Hong Kong,2022-03-17,1.2,Estate Holding,lun_ruixiang
3874,Willis J Johnson,先生,未知,United States-California,2022-03-17,1.6,Automobile,willis_j_johnson
3874,Willis J Johnson,先生,未知,United States-California,2022-03-17,2.7,Automobile,willis_j_johnson
362,Xu Xin,先生,56,China-Shanghai,2022-03-17,2.5,Investments,xu_xin
2172,Xu Xin,女士,未知,China-Zhejiang-Hangzhou,2022-03-17,1.3,Semiconductors,xu_xin
6463,Yeung Kin Man,先生,69,China-Hong Kong,2022-03-17,8.3,Industrial Products,yeung_kin_man
2509,Yeung Kin Man,先生,未知,China-Hong Kong,2022-03-17,5.6,Industrial Products,yeung_kin_man
11,Zhang Yong,先生,51,Singapore,2022-03-17,10.0,Restaurants,zhang_yong
910,Zhang Yong,先生,未知,China-Zhejiang-Hangzhou,2022-03-17,1.3,E-Commerce,zhang_yong
335,Zhou Jian,先生,46,China-Guangdong-Shenzhen,2022-03-17,2.1,Equipments,zhou_jian
335,Zhou Jian,先生,46,China-Guangdong-Shenzhen,2022-03-17,1.9,Consumer Goods,zhou_jian

In [18]:
# handle duplicates
# just use first value available
gs = df.groupby(['id'], group_keys=False)

def func(df):
    if df.shape[0] == 1:
        return df
    res = []
    for c in df.columns:
        try:
            v = df[c].dropna().iloc[0]
        except:
            v = np.nan
        res.append(v)
    # print(res)
    # print(df.columns)
    # print(df.index.values[0])
    return pd.DataFrame([res], columns=df.columns, index=[df.index.values[0]])

person = gs.apply(func)

In [19]:
person = person.set_index('person')

In [20]:
person

,name,gender,Age,place,date,billion,industry
person,,,,,,,
ma_yun,Ma Yun,先生,58,China-Zhejiang-Hangzhou,2022-03-17,37.0,E-Commerce
ma_huateng,Ma Huateng,先生,51,China-Guangdong-Shenzhen,2022-03-17,52.0,Gaming
xu_jiayin,Xu Jiayin,先生,64,China-Guangdong-Guangzhou,2022-03-17,7.6,Developer
he_xiangjian,He Xiangjian,先生,80,China-Guangdong-Foshan,2022-03-17,36.0,Household Appliances
sun_piaoyang,Sun Piaoyang,先生,64,China-Shanghai,2022-03-17,11.0,Pharmaceuticals
...,...,...,...,...,...,...,...
xu_chengchen,Xu Chengchen,先生,34,China-Nantong,2022-03-17,1.9,Green Energy
jiang_xueying,Jiang Xueying,女士,49,China-Hangzhou,2022-03-17,1.7,Biotechnology
reshma_shetty,Reshma Shetty,女士,未知,USA-Boston,2022-03-17,1.1,Biotechnology
niejuan,Niejuan,女士,43,China-Changsha,2022-03-17,1.1,Medical Devices
liu_lei,Liu Lei,女士,43,China-Hefei,2022-03-17,1.0,Auto Components

In [43]:
forbes_person = pd.read_csv('../../ddf--entities--person.csv')

In [44]:
forbes_person

,person,name,age,gender,country,source,industry
0,a_jayson_adair,A. Jayson Adair,52.0,M,United States,damaged cars,Automotive
1,a_jerrold_perenchio,A. Jerrold Perenchio,91.0,M,United States,"Univision; television; television, Univision",Media; Media & Entertainment
2,abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,67.0,M,United Arab Emirates,banking,Finance
3,abdul_majeed_alhokair,Abdul Majeed Alhokair,52.0,M,Saudi Arabia,"retail, real estate",Fashion & Retail
4,abdul_rasyid,Abdul Rasyid,64.0,M,Indonesia,"timber, palm oil",Manufacturing
...,...,...,...,...,...,...,...
3939,ziyavudin_magomedov,Ziyavudin Magomedov,53.0,M,Russia,"port, gas",Energy
3940,zong_qinghou,Zong Qinghou; QInghou Zong,76.0,M,China,beverages; Beverages,Food & Beverage; Beverages; Food and Beverage
3941,zugen_ni,Zugen Ni,65.0,M,China,appliances,Manufacturing
3942,zuo_hui,Zuo Hui,51.0,M,China,real estate services,Real Estate
3943,zygmunt_solorz_zak,Zygmunt Solorz-Zak,65.0,M,Poland,TV broadcasting; TV station,Media & Entertainment; Media

In [23]:
forbes_person = forbes_person.set_index('person')

In [26]:
forbes_person

,name,age,gender,country,source,industry
person,,,,,,
a_jayson_adair,A. Jayson Adair,52.0,M,United States,damaged cars,Automotive
a_jerrold_perenchio,A. Jerrold Perenchio,91.0,M,United States,"Univision; television; television, Univision",Media; Media & Entertainment
abdul_aziz_al_ghurair,Abdul Aziz Al Ghurair,67.0,M,United Arab Emirates,banking,Finance
abdul_majeed_alhokair,Abdul Majeed Alhokair,52.0,M,Saudi Arabia,"retail, real estate",Fashion & Retail
abdul_rasyid,Abdul Rasyid,64.0,M,Indonesia,"timber, palm oil",Manufacturing
...,...,...,...,...,...,...
ziyavudin_magomedov,Ziyavudin Magomedov,53.0,M,Russia,"port, gas",Energy
zong_qinghou,Zong Qinghou; QInghou Zong,76.0,M,China,beverages; Beverages,Food & Beverage; Beverages; Food and Beverage
zugen_ni,Zugen Ni,65.0,M,China,appliances,Manufacturing
zuo_hui,Zuo Hui,51.0,M,China,real estate services,Real Estate
zygmunt_solorz_zak,Zygmunt Solorz-Zak,65.0,M,Poland,TV broadcasting; TV station,Media & Entertainment; Media

In [32]:
forbes_person[forbes_person.name.str.contains('Jack Ma')]

,name,age,gender,country,source,industry
person,,,,,,
jack_ma,Jack Ma,57.0,M,China,e-commerce; Internet; internet,Technology; Internet

In [ ]:
forbes_person

In [ ]:
# Steps:
# 1. convert income to inflation adjusted 
# 2. convert name to concept id
# 3. convert country to geo
# 4. map name to person name in forbes


# in forbes 马云 is Jack Ma which is his English name.
# but in Hurun the English name is Ma Yun which is just the PinYin of Chinese name.
# So it's really hard to combine Forbes and Hurun

In [44]:
person.loc['ma_yun']

name                         Ma Yun
gender                           先生
Age                              58
place       China-Zhejiang-Hangzhou
date                     2022-03-17
billion                        37.0
industry                 E-Commerce
Name: ma_yun, dtype: object